Repository woocommerce/woocommerce-admin, pull requests merged in 2018-12, with the labels that each got.

#930 REST API: Add /reports/variations
  includes/api/class-wc-admin-rest-reports-variations-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-variations-query.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  includes/wc-admin-order-functions.php
Labels: [Status] Needs Review

#947 Add unit tests to /reports/variations
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  tests/api/reports-variations.php
  tests/reports/class-wc-tests-reports-variations.php
Labels: REST API, [Status] Ready to Merge

#968 Use ReportTable in Orders report
  client/analytics/components/report-table/index.js
  client/analytics/report/orders/table.js
  client/analytics/report/orders/utils.js
  client/wc-api/orders/operations.js
  client/wc-api/orders/selectors.js
Labels: Analytics, [Status] Ready to Merge

#953 Added support for ordering by product name in products endpoint.
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  tests/reports/class-wc-tests-reports-products.php
Labels: [Status] Ready to Merge

#967 Bump @woocommerce/components to version 1.2.0
  packages/README.md
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: Documentation, Packages, [Status] Ready to Merge

#980 Order data: fix `isGetOrdersRequesting()` for the first request.
  client/wc-api/orders/selectors.js
Labels: [Type] Bug

#982 Use ReportTable in Revenue report
  client/analytics/components/report-table/index.js
  client/analytics/report/revenue/table.js
Labels: Analytics, [Status] Ready to Merge

#975 REST API: Group extended_info for /reports/products
  client/analytics/report/products/table.js
  client/dashboard/top-selling-products/index.js
  client/dashboard/top-selling-products/test/index.js
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  tests/reports/class-wc-tests-reports-products.php
Labels: REST API, [Status] Needs Review

#978 Fixed PHP 5.2 compatibility
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
Labels: REST API, [Status] Ready to Merge

#943 Adding support for advanced filters in orders reports.
  client/analytics/report/orders/config.js
  includes/api/class-wc-admin-rest-reports-categories-controller.php
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/api/class-wc-admin-rest-reports-products-stats-controller.php
  includes/api/class-wc-admin-rest-reports-revenue-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  includes/wc-admin-order-functions.php
  tests/api/reports-revenue-stats.php
  tests/reports/class-wc-tests-reports-orders.php
Labels: [Status] Needs Review

#993 Update Renovate Configuration: Ignore PHPUnit
  renovate.json
Labels: [Status] Ready to Merge, [Type] Try

#995 Fix 'categories' value in Categories report table summary
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/revenue/table.js
Labels: Analytics, [Status] Ready to Merge

#781 Add filters for order tables column headers/rows
  client/analytics/components/report-table/index.js
  client/analytics/report/orders/table.js
  packages/components/src/table/index.js
Labels: Extensibility, [Status] Ready to Merge

#988 Reduce order table net revenue by refund total
  client/analytics/report/orders/utils.js
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  package-lock.json
  tests/reports/class-wc-tests-reports-orders.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#990 Trigger sync_order on order stats table when refunding
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#944 Component: add external d3chart package
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-chart/test/index.js
  client/components/index.js
  package-lock.json
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/d3base/README.md
  packages/components/src/chart/d3chart/d3base/index.js
  packages/components/src/chart/d3chart/d3base/style.scss
  packages/components/src/chart/d3chart/d3base/test/index.js
  packages/components/src/chart/d3chart/example.md
  packages/components/src/chart/d3chart/index.js
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/legend.scss
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/test/fixtures/dummy-hour.js
  packages/components/src/chart/d3chart/test/fixtures/dummy.js
  packages/components/src/chart/d3chart/test/legend.js
  packages/components/src/chart/d3chart/test/utils.js
  packages/components/src/chart/d3chart/utils.js
  packages/components/src/chart/example.md
  packages/components/src/chart/index.js
  packages/components/src/chart/placeholder.js
  packages/components/src/chart/style.scss
  packages/components/src/index.js
  packages/components/src/style.scss
Labels: Components, Packages, [Status] Ready to Merge, [Type] Try

#997 Update @fresh-data/framework to 0.5.1
  package-lock.json
  package.json
Labels: [Status] Needs Review

#853 Activity Panel: Inbox: Bump notes for expiring subs at certain days-remaining thresholds
  includes/class-wc-admin-notes-woo-subscriptions-notes.php
Labels: [Status] Ready to Merge

#1003 Use correct variable to set singular/plural translation in Orders table summary
  client/analytics/report/orders/table.js
Labels: Analytics, [Status] Ready to Merge

#971 Table Component: Update showcols to use keys
  packages/components/CHANGELOG.md
  packages/components/src/table/index.js
  packages/components/src/table/test/index.js
Labels: Components, Packages, [Status] Ready to Merge

#999 Add tax report comparison filters
  client/analytics/report/taxes/config.js
  client/analytics/report/taxes/utils.js
  packages/components/src/search/autocompleters/taxes.js
Labels: Analytics, [Status] Ready to Merge

#931 Updated PHPCS to follow core standards
  composer.json
  composer.lock
  phpcs.xml.dist
Labels: [Status] Ready to Merge

#1016 Update/php sniffs
  composer.json
  composer.lock
  phpcs.xml.dist
Labels: [Status] Ready to Merge

#1004 Fix Activity Panel on existing WooCommerce pages
  client/embedded.js
  client/header/activity-panel/panels/inbox.js
  client/header/style.scss
  client/stylesheets/shared/_embed.scss
  client/wc-api/notes/index.js
  client/wc-api/notes/operations.js
  client/wc-api/notes/selectors.js
  client/wc-api/wc-api-spec.js
  lib/client-assets.php
  webpack.config.js
Labels: Activity Panel, [Status] Ready to Merge

#1017 Add/tax report filters/924
  client/analytics/report/taxes/config.js
  client/analytics/report/taxes/utils.js
  packages/components/src/search/autocompleters/taxes.js
Labels: [Status] Ready to Merge

#1021 Add missing comma to chart tooltip label
  packages/date/src/index.js
Labels: Analytics, [Status] Ready to Merge

#1026 Fix ReportNumber sometimes receiving NaN values
  client/analytics/components/report-summary/index.js
  client/analytics/components/report-summary/test/index.js
  client/analytics/components/report-summary/utils.js
  packages/components/src/index.js
  packages/components/src/summary/number.js
Labels: Analytics, [Status] Ready to Merge, [Tests] Includes Tests

#1037 withSelect: fix for multiple select() calls
  client/wc-api/with-select.js
  client/wc-api/wp-data-store/index.js
Labels: [Status] Ready to Merge

#1040 Fix console errors in DevDocs
  packages/components/src/filters/example.md
  packages/components/src/table/example.md
Labels: [Status] Ready to Merge

#1042 Fix wrong default data structure in 'getReportTableData'
  client/analytics/components/report-table/index.js
  client/store/reports/test/utils.js
  client/store/reports/utils.js
Labels: [Status] Ready to Merge

#1053 Remove lodash noConflict
  lib/client-assets.php
Labels: [Status] Ready to Merge

#987 Add stock info to Products Report
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/products/utils.js
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/api/class-wc-admin-rest-reports-variations-controller.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  tests/api/reports-products.php
  tests/reports/class-wc-tests-reports-products.php
  tests/reports/class-wc-tests-reports-variations.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1019 Add tax stats endpoint
  includes/api/class-wc-admin-rest-reports-taxes-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-taxes-stats-query.php
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
  tests/api/reports-taxes-stats.php
Labels: REST API, [Status] Ready to Merge

#1000 Add taxes endpoint and data store
  includes/api/class-wc-admin-rest-reports-taxes-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-taxes-query.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/api/reports-taxes.php
Labels: REST API, [Status] Ready to Merge

#1049 Add z-index to admin menu wrap to fix menu overlapping
  client/stylesheets/shared/_reset.scss
Labels: [Status] Ready to Merge, [Type] Bug

#893 Activity Panel: Inbox: Filter update and error notes out of the inbox
  client/header/activity-panel/panels/inbox.js
  includes/api/class-wc-admin-rest-admin-notes-controller.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  tests/api/admin-notes.php
Labels: [Status] Ready to Merge

#1064 Add autolabeler to automatically label PRs
  .github/autolabeler.yml
Labels: [Status] Ready to Merge

#1054 Customers: add one advanced filter
  client/analytics/report/customers/config.js
  client/analytics/report/customers/index.js
  client/store/reports/utils.js
  package-lock.json
Labels: [Status] Ready to Merge

#1058 Update docs and remove reference to internal components
  bin/generate-docs/index.js
  bin/generate-docs/lib/file-system.js
  docs/components/d3chart.md
  docs/components/filters.md
  docs/components/search.md
  docs/components/summary.md
  packages/components/src/calendar/example.md
Labels: Components, Packages, [Type] Bug

#1065 Release v0.3.0
  package-lock.json
  package.json
  wc-admin.php
Labels: Build, [Status] Needs Review

#1056 Table: Add onColumnsChange
  packages/components/CHANGELOG.md
  packages/components/src/table/index.js
Labels: Components, [Status] Ready to Merge

#1061 Add customers endpoint to wc-api operations
  client/wc-api/reports/items/operations.js
Labels: Analytics, [Status] Ready to Merge

#1066 Update CONTRIBUTING.md with PR instructions
  CONTRIBUTING.md
Labels: Documentation, [Status] Ready to Merge

#1052 Add screen reader labels to table headers which are not buttons
  packages/components/src/table/table.js
Labels: Accessibility, Components, [Status] Ready to Merge

#1055 Add Live Data to Reviews Panel
  client/header/activity-panel/panels/reviews.js
  client/wc-api/reviews/index.js
  client/wc-api/reviews/operations.js
  client/wc-api/reviews/selectors.js
  client/wc-api/wc-api-spec.js
  includes/api/class-wc-admin-rest-product-reviews-controller.php
  includes/api/class-wc-admin-rest-products-controller.php
  includes/class-wc-admin-api-init.php
  tests/api/product-reviews.php
  tests/api/products.php
Labels: Activity Panel, REST API, [Status] Ready to Merge

#1060 Removed force update in tests
  tests/api/reports-products-stats.php
  tests/reports/class-wc-tests-reports-orders.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: REST API, [Status] Ready to Merge

#1078 Remove trailing slash on base_dir variable.
  tests/bootstrap.php
Labels: [Status] Ready to Merge

#1071 Fix screen reader label IDs
  packages/components/src/table/table.js
Labels: Accessibility, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1079 Add util to packages to fix build.
  packages/components/src/search/autocompleters/taxes.js
  packages/components/src/search/autocompleters/utils.js
Labels: Build, Components, Packages, [Status] Ready to Merge

#1076 Change renovate to a once-weekly schedule
  renovate.json
Labels: Build, [Status] Ready to Merge

#1082 Add column visibility prefs to all tables
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/taxes/table.js
  client/wc-api/user/operations.js
  lib/admin.php
Labels: Analytics, Components, [Status] Ready to Merge

#1083 Add documentation for how to write documentation
  docs/_sidebar.md
  docs/documentation.md
  package-lock.json
  package.json
Labels: Build, Documentation, [Status] Ready to Merge

#1081 Add `TextControlWithAffixes` component
  client/devdocs/examples.json
  docs/components/_sidebar.md
  docs/components/table.md
  docs/components/text-control-with-affixes.md
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/components/src/text-control-with-affixes/example.md
  packages/components/src/text-control-with-affixes/index.js
  packages/components/src/text-control-with-affixes/style.scss
Labels: Build, Components, Packages

#1077 Add alert when wc-admin build does not exist.
  wc-admin.php
Labels: Build, [Status] Ready to Merge

#1080 Add a country filter to the customers report
  client/analytics/report/customers/config.js
  lib/client-assets.php
  packages/components/CHANGELOG.md
  packages/components/src/search/autocompleters/countries.js
  packages/components/src/search/autocompleters/index.js
  packages/components/src/search/index.js
  packages/components/src/tag/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#974 [REST API] Stock endpoint
  includes/api/class-wc-admin-rest-reports-stock-controller.php
  includes/class-wc-admin-api-init.php
  tests/api/reports-stock.php
Labels: REST API, [Status] Needs Review

#1088 Updating changelogs for npm release.
  packages/components/CHANGELOG.md
  packages/date/CHANGELOG.md
Labels: Build, Components, Packages, [Status] Ready to Merge

#1093 Rename 'totalCount' to 'totalResults'
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/revenue/table.js
Labels: Analytics, [Status] Ready to Merge

#977 Stock report
  client/analytics/report/index.js
  client/analytics/report/stock/config.js
  client/analytics/report/stock/index.js
  client/analytics/report/stock/table.js
  client/wc-api/reports/items/operations.js
  lib/admin.php
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1089 Add Advanced Numerical Value Filter
  lib/common.php
  packages/components/src/filters/advanced/index.js
  packages/components/src/filters/advanced/number-filter.js
  packages/components/src/filters/advanced/style.scss
  packages/components/src/filters/example.md
  packages/components/src/text-control-with-affixes/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1101 Rename 'isError' methods to 'getError' when they return an object instead of a boolean
  client/analytics/report/orders/table.js
  client/analytics/report/revenue/table.js
  client/dashboard/top-selling-products/index.js
  client/dashboard/top-selling-products/test/index.js
  client/header/activity-panel/panels/inbox.js
  client/header/activity-panel/panels/orders.js
  client/header/activity-panel/panels/reviews.js
  client/store/reports/test/utils.js
  client/store/reports/utils.js
  client/wc-api/notes/selectors.js
  client/wc-api/orders/selectors.js
  client/wc-api/reports/items/selectors.js
  client/wc-api/reports/stats/selectors.js
  client/wc-api/reviews/selectors.js
Labels: Analytics, [Status] Ready to Merge

#1092 Add customer email filter
  client/analytics/report/customers/config.js
  includes/api/class-wc-admin-rest-customers-controller.php
  includes/class-wc-admin-api-init.php
  packages/components/CHANGELOG.md
  packages/components/src/search/autocompleters/emails.js
  packages/components/src/search/autocompleters/index.js
  packages/components/src/search/index.js
Labels: Analytics, Components, Packages, REST API, [Status] Needs Review

#1106 Add base downloads report page
  client/analytics/report/customers/config.js
  client/analytics/report/downloads/config.js
  client/analytics/report/downloads/index.js
  client/analytics/report/index.js
  lib/admin.php
Labels: Analytics

#1075 Extend customers table data with data from WC endpoint
  client/analytics/components/report-table/index.js
  client/analytics/components/report-table/utils.js
  client/analytics/report/customers/table.js
  client/wc-api/customers/index.js
  client/wc-api/customers/operations.js
  client/wc-api/customers/selectors.js
  client/wc-api/wc-api-spec.js
Labels: Analytics, [Status] Ready to Merge

#1114 Use <Link> instead of <a> for Orders table link
  client/analytics/report/orders/table.js
Labels: Analytics, [Status] Ready to Merge

#1117 Add customer username filter to Customers page
  client/analytics/report/customers/config.js
  packages/components/CHANGELOG.md
  packages/components/src/search/autocompleters/index.js
  packages/components/src/search/autocompleters/usernames.js
  packages/components/src/search/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1109 Add fix for npm install https issue
  package-lock.json
  package.json
Labels: Build, [Status] Ready to Merge

#1121 Fix error on dashboard.
  client/dashboard/top-selling-products/index.js
  client/dashboard/top-selling-products/test/index.js
Labels: Dashboard, [Status] Needs Review

#996 Categories table: Hook up to endpoint
  client/analytics/report/categories/table.js
  client/store/reports/items/resolvers.js
  client/wc-api/reports/items/operations.js
  includes/api/class-wc-admin-rest-reports-categories-controller.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  tests/api/reports-categories.php
Labels: Analytics, REST API, [Status] Needs Design Review, [Status] Needs Review

#1108 Add nvmrc for newest lts release
  .nvmrc
Labels: Build, [Status] Needs Review

#1123 Add section on "Dev Docs"
  docs/README.md
Labels: Documentation, [Status] Needs Review

#1119 Fix “uncontrolled input” warning in NumberFilter component.
  packages/components/src/filters/advanced/number-filter.js
Labels: Components, Packages, [Status] Needs Review, [Type] Bug

#1105 Change product_gross_revenue to product_net_revenue
  client/analytics/report/categories/config.js
  client/analytics/report/categories/table.js
  client/analytics/report/products/config.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/dashboard/top-selling-products/__mocks__/top-selling-products-mock-data.js
  client/dashboard/top-selling-products/index.js
  client/dashboard/top-selling-products/test/index.js
  includes/api/class-wc-admin-rest-reports-categories-controller.php
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/api/class-wc-admin-rest-reports-products-stats-controller.php
  includes/api/class-wc-admin-rest-reports-variations-controller.php
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  includes/wc-admin-order-functions.php
  tests/api/reports-categories.php
  tests/api/reports-products-stats.php
  tests/api/reports-products.php
  tests/api/reports-variations.php
  tests/reports/class-wc-tests-reports-products.php
  tests/reports/class-wc-tests-reports-variations.php
Labels: Analytics, REST API, [Status] Needs Review

#1085 Customers report: Name Advanced Filter
  client/analytics/report/customers/config.js
  client/analytics/report/customers/table.js
  docs/components/search.md
  docs/components/table.md
  packages/components/src/filters/advanced/index.js
  packages/components/src/filters/advanced/search-filter.js
  packages/components/src/search/autocompleters/customers.js
  packages/components/src/search/index.js
  packages/components/src/table/index.js
  packages/components/src/table/style.scss
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1113 Downloads Report: add summary number, chart and table
  client/analytics/report/downloads/config.js
  client/analytics/report/downloads/index.js
  client/analytics/report/downloads/table.js
  client/analytics/report/index.js
  client/wc-api/reports/items/operations.js
  client/wc-api/reports/stats/operations.js
Labels: Analytics, [Status] Ready to Merge

#1010 Added /reports/coupons and /reports/coupons/stats endpoints
  includes/api/class-wc-admin-rest-reports-coupons-controller.php
  includes/api/class-wc-admin-rest-reports-coupons-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-coupons-query.php
  includes/class-wc-admin-reports-coupons-stats-query.php
  includes/class-wc-admin-reports-interval.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/wc-admin-order-functions.php
  tests/api/admin-notes.php
  tests/api/reports-coupons-stats.php
  tests/api/reports-coupons.php
  tests/api/reports-interval.php
  tests/framework/helpers/class-wc-helper-reports.php
  tests/reports/class-wc-tests-reports-coupons-stats.php
  tests/reports/class-wc-tests-reports-coupons.php
Labels: REST API, [Status] Needs Review

#1133 Add Accessibility section to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Build, [Status] Ready to Merge

#1134 Variations Table: add product, variations query params
  client/analytics/report/products/table-variations.js
Labels: [Status] Ready to Merge

#1132 Fix Tag misalignment inside Search in Firefox
  packages/components/src/search/style.scss
  packages/components/src/tag/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1059 Fix item refunds report data
  includes/wc-admin-order-functions.php
Labels: Analytics, REST API, [Status] Needs Review

#1135 REST API: Categories query optimization
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
Labels: [Status] Ready to Merge

#1112 Hook up coupon report to new REST endpoint
  client/analytics/report/coupons/config.js
  client/analytics/report/coupons/index.js
  client/analytics/report/coupons/table.js
  client/store/reports/items/resolvers.js
  client/store/reports/stats/resolvers.js
  client/wc-api/reports/items/operations.js
  client/wc-api/reports/stats/operations.js
Labels: Analytics, REST API, [Status] Ready to Merge

#1131 Add product categories wc-api and breadcrumbs
  client/analytics/report/categories/breadcrumbs.js
  client/analytics/report/categories/table.js
  client/analytics/report/products/style.scss
  client/analytics/report/products/table.js
  client/wc-api/categories/index.js
  client/wc-api/categories/operations.js
  client/wc-api/categories/selectors.js
  client/wc-api/wc-api-spec.js
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  tests/reports/class-wc-tests-reports-products.php
Labels: Analytics, REST API, [Status] Needs Design Review, [Status] Needs Review

#1116 Add customer numeric filters
  client/analytics/report/customers/config.js
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  packages/components/src/filters/advanced/index.js
Labels: Analytics, Components, Packages, [Status] Needs Review

#1122 Add `reports/downloads` REST API endpoint.
  includes/api/class-wc-admin-rest-reports-downloads-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-downloads-query.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-downloads-data-store.php
  tests/api/reports-downloads.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1141 Add remaining filters to the downloads report
  client/analytics/report/downloads/config.js
  includes/api/class-wc-admin-rest-data-controller.php
  includes/api/class-wc-admin-rest-data-download-ips-controller.php
  includes/api/class-wc-admin-rest-orders-controller.php
  includes/class-wc-admin-api-init.php
  packages/components/CHANGELOG.md
  packages/components/src/search/autocompleters/download-ips.js
  packages/components/src/search/autocompleters/index.js
  packages/components/src/search/autocompleters/orders.js
  packages/components/src/search/index.js
  tests/api/data.php
  tests/api/orders.php
Labels: Analytics, Components, Packages, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1140 Report components docs
  bin/generate-docs/index.js
  bin/generate-docs/lib/file-system.js
  client/analytics/components/index.js
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-error/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/components/report-table/index.js
  docs/components/README.md
  docs/components/_sidebar.md
  docs/components/analytics/README.md
  docs/components/analytics/report-chart.md
  docs/components/analytics/report-error.md
  docs/components/analytics/report-summary.md
  docs/components/analytics/report-table.md
  docs/components/packages/README.md
  docs/components/packages/animation-slider.md
  docs/components/packages/calendar.md
  docs/components/packages/card.md
  docs/components/packages/chart.md
  docs/components/packages/count.md
  docs/components/packages/dropdown-button.md
  docs/components/packages/ellipsis-menu.md
  docs/components/packages/empty-content.md
  docs/components/packages/filters.md
  docs/components/packages/flag.md
  docs/components/packages/gravatar.md
  docs/components/packages/image-asset.md
  docs/components/packages/link.md
  docs/components/packages/order-status.md
  docs/components/packages/pagination.md
  docs/components/packages/product-image.md
  docs/components/packages/rating.md
  docs/components/packages/search.md
  docs/components/packages/section-header.md
  docs/components/packages/section.md
  docs/components/packages/segmented-selection.md
  docs/components/packages/split-button.md
  docs/components/packages/summary.md
  docs/components/packages/table.md
  docs/components/packages/tag.md
  docs/components/packages/text-control-with-affixes.md
  docs/components/packages/view-more-list.md
  packages/components/src/chart/index.js
Labels: Build, Documentation, [Status] Needs Review

#1162 Clear filter query on removing all items
  packages/components/src/filters/compare/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1161 Add product SKU to products report
  client/analytics/report/products/table.js
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  tests/reports/class-wc-tests-reports-products.php
Labels: REST API, [Status] Ready to Merge

#1165 Fix margin on dashboard block charts
  client/dashboard/dashboard-charts/block.scss
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1166 Set minimum content height to prevent cutoff of absolute content
  client/header/style.scss
  client/stylesheets/abstracts/_variables.scss
  client/stylesheets/shared/_reset.scss
Labels: [Status] Ready to Merge, [Type] Bug

#1168 Charts: fix weird Y-axis ticks when max Y value is a small number
  packages/components/src/chart/d3chart/utils.js
Labels: Components, Packages, [Status] Ready to Merge

#1149 Use unbounded per_page limit in apiFetch for categories
  client/analytics/report/categories/table.js
  client/analytics/report/products/table.js
  client/wc-api/categories/operations.js
  includes/class-wc-admin-api-init.php
Labels: REST API, [Status] Ready to Merge

#1170 Fix ie11 blank screen by babel transforms
  package.json
  webpack.config.js
Labels: Build, [Status] Ready to Merge, [Type] Bug

#1158 Switched average order value from gross to net revenue
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  tests/reports/class-wc-tests-reports-orders.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: [Status] Ready to Merge

#1074 Sync order status on refund delete
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/wc-admin-order-functions.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1179 Filter by categories query param in categories data store
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1151 Fix order status product sync
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  includes/wc-admin-order-functions.php
Labels: Analytics, REST API, [Status] Ready to Merge

#1196 Allow Search box to break into several lines
  packages/components/src/filters/advanced/style.scss
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1195 Improve Charts X-axis when displaying a single date
  client/analytics/components/report-chart/index.js
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/test/utils.js
  packages/components/src/chart/d3chart/utils.js
  packages/date/src/index.js
Labels: Components, Packages, [Status] Needs Review, [Tests] Includes Tests

#1194 Add 404 response to REST response for invalid note ID
  includes/api/class-wc-admin-rest-admin-notes-controller.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1197 Add invalid note ID test
  tests/api/admin-notes.php
Labels: REST API, [Tests] Includes Tests

#1201 Sort default category response by category ID
  includes/api/class-wc-admin-rest-reports-categories-controller.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
Labels: REST API, [Status] Needs Review, [Type] Bug

#1204 IE11: Enable Autoprefixer 'grid' in packages
  bin/packages/post-css-config.js
Labels: Build, Components, [Status] Needs Review

#1199 Extract IE11 specific styles to IE stylesheet
  lib/admin.php
  lib/client-assets.php
  packages/components/src/ie.scss
  packages/components/src/segmented-selection/ie.scss
  packages/components/src/segmented-selection/style.scss
  packages/components/src/summary/ie.scss
  packages/components/src/summary/style.scss
  packages/components/src/table/ie.scss
  packages/components/src/table/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1202 Update chart button active state for dashboard charts
  client/dashboard/dashboard-charts/index.js
  packages/components/src/chart/style.scss
Labels: Components, Dashboard, Packages, [Status] Ready to Merge, [Type] Bug

#1203 Show today charts up to the current hour
  client/store/reports/test/utils.js
  client/store/reports/utils.js
  packages/date/src/index.js
Labels: Analytics, Components, Packages, [Status] Needs Review

#1200 Add missing intervals to product reports
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  tests/api/reports-products-stats.php
Labels: REST API, [Status] Needs Review, [Type] Bug

#1198 Dashboard: Add Leaderboard Component
  client/dashboard/index.js
  client/dashboard/leaderboard/__mocks__/top-selling-products-mock-data.js
  client/dashboard/leaderboard/index.js
  client/dashboard/leaderboard/style.scss
  client/dashboard/leaderboard/test/index.js
  client/dashboard/top-selling-products/index.js
  client/store/reports/items/resolvers.js
  package-lock.json
Labels: Dashboard, [Status] Ready to Merge
