Repository woocommerce/woocommerce-admin, pull requests merged in 2019-05, with the labels that each got.

#2135 Prevent chart type buttons breaking in two lines
  packages/components/src/chart/style.scss
Labels: Components, Dashboard, Packages, [Status] Ready to Merge

#2057 Add import delete endpoint and batch actions
  includes/api/class-wc-admin-rest-reports-import-controller.php
  includes/class-wc-admin-actionscheduler-wppoststore.php
  includes/class-wc-admin-reports-sync.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  tests/api-init.php
  tests/api/reports-import.php
  tests/batch-queue.php
  tests/queue-priority.php
Labels: REST API, [Status] Ready to Merge

#2034 Add import endpoint and controller
  client/analytics/settings/config.js
  includes/api/class-wc-admin-rest-reports-import-controller.php
  includes/api/class-wc-admin-rest-system-status-tools-controller.php
  includes/class-wc-admin-actionscheduler-wppoststore.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-sync.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  tests/api-init.php
  tests/api/reports-import.php
  tests/batch-queue.php
  tests/framework/helpers/class-wc-helper-queue.php
  tests/queue-priority.php
Labels: REST API, [Status] Ready to Merge

#2131 Allow renaming Dashboard sections
  client/dashboard/customizable.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/section.js
  client/dashboard/store-performance/index.js
  packages/components/src/ellipsis-menu/style.scss
Labels: Components, Dashboard, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#2156 Persist chart interval in Dashboard
  client/dashboard/dashboard-charts/index.js
Labels: Dashboard, [Status] Ready to Merge

#2134 Dashboard: Section add, remove, move up, and move down
  client/dashboard/components/section-controls/index.js
  client/dashboard/components/section-controls/style.scss
  client/dashboard/customizable.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/store-performance/index.js
  client/dashboard/style.scss
  packages/components/src/ellipsis-menu/index.js
Labels: Components, Packages, [Status] Ready to Merge

#2154 EllipsisMenu: Refactor children to renderContent
  client/dashboard/dashboard-charts/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/store-performance/index.js
  client/header/activity-panel/panels/orders.js
  packages/components/CHANGELOG.md
  packages/components/src/ellipsis-menu/example.md
  packages/components/src/ellipsis-menu/index.js
  packages/components/src/table/index.js
Labels: Components, Packages, [Status] Ready to Merge

#2169 Fix customer type filter param in orders report
  client/analytics/report/orders/config.js
Labels: Analytics, REST API, [Status] Ready to Merge, [Type] Bug

#2073 Add Historical Data Import Screen
  client/analytics/settings/historical-data/actions.js
  client/analytics/settings/historical-data/index.js
  client/analytics/settings/historical-data/period-selector.js
  client/analytics/settings/historical-data/progress.js
  client/analytics/settings/historical-data/skip-checkbox.js
  client/analytics/settings/historical-data/status.js
  client/analytics/settings/historical-data/style.scss
  client/analytics/settings/index.js
  includes/api/class-wc-admin-rest-orders-controller.php
  packages/components/CHANGELOG.md
  packages/components/src/calendar/date-picker.js
  packages/components/src/calendar/input.js
Labels: Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#2157 Don't make an API call when there are no performance indicators
  client/dashboard/store-performance/index.js
Labels: Dashboard, [Status] Ready to Merge

#2171 Vertically center Dashboard 'Add more' button
  client/dashboard/style.scss
Labels: Dashboard, [Status] Ready to Merge

#2148 Save section/block preferences in user data
  client/dashboard/README.md
  client/dashboard/components/section.js
  client/dashboard/customizable.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/default-sections.js
  client/dashboard/leaderboards/index.js
  client/dashboard/store-performance/index.js
  client/wc-api/user/operations.js
  includes/features/dashboard/class-wc-admin-dashboard.php
Labels: Dashboard, [Status] Ready to Merge

#1933 Add profile wizard base page
  client/dashboard/index.js
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding

#2184 Travis: Exit scripts with error when one occurs
  bin/js_lint_test.sh
  client/dashboard/store-performance/index.js
Labels: Build, [Status] Ready to Merge

#2138 Dashboard: Rename class/feature to remove conflict with legacy dashboard widget
  client/dashboard/components/section-controls/index.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/store-performance/index.js
  client/layout/controller.js
  config/core.json
  config/development.json
  config/plugin.json
  includes/class-wc-admin-loader.php
  includes/features/analytics-dashboard/class-wc-admin-analytics-dashboard.php
Labels: [Status] Ready to Merge

#2187 Check for page suffix to fix blank pages with WC Branding
  includes/class-wc-admin-loader.php
Labels: [Status] Ready to Merge, [Type] Bug

#2147 Show Y grid ticks/lines in charts where all values are lower than 1
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/utils/axis-y.js
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/scales.js
  packages/components/src/chart/index.js
Labels: Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#2177 Hook up API Historical Data screen to API endpoints
  client/analytics/settings/historical-data/actions.js
  client/analytics/settings/historical-data/index.js
  client/analytics/settings/historical-data/period-selector.js
  client/analytics/settings/index.js
Labels: [Status] Ready to Merge

#2150 add a defaultValue parameter to the ReportFilters component
  client/analytics/components/report-chart/utils.js
  packages/components/src/filters/filter/index.js
Labels: Components, Packages, [Status] Ready to Merge

#2190 fix customer name logic on populating customer lookup data
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: [Status] Ready to Merge, [Type] Bug

#2083 Record refunds separate from order entries
  client/header/activity-panel/panels/orders.js
  includes/api/class-wc-admin-rest-reports-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-install.php
  includes/class-wc-admin-order-refund.php
  includes/class-wc-admin-order-trait.php
  includes/class-wc-admin-order.php
  includes/class-wc-admin-reports-orders-stats-segmenting.php
  includes/class-wc-admin-reports-sync.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
  phpcs.xml.dist
  readme.txt
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Needs Review, [Type] Bug

#2179 Add refund filtering to order reports
  client/analytics/report/orders/config.js
  includes/api/class-wc-admin-rest-reports-orders-controller.php
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: Analytics, REST API, [Status] Needs Design Review, [Status] Ready to Merge

#2198 Replace Rebuild reports settings with Import Historical Data
  client/analytics/settings/config.js
  client/analytics/settings/historical-data/actions.js
  client/analytics/settings/historical-data/index.js
Labels: [Status] Ready to Merge

#2189 Add import status endpoint and progress options
  includes/api/class-wc-admin-rest-reports-import-controller.php
  includes/class-wc-admin-actionscheduler-wppoststore.php
  includes/class-wc-admin-reports-sync.php
  includes/notes/class-wc-admin-notes.php
  tests/api/reports-import.php
  tests/framework/helpers/class-wc-helper-queue.php
  woocommerce-admin.php
Labels: REST API, [Status] Ready to Merge

#2221 fix warning for string shipping tax meta value
  includes/class-wc-admin-order-trait.php
Labels: [Status] Ready to Merge, [Type] Bug

#2218 Fix onboarding profiler layout and notices
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#2205 Import refunds on data sync
  includes/class-wc-admin-reports-sync.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#2224 Order milestones: prevent order count queries from being issues on every request.
  includes/notes/class-wc-admin-notes-order-milestones.php
Labels: Inbox, [Status] Ready to Merge, [Type] Bug

#2038 Handle “all guests” when getting customers from orders.
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: Activity Panel, [Status] Needs Review, [Type] Bug

#2207 Fix EllipsisMenu misalignment in wide containers
  packages/components/src/ellipsis-menu/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2209 Refactor page handler API
  docs/page-controller.md
  includes/class-wc-admin-loader.php
  includes/features/analytics-dashboard/class-wc-admin-analytics-dashboard.php
  includes/features/analytics/class-wc-admin-analytics.php
  includes/page-controller/class-wc-admin-page-controller.php
  includes/page-controller/connect-existing-pages.php
  includes/page-controller/page-controller-functions.php
Labels: On Merge to WC Core, [Status] Ready to Merge

#2007 Keep border color and spacing consistent between summary items
  packages/components/src/summary/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2220 Call the installer in `register_activation_hook`
  woocommerce-admin.php
Labels: [Status] Needs Review

#2194 Fix/dashboard issues
  client/dashboard/README.md
  client/dashboard/components/section-controls/style.scss
  client/dashboard/customizable.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/dashboard-charts/style.scss
  client/dashboard/leaderboards/index.js
  client/dashboard/section-controls.js
  client/dashboard/section.js
  client/dashboard/store-performance/index.js
Labels: [Status] Ready to Merge

#2216 Dashboard: re-arrange section dropdown order
  client/dashboard/dashboard-charts/index.js
  client/dashboard/dashboard-charts/style.scss
  client/dashboard/leaderboards/index.js
  client/dashboard/section-controls.js
  client/dashboard/store-performance/index.js
  client/dashboard/style.scss
  client/stylesheets/abstracts/_colors.scss
  packages/components/src/ellipsis-menu/style.scss
  packages/components/src/pagination/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2231 Feature flags: Enable customizable dash on plugin
  config/plugin.json
Labels: [Status] Ready to Merge

#2219 Add filters for customer roles
  includes/class-wc-admin-reports-sync.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  tests/api/reports-import.php
Labels: [Status] Ready to Merge, [Type] Bug

#2211 update default capability for analytics report to view_woocommerce_reports
  includes/class-wc-admin-loader.php
  includes/page-controller/class-wc-admin-page-controller.php
Labels: On Merge to WC Core, [Status] Ready to Merge, [Type] Enhancement

#2232 release 0.12.0
  docs/components/packages/calendar.md
  docs/components/packages/chart.md
  docs/components/packages/ellipsis-menu.md
  docs/components/packages/filters.md
  docs/components/packages/table.md
  package-lock.json
  package.json
  readme.txt
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge

#2102 Update how refunds are displayed in tables
  client/analytics/report/categories/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table.js
  client/analytics/report/revenue/table.js
  client/analytics/report/taxes/table.js
  includes/api/class-wc-admin-rest-reports-controller.php
  includes/class-wc-admin-install.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  packages/components/src/table/style.scss
  packages/currency/src/index.js
Labels: Analytics, Components, Packages, [Status] Needs Design Review, [Status] Needs Review

#2217 Add onboarding profile REST endpoints
  includes/api/class-wc-admin-rest-onboarding-levels-controller.php
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  includes/class-wc-admin-api-init.php
  tests/api/onboarding-levels.php
  tests/api/onboarding-profile.php
Labels: Onboarding, REST API, [Status] Ready to Merge

#2240 Drop 'sold' from 'products sold' in products report
  client/analytics/report/products/table.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2245 Handle `WC_Admin_Notices`.
  client/header/activity-panel/wordpress-notices.js
Labels: Activity Panel, On Merge to WC Core, [Status] Ready to Merge, [Type] Bug

#2226 Refactor main file into singleton class structure
  includes/class-wc-admin-events.php
  includes/class-wc-admin-install.php
  includes/class-wc-admin-loader.php
  includes/core-functions.php
  phpcs.xml.dist
  tests/bootstrap.php
  uninstall.php
  woocommerce-admin.php
Labels: [Status] Ready to Merge

#2248 update to consistent license
  CONTRIBUTING.md
  LICENSE.md
  package.json
  readme.txt
Labels: Build, On Merge to WC Core, [Status] Ready to Merge

#2241 Add step wrapper/controller to onboarding profile wizard
  client/dashboard/index.js
  client/dashboard/profile-wizard/header-logo.js
  client/dashboard/profile-wizard/header.js
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge

#2246 Add Stepper component
  client/devdocs/examples.json
  client/stylesheets/abstracts/_colors.scss
  packages/components/CHANGELOG.md
  packages/components/src/index.js
  packages/components/src/stepper/check-icon.js
  packages/components/src/stepper/example.md
  packages/components/src/stepper/index.js
  packages/components/src/stepper/style.scss
  packages/components/src/style.scss
Labels: Components, Onboarding, Packages, [Status] Needs Review

#2256 Update the minimum WooCommerce requirement on README
  README.md
Labels: [Status] Ready to Merge, [Type] Dev

#2262 Fix profiler header gap and SVG properties
  client/dashboard/profile-wizard/header-logo.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#2255 Add vertical and spinner options to the Stepper Component
  client/dashboard/profile-wizard/steps/plugins.js
  client/stylesheets/abstracts/_colors.scss
  packages/components/src/stepper/example.md
  packages/components/src/stepper/index.js
  packages/components/src/stepper/style.scss
Labels: Components, Onboarding, Packages

#2258 Dashboard: Extend charts data
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/config.js
  client/analytics/report/categories/index.js
  client/analytics/report/coupons/config.js
  client/analytics/report/coupons/index.js
  client/analytics/report/downloads/config.js
  client/analytics/report/downloads/index.js
  client/analytics/report/orders/config.js
  client/analytics/report/orders/index.js
  client/analytics/report/products/config.js
  client/analytics/report/products/index.js
  client/analytics/report/revenue/config.js
  client/analytics/report/revenue/index.js
  client/analytics/report/taxes/config.js
  client/analytics/report/taxes/index.js
  client/dashboard/dashboard-charts/config.js
  client/dashboard/default-sections.js
  includes/features/analytics-dashboard/class-wc-admin-analytics-dashboard.php
Labels: Dashboard, Extensibility, [Status] Ready to Merge, [Type] Dev

#2265 Exclude auto-draft and trashed orders from imports.
  includes/class-wc-admin-reports-sync.php
  tests/api/reports-import.php
Labels: [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#2208 Hook up import/totals endpoint to Historical Data Import screen
  client/analytics/settings/historical-data/index.js
  client/analytics/settings/historical-data/layout.js
  client/analytics/settings/historical-data/progress.js
  client/analytics/settings/historical-data/style.scss
  client/analytics/settings/historical-data/utils.js
  client/wc-api/imports/index.js
  client/wc-api/imports/operations.js
  client/wc-api/imports/selectors.js
  client/wc-api/wc-api-spec.js
Labels: [Status] Ready to Merge

#2264 Update Onboarding Colors
  client/dashboard/profile-wizard/header-logo.js
  client/dashboard/profile-wizard/style.scss
  client/stylesheets/abstracts/_colors.scss
  package.json
  packages/components/src/stepper/style.scss
Labels: Build, Components, Onboarding, Packages

#2252 Update Card component to use Muriel design
  client/analytics/components/leaderboard/index.js
  client/analytics/report/style.scss
  client/dashboard/dashboard-charts/block.js
  client/devdocs/index.js
  client/layout/store-alerts/index.js
  client/stylesheets/abstracts/_variables.scss
  packages/components/CHANGELOG.md
  packages/components/src/card/example.md
  packages/components/src/card/index.js
  packages/components/src/card/style.scss
  packages/components/src/card/test/__snapshots__/index.js.snap
  packages/components/src/filters/advanced/index.js
  packages/components/src/filters/compare/index.js
  packages/components/src/stepper/style.scss
  packages/components/src/table/index.js
Labels: Analytics, Components, Onboarding, Packages, [Status] Needs Review

#2271 Remove errant import update operation from `wp-api` spec.
  client/wc-api/wc-api-spec.js
Labels: [Status] Ready to Merge, [Type] Fix

#2269 Add support for “primary” admin notice actions.
  client/layout/store-alerts/index.js
  includes/class-wc-admin-install.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  includes/notes/class-wc-admin-note.php
  includes/notes/class-wc-admin-notes-historical-data.php
Labels: [Status] Ready to Merge, [Type] Enhancement

#2272 Allow links in admin notice content.
  client/lib/sanitize-html/index.js
  includes/notes/class-wc-admin-note.php
Labels: [Status] Ready to Merge, [Type] Enhancement

#2260 Add onboarding profile wizard step 1
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/start.js
  client/dashboard/profile-wizard/steps/start/images/flash_on.js
  client/dashboard/profile-wizard/steps/start/images/local_atm.js
  client/dashboard/profile-wizard/steps/start/images/phone_android.js
  client/dashboard/profile-wizard/steps/start/images/security.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/start/style.scss
  client/dashboard/profile-wizard/style.scss
  client/stylesheets/abstracts/_variables.scss
  packages/components/src/card/style.scss
  packages/components/src/stepper/style.scss
Labels: Build, Components, Onboarding, Packages, [Status] Ready to Merge

#2290 Fix `box-shadow-8dp` error.
  packages/components/src/card/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2251 Add a prompt for Changelog entry in PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Build, [Status] Needs Review

#2286 Remove d3-array dependency
  package-lock.json
  package.json
Labels: Build, [Status] Needs Review, [Type] Dev

#2270 Add onboarding plugin installation (step 2)
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/style.scss
  includes/api/class-wc-admin-rest-onboarding-plugins-controller.php
  includes/class-wc-admin-api-init.php
  packages/components/src/stepper/style.scss
Labels: Components, Onboarding, Packages, REST API, [Status] Ready to Merge

#2289 Add Muriel Styled Spinner
  client/dashboard/profile-wizard/style.scss
  client/devdocs/examples.json
  packages/components/CHANGELOG.md
  packages/components/src/index.js
  packages/components/src/spinner/example.md
  packages/components/src/spinner/index.js
  packages/components/src/spinner/style.scss
  packages/components/src/stepper/example.md
  packages/components/src/stepper/index.js
  packages/components/src/stepper/style.scss
  packages/components/src/style.scss
Labels: Components, Onboarding, Packages

#2295 Prevent screen meta reflows
  client/embedded.js
  client/stylesheets/shared/_embed.scss
  includes/class-wc-admin-loader.php
Labels: [Status] Ready to Merge

#2291 Move StoreAlerts below screen meta links on embed pages.
  client/embedded.js
  client/layout/index.js
  client/stylesheets/shared/_embed.scss
  includes/class-wc-admin-loader.php
Labels: [Status] Ready to Merge, [Type] Fix

#2225 Persisted Queries: Avoid adding to non time related screens
  .travis.yml
  client/layout/controller.js
  client/layout/test/index.js
  tests/js/setup-globals.js
Labels: Build, [Status] Ready to Merge, [Tests] Includes Tests

#2293 Update settings wc-api to accept multiple setting groups
  client/analytics/settings/index.js
  client/wc-api/settings/mutations.js
  client/wc-api/settings/operations.js
  client/wc-api/settings/selectors.js
Labels: Onboarding, [Status] Ready to Merge

#2263 include license.txt and update component package.json files
  license.txt
  packages/components/package.json
  packages/csv-export/package.json
  packages/currency/package.json
  packages/date/package.json
  packages/navigation/package.json
  packages/number/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#2306 Add missing space in Orders Activity Panel card
  client/header/activity-panel/activity-card/style.scss
Labels: Activity Panel, [Status] Ready to Merge, [Type] Bug

#2296 Update Profile Wizard Header to Display Stepper
  client/dashboard/profile-wizard/header.js
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge

#2302 Dashboard Extension Example: Make namespace unique
  docs/examples/extensions/dashboard-section/woocommerce-admin-dashboard-section.php
Labels: Extensibility, [Status] Ready to Merge, [Type] Fix

#2301 Extensions: fix registering a page
  docs/examples/extensions/add-report/woocommerce-admin-add-report-example.php
  docs/page-controller.md
Labels: Extensibility, [Status] Ready to Merge, [Type] Fix

#2283 Onboarding - Add shared step actions and step 1 actions
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/start/index.js
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  tests/api/onboarding-profile.php
Labels: Build, Components, Onboarding, Packages, [Status] Ready to Merge

#2300 Onboarding: Add profiler body class on initial load + respect skipped/completed flags
  client/dashboard/index.js
  client/layout/index.js
  client/stylesheets/shared/_reset.scss
  includes/api/class-wc-admin-rest-onboarding-plugins-controller.php
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  includes/class-wc-admin-loader.php
  includes/features/onboarding/class-wc-admin-onboarding.php
  tests/api/onboarding-profile.php
Labels: Onboarding, [Status] Ready to Merge

#2318 Onboarding: Add profiler body class on initial load + respect skipped/completed flags
  client/dashboard/index.js
  client/layout/index.js
  client/stylesheets/shared/_reset.scss
  includes/api/class-wc-admin-rest-onboarding-plugins-controller.php
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  includes/class-wc-admin-loader.php
  includes/features/onboarding/class-wc-admin-onboarding.php
  tests/api/onboarding-profile.php
Labels: Onboarding, [Status] Needs Review

#2313 Add Muriel/Newspack components for use in onboarding
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/industry.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/start/style.scss
  client/dashboard/profile-wizard/style.scss
  package.json
  postcss.config.js
  tests/js/jest.config.json
  webpack.config.js
Labels: Build, Onboarding

#2317 Store state settings individually to prevent overwriting
  client/wc-api/settings/operations.js
  client/wc-api/settings/selectors.js
Labels: [Status] Ready to Merge, [Type] Bug

#2316 Fix boolean casting in profile controller params
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#2310 Add profile onboarding mutators and selectors to wc-api
  client/dashboard/index.js
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/wc-api/onboarding/constants.js
  client/wc-api/onboarding/index.js
  client/wc-api/onboarding/mutations.js
  client/wc-api/onboarding/operations.js
  client/wc-api/onboarding/selectors.js
  client/wc-api/wc-api-spec.js
  includes/features/onboarding/class-wc-admin-onboarding.php
Labels: Onboarding, [Status] Blocked, [Status] Needs Review

#2321 Remove customizable dashboard heading
  client/dashboard/customizable.js
Labels: Dashboard, [Status] Ready to Merge

#2323 Add Onboarding Step 5 - Industry
  client/dashboard/profile-wizard/steps/industry.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/start/style.scss
  client/dashboard/profile-wizard/style.scss
  client/wc-api/onboarding/selectors.js
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  includes/features/onboarding/class-wc-admin-onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#2304 Add onboarding step 4
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge

#2344 Allow paragraph tags in admin notes.
  client/lib/sanitize-html/index.js
  includes/notes/class-wc-admin-note.php
Labels: Inbox, [Status] Ready to Merge, [Type] Tweak

#2324 Allow note action URLs to be empty.
  client/header/activity-panel/panels/inbox.js
  client/layout/store-alerts/index.js
  includes/api/class-wc-admin-rest-admin-notes-controller.php
  includes/notes/class-wc-admin-note.php
Labels: Inbox, [Status] Ready to Merge, [Type] Tweak

#2334 Hook up onboarding step 1 actions
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/start/index.js
Labels: Onboarding, [Status] Ready to Merge

#2348 Transpile newspack-components package
  webpack.config.js
Labels: Build, [Status] Ready to Merge, [Type] Dev

#2327 Only show unactioned notes in the Inbox panel.
  client/header/activity-panel/activity-card/style.scss
  client/header/activity-panel/panels/inbox.js
  includes/api/class-wc-admin-rest-admin-note-action-controller.php
  includes/api/class-wc-admin-rest-admin-notes-controller.php
Labels: Inbox, [Status] Ready to Merge, [Type] Enhancement
