Repository woocommerce/woocommerce-admin, pull requests merged in 2019-04, with the labels that each got.

#1912 Add coupons count to data store and hook up to summary numbers in orders report
  client/analytics/report/orders/table.js
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/api/class-wc-admin-rest-reports-revenue-stats-controller.php
  includes/class-wc-admin-reports-orders-stats-query.php
  includes/class-wc-admin-reports-orders-stats-segmenting.php
  includes/class-wc-admin-reports-revenue-query.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/api/reports-orders-stats.php
  tests/api/reports-revenue-stats.php
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1943 Check for existence of orders before adding historical data note
  includes/class-wc-admin-install.php
  includes/notes/class-wc-admin-notes-historical-data.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1878 Refactor notes controller and add ordering params
  client/header/activity-panel/panels/inbox.js
  client/header/activity-panel/unread-indicators.js
  includes/api/class-wc-admin-rest-admin-notes-controller.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  includes/notes/class-wc-admin-notes.php
  lib/client-assets.php
  tests/api/admin-notes.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Type] Bug

#1952 Fix SKU sorting in the Variations report when a comparison is active
  client/analytics/report/products/table-variations.js
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
Labels: REST API, [Status] Ready to Merge

#1949 Update Variations controller filter names
  includes/api/class-wc-admin-rest-product-variations-controller.php
Labels: REST API, [Status] Ready to Merge

#1941 Update readme per feedback
  readme.txt
Labels: [Status] Needs Review

#1958 Scroll to top when navigating pages
  client/layout/controller.js
Labels: [Status] Ready to Merge

#1962 update requirements in GH readme, plugin header
  README.md
  woocommerce-admin.php
Labels: [Status] Ready to Merge

#1960 Only check for unsnooze note scheduled action in admin_init
  includes/notes/class-wc-admin-notes.php
Labels: [Status] Ready to Merge, [Type] Bug

#1947 Activity Panel: Reviews tab fixes
  client/header/activity-panel/unread-indicators.js
Labels: Activity Panel, [Status] Ready to Merge

#1954 getItems: modify parse flag by isUnboundedRequest
  client/wc-api/items/operations.js
Labels: [Status] Ready to Merge, [Type] Bug

#1945 Cast order totals as floats when calculating net total
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1977 lookup product title in order meta if product has been deleted
  includes/data-stores/class-wc-admin-reports-products-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Enhancement

#1986 Releasing v0.10.0
  package-lock.json
  package.json
  readme.txt
  woocommerce-admin.php
Labels: Build

#1973 Update default hidden dashboard items
  client/dashboard/dashboard-charts/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/store-performance/index.js
Labels: Dashboard, [Status] Ready to Merge

#1975 Remove coupon_total from order stats table
  includes/class-wc-admin-install.php
  includes/class-wc-admin-reports-orders-stats-segmenting.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: REST API, [Status] Ready to Merge

#1984 phpcs fixes class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: [Status] Ready to Merge

#1983 add filter length condition to enable filter check
  packages/components/src/filters/advanced/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1971 Fixed: Order Status filter: <select> is not vertically aligned when Gutenberg is installed
  packages/components/src/filters/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1979 Allow negative values in charts
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/axis.js
  packages/components/src/chart/d3chart/utils/test/scales.js
Labels: Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge, [Tests] Includes Tests

#1993 phpcs lint fixes for /data-stores/ folder
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
Labels: [Status] Ready to Merge

#1938 Onboarding: Add levels REST API
  includes/api/class-wc-admin-rest-data-download-ips-controller.php
  includes/api/class-wc-admin-rest-onboarding-levels-controller.php
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/interfaces/class-wc-admin-reports-data-store-interface.php
  tests/api/onboarding-levels.php
  tests/framework/helpers/class-wc-test-action-queue.php
Labels: Onboarding, REST API, [Status] Ready to Merge

#2000 Split D3Chart utils/axis file
  packages/components/src/chart/d3chart/utils/axis-x.js
  packages/components/src/chart/d3chart/utils/axis-y.js
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/test/axis-x.js
  packages/components/src/chart/d3chart/utils/test/axis-y.js
Labels: Components, Packages, [Status] Ready to Merge

#1996 Fix date filter layout on Android
  packages/components/src/calendar/style.scss
  packages/components/src/filters/date/content.js
  packages/components/src/filters/date/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1989 Scroll to top only when URL changes
  client/layout/controller.js
Labels: [Status] Ready to Merge

#1994 Fix/search filter focus
  packages/components/CHANGELOG.md
  packages/components/src/animation-slider/index.js
  packages/components/src/filters/filter/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1872 Add order milestone notifications.
  client/header/activity-panel/activity-card/index.js
  client/header/activity-panel/panels/inbox.js
  includes/notes/class-wc-admin-note.php
  includes/notes/class-wc-admin-notes-order-milestones.php
  woocommerce-admin.php
Labels: Activity Panel, Inbox, [Status] Ready to Merge, [Type] Enhancement

#1995 Add leaderboard controller and endpoint
  includes/api/class-wc-admin-rest-leaderboards-controller.php
  includes/class-wc-admin-api-init.php
  lib/client-assets.php
  lib/common.php
  tests/api/leaderboards.php
Labels: Dashboard, Extensibility, REST API, [Status] Ready to Merge

#1976 Make customer name extendable
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  tests/api/reports-customers.php
Labels: REST API, [Status] Ready to Merge, [Type] Enhancement

#2013 Fix wrong dates in Reviews and Orders panels of the Activity Panel
  client/header/activity-panel/panels/inbox.js
  client/header/activity-panel/panels/orders.js
  client/header/activity-panel/panels/reviews.js
  client/header/activity-panel/unread-indicators.js
Labels: Activity Panel, [Status] Ready to Merge

#1992 SearchListControl: Add an onSearch callback to allow dynamic updating of the list
  packages/components/CHANGELOG.md
  packages/components/src/search-list-control/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1685 Calendar: Use isInvalidDate to disallow date selections
  docs/components/packages/calendar.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/calendar/date-picker.js
  packages/components/src/calendar/date-range.js
  packages/components/src/calendar/example.md
  packages/components/src/calendar/utils.js
  packages/components/src/filters/advanced/date-filter.js
  packages/components/src/filters/date/content.js
Labels: Build, Components, Packages

#2023 PHP Lint fixes
  includes/api/class-wc-admin-rest-leaderboards-controller.php
  includes/api/class-wc-admin-rest-onboarding-levels-controller.php
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/api/class-wc-admin-rest-reports-revenue-stats-controller.php
  includes/notes/class-wc-admin-notes-order-milestones.php
Labels: [Status] Ready to Merge

#2008 Activity Panel: Add a mobile app note
  includes/class-wc-admin-install.php
  includes/notes/class-wc-admin-notes-mobile-app.php
  woocommerce-admin.php
Labels: Activity Panel, Inbox

#2015 add WCA queue group to the unsnooze notes scheduled action
  includes/notes/class-wc-admin-notes.php
Labels: [Status] Ready to Merge

#2004 Hook up leaderboards endpoint to dashboard
  client/analytics/components/leaderboard/index.js
  client/analytics/components/leaderboard/test/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/leaderboards/top-coupons.js
  client/dashboard/leaderboards/top-customers.js
  client/dashboard/leaderboards/top-selling-categories.js
  client/dashboard/leaderboards/top-selling-products.js
  client/wc-api/items/operations.js
  client/wc-api/items/utils.js
  includes/api/class-wc-admin-rest-leaderboards-controller.php
  lib/client-assets.php
Labels: Dashboard, [Status] Ready to Merge

#2022 Add PHP autofix to pre-commit hook
  bin/pre-commit-hook.js
Labels: Build, [Status] Ready to Merge

#1863 Try: Method to publish core ready features
  .gitignore
  bin/generate-feature-config.php
  client/header/index.js
  client/layout/controller.js
  client/layout/index.js
  client/layout/style.scss
  client/wc-api/constants.js
  docs/feature-flags.md
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-loader.php
  includes/features/activity-panel/class-wc-admin-activity-panel.php
  includes/features/analytics/class-wc-admin-analytics.php
  includes/features/dashboard/class-wc-admin-dashboard.php
  includes/features/onboarding/class-wc-admin-onboarding.php
  lib/admin.php
  lib/client-assets.php
  lib/common.php
  package-lock.json
  package.json
  packages/README.md
  phpcs.xml.dist
  woocommerce-admin.php
Labels: Build, On Merge to WC Core, Packages, [Status] Needs Review, [Type] Try

#2039 Packages: Version bumps & changelog maintenance
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/csv-export/CHANGELOG.md
  packages/csv-export/package.json
  packages/currency/CHANGELOG.md
  packages/currency/package.json
  packages/date/CHANGELOG.md
  packages/date/package.json
  packages/navigation/CHANGELOG.md
  packages/navigation/package.json
  packages/number/CHANGELOG.md
  packages/number/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#1998 Hook up Stock panel
  client/header/activity-panel/activity-card/style.scss
  client/header/activity-panel/panels/stock.js
  client/header/activity-panel/panels/stock/card.js
  client/header/activity-panel/panels/stock/index.js
  client/wc-api/items/index.js
  client/wc-api/items/mutations.js
  client/wc-api/items/operations.js
  client/wc-api/wc-api-spec.js
  includes/api/class-wc-admin-rest-product-variations-controller.php
  includes/api/class-wc-admin-rest-products-controller.php
Labels: Activity Panel, [Status] Needs Review

#2043 Update admin notes readme.
  docs/examples/activity-panel-inbox.md
Labels: Documentation, [Status] Ready to Merge

#1990 center mobile icon vertically
  client/header/activity-panel/style.scss
Labels: Dashboard, [Status] Ready to Merge

#2037 Add empty states for the Inbox and Orders panels
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/inbox.js
  client/header/activity-panel/panels/orders.js
  client/wc-api/notes/selectors.js
Labels: Activity Panel, [Status] Ready to Merge

#2005 #1981 Fix/1981 welcome note added
  includes/class-wc-admin-install.php
  includes/notes/class-wc-admin-notes-welcome-message.php
  woocommerce-admin.php
Labels: Activity Panel, Inbox, [Status] Needs Review, [Type] Enhancement

#2049 Add empty state in Stock panel
  client/header/activity-panel/panels/stock/index.js
Labels: Activity Panel, [Status] Needs Review

#2042 Respect manual offsets in default before/after params
  includes/class-wc-admin-reports-interval.php
  includes/data-stores/class-wc-admin-reports-data-store.php
Labels: REST API, [Status] Ready to Merge

#2047 Remove lodash from bundle
  package.json
  webpack.config.js
Labels: Build, [Status] Ready to Merge

#2063 Check if welcome message notice exists before creating it
  includes/notes/class-wc-admin-notes-welcome-message.php
Labels: Inbox, [Status] Ready to Merge

#2019 Fix-#1982
  includes/notes/class-wc-admin-notes-giving-feedback-notes.php
  woocommerce-admin.php
Labels: Activity Panel, Inbox, [Status] Needs Review, [Type] Enhancement

#2046 Build: Clean up package.json & add a `dev` script
  package.json
Labels: Build, [Status] Ready to Merge

#2045 Packages: Update docs to remove outdated step in process
  packages/README.md
Labels: Documentation, Packages, [Status] Ready to Merge

#2018 Try: Extension Examples
  client/analytics/report/index.js
  docs/examples/extensions/README.md
  docs/examples/extensions/add-report/js/index.js
  docs/examples/extensions/add-report/woocommerce-admin-add-report-example.php
  docs/examples/extensions/examples.config.js
  package.json
Labels: Build, Documentation, Extensibility, [Status] Ready to Merge, [Type] Enhancement, [Type] Try

#2033 Extend report submenu items
  docs/examples/extensions/add-report/woocommerce-admin-add-report-example.php
  includes/features/analytics/class-wc-admin-analytics.php
Labels: Build, Extensibility, [Status] Ready to Merge

#2064 Transpile acorn-jsx package
  webpack.config.js
Labels: Build, [Status] Ready to Merge

#2065 remove unneeded build:feature-config from zip build
  bin/build-plugin-zip.sh
Labels: Build, [Status] Ready to Merge, [Type] Sweep

#2072 Fix Plugin release build zip structure
  bin/build-plugin-zip.sh
Labels: Build, Release Blocker, [Status] Ready to Merge

#2075 Add wcAdminAssetUrl property again in wcSettings
  includes/class-wc-admin-loader.php
Labels: Analytics, [Status] Ready to Merge

#2088 Make SummaryListPlaceholder height match SummaryNumber height
  packages/components/CHANGELOG.md
  packages/components/src/summary/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2091 Allow free input in the table pagination input field
  packages/components/CHANGELOG.md
  packages/components/src/pagination/index.js
  packages/components/src/table/index.js
Labels: Components, Packages, [Status] Ready to Merge

#2052 Add customizable dashboard feature flag, and base page.
  client/dashboard/customizable.js
  client/dashboard/index.js
  config/core.json
  config/development.json
  config/plugin.json
Labels: Build, Dashboard, Extensibility, [Status] Ready to Merge

#2094 Add order date filter to customers data store
  includes/api/class-wc-admin-rest-leaderboards-controller.php
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: Dashboard, REST API, [Status] Ready to Merge

#2100 Encode and decode persited query as JSON string in the leaderboards controller
  client/wc-api/items/utils.js
  includes/api/class-wc-admin-rest-leaderboards-controller.php
  tests/api/leaderboards.php
Labels: Dashboard, REST API, [Status] Ready to Merge, [Type] Bug

#2109 Fix warnings in travis: CSS lint error & phpunit warning
  packages/components/src/summary/style.scss
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: Build, Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#2060 update path to feature-config-core.php
  bin/generate-feature-config.php
  package.json
Labels: Build, [Status] Ready to Merge

#2059 Fix missing leaderboard schema options
  includes/api/class-wc-admin-rest-leaderboards-controller.php
  tests/api/leaderboards.php
Labels: REST API, [Status] Needs Review, [Type] Bug

#2096 Use CSS variables in the Activity Panel and breadcrumbs CSS
  client/header/activity-panel/style.scss
  client/header/style.scss
Labels: Activity Panel, [Status] Ready to Merge

#2115 Ensure the feature-config.php file is built with `npm run build`
  README.md
  bin/generate-feature-config.php
  package.json
Labels: Build, [Status] Needs Review

#2117 Add check for wp_set_script_translations.
  includes/class-wc-admin-loader.php
  woocommerce-admin.php
Labels: [Status] Ready to Merge

#2114 update analytics report readme
  client/analytics/report/README.md
Labels: Documentation, [Status] Ready to Merge

#2125 Components: fix README url
  bin/install-wp-tests.sh
  docs/feature-flags.md
  packages/components/README.md
Labels: Build, Components, Packages, [Status] Ready to Merge

#2124 Add empty state for the Reviews panels
  client/header/activity-panel/activity-card/style.scss
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/reviews.js
  client/header/activity-panel/unread-indicators.js
  client/wc-api/constants.js
  client/wc-api/user/operations.js
Labels: Activity Panel, [Status] Ready to Merge

#2129 add check for woocommerce submenu item array
  includes/class-wc-admin-loader.php
Labels: [Status] Ready to Merge

#1907 Support Sequential Order Numbers in Downloads Report order number filter
  includes/api/class-wc-admin-rest-orders-controller.php
  packages/components/src/search/autocompleters/orders.js
  tests/api/orders.php
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#2132 Fix/extension examples
  docs/examples/extensions/add-report/js/index.js
  docs/examples/extensions/examples.config.js
Labels: Build, Extensibility, [Status] Ready to Merge

#2048 Add endpoint route to cancel all pending import actions
  includes/api/class-wc-admin-rest-reports-import-controller.php
  tests/api/reports-import.php
  tests/framework/helpers/class-wc-helper-queue.php
Labels: REST API, [Status] Ready to Merge
