Repository woocommerce/woocommerce-admin, pull requests merged in 2019-11, with the labels that each got.

#3142 Onboarding: Add task list welcome modal
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/layout/style.scss
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3140 Add images to homepage template and a new layout for sites with more than 4 products
  images/onboarding/art-music-photography.jpg
  images/onboarding/electronics-computers.jpg
  images/onboarding/fashion-apparel-accessories.jpg
  images/onboarding/food-drink.jpg
  images/onboarding/health-beauty.jpg
  images/onboarding/home-furniture-garden.jpg
  images/onboarding/other.jpg
  src/API/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge

#3162 update tested to version for WC and WP
  readme.txt
  woocommerce-admin.php
Labels: [Status] Ready to Merge, [Type] Dev

#3145 restrict admin page wrap padding to page wrap
  client/stylesheets/shared/_embed.scss
Labels: [Status] Ready to Merge, [Type] Tweak

#3135 Fix label positioning for SelectControl in IE11
  packages/components/src/select-control/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#3156 Onboarding: Fix mobile styling issues in profiler
  client/dashboard/profile-wizard/steps/industry.js
  client/dashboard/profile-wizard/steps/product-types.js
  client/dashboard/profile-wizard/steps/theme/style.scss
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3161 Update '&' to 'and' in industry labels per style guide
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3159 Create store pages during onboarding
  client/dashboard/profile-wizard/steps/store-details.js
  src/API/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge

#3160 Only show the Jetpack logo in the header if we need to setup Jetpack
  client/dashboard/profile-wizard/header-logo.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Needs Review

#3166 Onboarding: Fix checkbox group gap
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3165 Onboarding: Pre-fill profiler fields with data
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/profile-wizard/steps/industry.js
  client/dashboard/profile-wizard/steps/product-types.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/wc-api/settings/selectors.js
  src/Features/Onboarding.php
  src/Loader.php
Labels: Onboarding, [Status] Needs Review, [Type] Bug

#3172 Fix vendor scripts not loading
  includes/wc-admin-update-functions.php
Labels: [Status] Ready to Merge, [Type] Bug

#3154 Onboarding: Allow users to navigate backwards in steps
  client/dashboard/profile-wizard/header.js
  client/dashboard/profile-wizard/index.js
  packages/components/src/stepper/docs/example.js
  packages/components/src/stepper/index.js
  packages/components/src/stepper/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#3168 Onboarding: Automatically enable tax calculations for manual configuration
  client/dashboard/task-list/tasks/tax.js
Labels: Onboarding, [Status] Needs Review, [Type] Bug

#3173 Onboarding: Pass connection parameters to install extensions
  client/dashboard/profile-wizard/steps/theme/index.js
  src/Features/Onboarding.php
  src/Loader.php
Labels: Onboarding, [Status] Ready to Merge

#3170 Onboarding: Add return to task list after saving taxes
  client/dashboard/task-list/tasks/tax.js
  client/wp-admin-scripts/README.md
  client/wp-admin-scripts/onboarding-tax-notice/index.js
  src/Features/OnboardingTasks.php
  webpack.config.js
Labels: Build, Onboarding, [Status] Ready to Merge

#3183 Onboarding: Check if official TaxJar plugin exists before enabling WCS integration
  client/dashboard/task-list/tasks/tax.js
  src/Features/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3182 Allow WP 5.2 to satisfy dependencies
  src/FeaturePlugin.php
Labels: [Status] Ready to Merge, [Type] Bug

#3119 Show "add a product" notice to stores without published products
  client/stylesheets/shared/_embed.scss
  client/stylesheets/shared/_global.scss
  src/Events.php
  src/Notes/WC_Admin_Notes_Add_First_Product.php
Labels: Inbox, [Status] Ready to Merge, [Type] Enhancement

#3112 Add inbox note prompting to opt in to tracking
  src/Events.php
  src/FeaturePlugin.php
  src/Install.php
  src/Notes/WC_Admin_Notes_Tracking_Opt_In.php
Labels: Activity Panel, Inbox, [Status] Ready to Merge, [Type] Task

#2961 Data store refactor
  docs/data.md
  src/API/Reports/Categories/DataStore.php
  src/API/Reports/Coupons/DataStore.php
  src/API/Reports/Coupons/Stats/DataStore.php
  src/API/Reports/Customers/DataStore.php
  src/API/Reports/Customers/Stats/DataStore.php
  src/API/Reports/DataStore.php
  src/API/Reports/Downloads/DataStore.php
  src/API/Reports/Downloads/Stats/DataStore.php
  src/API/Reports/Orders/DataStore.php
  src/API/Reports/Orders/Stats/DataStore.php
  src/API/Reports/Products/DataStore.php
  src/API/Reports/Products/Stats/DataStore.php
  src/API/Reports/Segmenter.php
  src/API/Reports/SqlQuery.php
  src/API/Reports/Taxes/DataStore.php
  src/API/Reports/Taxes/Stats/DataStore.php
  src/API/Reports/Variations/DataStore.php
  src/ReportCSVEmail.php
  tests/api-init.php
  tests/framework/helpers/class-wc-helper-reports.php
Labels: REST API, [Status] Ready to Merge, [Type] Dev, [estimate] 5

#3188 Fix PHP linter errors.
  src/API/Reports/SqlQuery.php
  src/ReportCSVEmail.php
Labels: [Status] Ready to Merge, [Type] Task

#3184 Enable onboarding in the plugin build for those who have opted-in
  client/dashboard/customizable.js
  client/dashboard/index.js
  client/dashboard/profile-wizard/steps/theme/index.js
  client/dashboard/utils.js
  config/plugin.json
  src/API/Init.php
  src/FeaturePlugin.php
  src/Features/Onboarding.php
  src/Loader.php
  tests/bootstrap.php
Labels: [Status] Needs Review

#3189 Onboarding - Select the stripe account checkbox by default
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/payments/index.js
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3192 Onboarding: Update return to task list notices
  client/stylesheets/shared/_global.scss
  client/wp-admin-scripts/onboarding-product-notice/index.js
  client/wp-admin-scripts/onboarding-tax-notice/index.js
  src/Features/OnboardingTasks.php
  webpack.config.js
Labels: Build, Onboarding, [Status] Needs Review

#3200 Onboarding: Use ShipStation for AU, GB, and CA
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/steps/plugins.js
  client/wc-api/onboarding/constants.js
  packages/components/src/stepper/index.js
  src/Features/Onboarding.php
Labels: Components, Onboarding, Packages, [Status] Needs Review

#3206 Onboarding - Fix homepage notice on Gutenberg save
  client/wp-admin-scripts/onboarding-homepage-notice/index.js
  src/Features/OnboardingTasks.php
Labels: Onboarding, [Status] Needs Review

#3186 move stock stats sync functions to ReportsSync
  src/API/Reports/Stock/Stats/DataStore.php
  src/ReportsSync.php
Labels: [Status] Ready to Merge, [Type] Dev

#3212 Update ShipStation 'Learn more' link
  client/dashboard/task-list/tasks/shipping/index.js
Labels: Onboarding, [Status] Ready to Merge

#3207 Update query param used for the new WooCommerce + Jetpack Onboarding UI
  src/API/OnboardingPlugins.php
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3214 Update filter picker to use key instead of id
  packages/components/src/filter-picker/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#3103 remove deleted products, coupons from stats when order edited
  src/API/Reports/Coupons/DataStore.php
  src/API/Reports/Products/DataStore.php
Labels: Analytics, [Status] Needs Review, [Type] Bug

#3158 add order status filter to tax stats queries
  src/API/Reports/Taxes/Stats/DataStore.php
Labels: Analytics, [Status] Needs Review, [Type] Bug

#3197 Add tax filtering to orders data
  client/analytics/report/orders/config.js
  client/analytics/report/taxes/table.js
  client/lib/async-requests/index.js
  src/API/Reports/Orders/Controller.php
  src/API/Reports/Orders/DataStore.php
  src/API/Reports/Orders/Stats/Controller.php
  src/API/Reports/Orders/Stats/DataStore.php
Labels: Analytics, REST API, [Status] Ready to Merge

#3213 Onboarding: Add email marketing note if profiler is complete
  src/Events.php
  src/Notes/WC_Admin_Notes_Onboarding_Email_Marketing.php
Labels: Onboarding, [Status] Ready to Merge

#3221 Release 0.22.0 changes
  package-lock.json
  package.json
  readme.txt
  src/FeaturePlugin.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge

#3231 Onboarding: Fix header error in homepage template
  src/API/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3232 Onboarding: Remove notice to run the old setup wizard
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3230 Onboarding: Add the ability to toggle on or off the new onboarding
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3215 Select control: fix misalignment and hide scroll bar
  packages/components/src/search/style.scss
  packages/components/src/select-control/style.scss
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#3234 Show the "activate & continue" button as busy during Jetpack redirect
  client/dashboard/profile-wizard/steps/plugins.js
Labels: Onboarding, [Status] Ready to Merge

#3249 capitalize WooCommerce Services
  client/dashboard/task-list/tasks/tax.js
Labels: [Status] Ready to Merge, [Type] Dev

#3248 fix typos in JS docs
  client/dashboard/components/settings/general/store-address.js
  client/dashboard/profile-wizard/header-logo.js
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/steps/theme/index.js
  client/dashboard/profile-wizard/steps/theme/preview.js
  client/dashboard/profile-wizard/steps/usage-modal.js
  client/dashboard/task-list/index.js
  client/dashboard/task-list/tasks/connect.js
Labels: [Status] Ready to Merge, [Type] Dev

#3247 Make WooCommerce brand localizable
  client/dashboard/profile-wizard/header-logo.js
  client/header/index.js
Labels: [Status] Needs Review

#3174 add REST routes for customers, handler for single customer
  src/API/Customers.php
  src/API/Reports/Customers/Controller.php
Labels: REST API, [Status] Ready to Merge, [Type] Fix

#3243 Onboarding: Update homepage options call to use in-house namespace
  client/wp-admin-scripts/onboarding-homepage-notice/index.js
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3244 Onboarding: Skip homepage step when classic editor is in use
  client/dashboard/task-list/tasks.js
  src/Features/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge

#3250 Add a tracks queue to delay event recording & log embed page views
  client/dashboard/task-list/tasks/appearance.js
  client/dashboard/task-list/tasks/tax.js
  client/layout/index.js
  client/lib/tracks.js
  client/wp-admin-scripts/onboarding-homepage-notice/index.js
Labels: [Status] Ready to Merge

#3220 Onboarding - Fix busted tracks events and add missing event
  client/dashboard/task-list/tasks/tax.js
  client/layout/index.js
  client/lib/tracks.js
  client/wp-admin-scripts/onboarding-homepage-notice/index.js
  src/Features/Onboarding.php
Labels: Onboarding

#3252 Fix default country on new stores
  client/dashboard/profile-wizard/steps/store-details.js
Labels: Onboarding, [Status] Ready to Merge

#3236 Fix payment task display on mobile
  client/dashboard/task-list/style.scss
Labels: Onboarding, [Status] Ready to Merge

#3190 Release process: Add build for Core
  .gitattributes
  bin/build-plugin-zip.sh
  bin/generate-feature-config.php
  bin/github-deploy.sh
  bin/install-wp-tests.sh
  config/core.json
  package.json
  webpack.config.js
Labels: Build, [Status] Needs Review

#3254 Fix selected value showing for multiple SelectControl
  packages/components/src/select-control/control.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#3255 Reset state before firing onChange in SelectControl
  packages/components/src/select-control/index.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#3257 Filter empty keywords from autocompleters
  packages/components/src/search/index.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#3261 return a value from create pages API call
  src/API/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3269 PHPCS fixes for onboarding files
  src/API/OnboardingPlugins.php
  src/API/OnboardingTasks.php
  src/Features/Onboarding.php
  src/Features/OnboardingTasks.php
Labels: Documentation, [Status] Ready to Merge

#3259 Fix filter gap on analytics select controls
  packages/components/src/advanced-filters/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#3266 Onboarding: Stretch theme image to fit card container
  client/dashboard/profile-wizard/steps/theme/index.js
  client/dashboard/profile-wizard/steps/theme/style.scss
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3275 rename DS get_* to add_* where function does not return values
  src/API/Reports/Categories/DataStore.php
  src/API/Reports/Coupons/DataStore.php
  src/API/Reports/Coupons/Stats/DataStore.php
  src/API/Reports/Customers/DataStore.php
  src/API/Reports/Customers/Stats/DataStore.php
  src/API/Reports/DataStore.php
  src/API/Reports/Downloads/DataStore.php
  src/API/Reports/Downloads/Stats/DataStore.php
  src/API/Reports/Orders/DataStore.php
  src/API/Reports/Orders/Stats/DataStore.php
  src/API/Reports/Products/DataStore.php
  src/API/Reports/Products/Stats/DataStore.php
  src/API/Reports/Taxes/DataStore.php
  src/API/Reports/Taxes/Stats/DataStore.php
  src/API/Reports/Variations/DataStore.php
Labels: [Status] Ready to Merge, [Type] Dev

#3273 use a filter to set default locale
  src/API/OnboardingTasks.php
Labels: [Status] Ready to Merge, [Type] Dev

#3274 Add base documentation for the onboarding feature
  docs/README.md
  docs/_sidebar.md
  docs/features/_sidebar.md
  docs/features/feature-flags.md
  docs/features/onboarding.md
Labels: Documentation, Onboarding, [Status] Ready to Merge

#3262 Fetch autocomplete countries from the API rather than wcSettings object.
  client/analytics/report/customers/config.js
  packages/components/src/search/autocompleters/countries.js
  src/Loader.php
Labels: Components, Packages, [Status] Ready to Merge, [Type] Task

#3196 Allow core inclusion via Package.php
  bin/update-version.php
  composer.json
  composer.lock
  src/FeaturePlugin.php
  src/Install.php
  src/Package.php
Labels: Build, [Status] Ready to Merge

#3268 Filter invalid statuses from saved statuses
  src/Loader.php
Labels: [Status] Ready to Merge, [Type] Bug

#3253 Use same wp-components version in bundle
  packages/components/package.json
  phpcs.xml.dist
  src/Loader.php
Labels: Build, Components, Packages, [Status] Ready to Merge

#3267 Add wc admin card classes to leaderboards
  client/analytics/components/leaderboard/index.js
  client/analytics/report/style.scss
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#3272 Onboarding - Add extra plugin debug to plugin installation
  src/API/OnboardingPlugins.php
Labels: Onboarding, [Status] Ready to Merge

#3286 Add remaining onboarding documentation
  docs/features/onboarding.md
Labels: Documentation, Onboarding, [Status] Needs Review

#3277 Decouple currency and numbers packages from `wcSettings`.
  client/analytics/components/leaderboard/test/index.js
  client/analytics/components/report-filters/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/orders/utils.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/revenue/table.js
  client/analytics/report/stock/table.js
  client/analytics/report/taxes/table.js
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/store-performance/index.js
  client/header/activity-panel/panels/orders.js
  client/lib/currency-format.js
  client/lib/number-format.js
  client/wc-api/reports/utils.js
  docs/examples/extensions/dashboard-section/js/global-prices.js
  packages/README.md
  packages/components/CHANGELOG.md
  packages/components/src/advanced-filters/README.md
  packages/components/src/advanced-filters/docs/example.js
  packages/components/src/advanced-filters/index.js
  packages/components/src/advanced-filters/number-filter.js
  packages/components/src/filters/index.js
  packages/currency/CHANGELOG.md
  packages/currency/README.md
  packages/currency/src/index.js
  packages/currency/test/index.js
  packages/number/CHANGELOG.md
  packages/number/README.md
  packages/number/src/index.js
  packages/number/src/test/index.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Fix

#3292 Component styles: Explicitly import from Gutenberg
  client/stylesheets/abstracts/_variables.scss
  client/stylesheets/shared/_gutenberg-components.scss
  package-lock.json
  package.json
  packages/components/package.json
  webpack.config.js
Labels: Build, Components, Packages, [Status] Ready to Merge

#3104 Correcting and clarifying analytics terms and calculations
  client/analytics/components/leaderboard/test/index.js
  client/analytics/components/report-chart/test/index.js
  client/analytics/components/report-summary/test/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/orders/config.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/revenue/config.js
  client/analytics/report/revenue/table.js
  client/dashboard/dashboard-charts/config.js
  client/dashboard/default-sections.js
  client/header/activity-panel/panels/orders.js
  includes/wc-admin-update-functions.php
  packages/components/src/summary/README.md
  packages/components/src/summary/docs/example.js
  packages/components/src/table/__mocks__/table-mock-csv.js
  packages/components/src/table/__mocks__/table-mock-headers.js
  packages/csv-export/src/__mocks__/mock-csv-data.js
  packages/csv-export/src/__mocks__/mock-headers.js
  src/API/Leaderboards.php
  src/API/Reports/Categories/Controller.php
  src/API/Reports/Coupons/Stats/Segmenter.php
  src/API/Reports/Customers/DataStore.php
  src/API/Reports/Customers/Stats/DataStore.php
  src/API/Reports/Orders/DataStore.php
  src/API/Reports/Orders/Stats/Controller.php
  src/API/Reports/Orders/Stats/DataStore.php
  src/API/Reports/Orders/Stats/Segmenter.php
  src/API/Reports/PerformanceIndicators/Controller.php
  src/API/Reports/Products/Controller.php
  src/API/Reports/Products/Stats/Controller.php
  src/API/Reports/Products/Stats/Segmenter.php
  src/API/Reports/Revenue/Query.php
  src/API/Reports/Revenue/Stats/Controller.php
  src/API/Reports/Segmenter.php
  src/API/Reports/Taxes/Stats/Controller.php
  src/API/Reports/Taxes/Stats/Segmenter.php
  src/API/Reports/Variations/Controller.php
  src/Install.php
  src/Notes/WC_Admin_Notes_New_Sales_Record.php
  tests/api/reports-revenue-stats.php
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug, [Type] Fix

#3294 Decouple Navigation from `wcSettings`.
  client/analytics/components/report-error/index.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/stock/table.js
  client/dashboard/dashboard-charts/block.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/theme/index.js
  client/dashboard/task-list/tasks.js
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/products.js
  client/dashboard/task-list/tasks/tax.js
  client/header/activity-panel/panels/orders.js
  client/header/activity-panel/panels/reviews.js
  client/header/index.js
  client/settings/fallbacks.js
  client/settings/index.js
  client/wp-admin-scripts/onboarding-homepage-notice/index.js
  client/wp-admin-scripts/onboarding-product-notice/index.js
  client/wp-admin-scripts/onboarding-tax-notice/index.js
  packages/components/CHANGELOG.md
  packages/components/src/link/index.js
  packages/navigation/CHANGELOG.md
  packages/navigation/README.md
  packages/navigation/src/index.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Task

#3297 Fix error due to fallback not loading when needed for getAdminLink
  client/settings/index.js
Labels: Settings, [Priority] High, [Status] Ready to Merge, [Type] Bug

#3271 Remove Previous Year week alignment
  packages/date/src/index.js
  packages/date/test/index.js
Labels: Analytics, Packages, [Status] Ready to Merge

#3291 Fix onboarding product type notices
  client/dashboard/profile-wizard/steps/product-types.js
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3295 Update onboarding filters with a consistent prefix
  client/dashboard/customizable.js
  client/dashboard/task-list/index.js
  client/dashboard/task-list/tasks.js
  client/dashboard/task-list/tasks/payments/index.js
  docs/examples/extensions/add-task/js/index.js
  docs/features/onboarding.md
  src/API/OnboardingPlugins.php
  src/API/OnboardingProfile.php
  src/API/Options.php
  src/Features/Onboarding.php
  tests/api/onboarding-profile.php
Labels: Onboarding, [Status] Needs Review

#3251 make store revenue range amounts translatable
  client/dashboard/profile-wizard/steps/business-details.js
Labels: Onboarding, [Status] Ready to Merge, [Type] Fix

#3296 Fix checkout of master branch in CI environment.
  bin/install-wp-tests.sh
Labels: Build, [Status] Ready to Merge, [Type] Fix

#3278 Decouple date package from `wcSettings`.
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-filters/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/revenue/table.js
  client/analytics/settings/default-date.js
  client/analytics/settings/historical-data/period-selector.js
  client/dashboard/customizable.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/store-performance/index.js
  client/lib/date.js
  client/wc-api/items/utils.js
  client/wc-api/reports/utils.js
  packages/components/CHANGELOG.md
  packages/components/src/date-range-filter-picker/README.md
  packages/components/src/date-range-filter-picker/docs/example.js
  packages/components/src/date-range-filter-picker/index.js
  packages/components/src/filters/README.md
  packages/components/src/filters/docs/example.js
  packages/components/src/filters/index.js
  packages/date/CHANGELOG.md
  packages/date/src/index.js
  packages/date/test/index.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Fix

#3304 Onboarding: Hide ImageIUploader before custom logo is fetched
  client/dashboard/task-list/tasks/appearance.js
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3309 Use report filters with tracking, not one from packages
  client/dashboard/customizable.js
Labels: [Status] Ready to Merge

#3310 Include out of stock products in low_in_stock product filter
  src/API/Products.php
Labels: Activity Panel, REST API, [Status] Ready to Merge, [Type] Bug

#3290 make customer order count consistent between customer and stats
  src/API/Reports/Customers/DataStore.php
  src/API/Reports/Customers/Stats/DataStore.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#3293 Settings: Persist date range selection
  client/analytics/settings/index.js
  client/layout/controller.js
Labels: [Status] Ready to Merge, [Type] Bug

#3299 DB Updates: invalidate cache after update
  src/Install.php
Labels: [Status] Ready to Merge

#3315 Check if extended_info is set for order report items
  src/API/Reports/Orders/Controller.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug
