Repository woocommerce/woocommerce-admin, pull requests merged in 2019-02, with the labels that each got.

#1439 Trim search box input
  packages/components/src/search/autocomplete.js
  packages/components/src/search/test/autocomplete.js
Labels: Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1381 Implement tabular data filtering
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/index.js
  client/analytics/report/products/index.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/taxes/table.js
  client/wc-api/categories/operations.js
  client/wc-api/categories/selectors.js
  client/wc-api/items/index.js
  client/wc-api/items/operations.js
  client/wc-api/items/selectors.js
  client/wc-api/items/utils.js
  client/wc-api/reports/utils.js
  client/wc-api/wc-api-spec.js
  packages/components/src/search/autocomplete.js
  packages/components/src/search/autocompleters/categories.js
  packages/components/src/search/autocompleters/coupons.js
  packages/components/src/search/autocompleters/customers.js
  packages/components/src/search/autocompleters/product.js
  packages/components/src/search/autocompleters/taxes.js
  packages/components/src/search/autocompleters/utils.js
  packages/components/src/search/index.js
  packages/components/src/table/index.js
  packages/components/src/table/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1438 Merge getOrders and getItems
  client/analytics/report/categories/breadcrumbs.js
  client/analytics/report/categories/table.js
  client/analytics/report/products/table.js
  client/header/activity-panel/panels/orders.js
  client/wc-api/items/operations.js
  client/wc-api/items/selectors.js
  client/wc-api/items/utils.js
  client/wc-api/orders/index.js
  client/wc-api/orders/operations.js
  client/wc-api/orders/selectors.js
  client/wc-api/wc-api-spec.js
Labels: [Status] Ready to Merge

#1410 Add 'Clear' button to Search input
  packages/components/CHANGELOG.md
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
  packages/components/src/table/index.js
Labels: Components, Packages, [Status] Blocked

#1440 Add GPL License
  LICENSE.md
Labels: Documentation, [Status] Ready to Merge

#1446 Added primary key to tax lookup table to prevent duplicate entries.
  includes/class-wc-admin-api-init.php
Labels: REST API, [Status] Ready to Merge

#1286 Added segmenting support to REST API
  includes/api/class-wc-admin-rest-customers-controller.php
  includes/api/class-wc-admin-rest-reports-coupons-stats-controller.php
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/api/class-wc-admin-rest-reports-products-stats-controller.php
  includes/api/class-wc-admin-rest-reports-revenue-stats-controller.php
  includes/api/class-wc-admin-rest-reports-taxes-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-order.php
  includes/class-wc-admin-reports-coupons-stats-segmenting.php
  includes/class-wc-admin-reports-customers-stats-query.php
  includes/class-wc-admin-reports-interval.php
  includes/class-wc-admin-reports-orders-stats-segmenting.php
  includes/class-wc-admin-reports-parameter-exception.php
  includes/class-wc-admin-reports-products-stats-segmenting.php
  includes/class-wc-admin-reports-segmenting.php
  includes/class-wc-admin-reports-taxes-stats-segmenting.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
  includes/wc-admin-order-functions.php
  tests/api/reports-coupons-stats.php
  tests/api/reports-orders-stats.php
  tests/api/reports-products-stats.php
  tests/api/reports-revenue-stats.php
  tests/api/reports-taxes-stats.php
  tests/reports/class-wc-tests-reports-coupons-stats.php
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: REST API, [Status] Ready to Merge, [Type] Enhancement

#1448 Fix variation search autocompleter invalid route
  includes/api/class-wc-admin-rest-product-variations-controller.php
  includes/class-wc-admin-api-init.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1447 Fix incorrect label async request paths
  client/lib/async-requests/index.js
Labels: Analytics, Components, [Status] Ready to Merge

#1443 Add order status tests and refund tests
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-products.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1444 Update page query to 1 when base query is changed
  client/layout/controller.js
Labels: Analytics, [Status] Needs Review, [Type] Bug

#1458 Fix autocompleters in customers and taxes report
  client/analytics/components/leaderboard/test/index.js
  client/analytics/report/customers/config.js
  client/analytics/report/taxes/config.js
Labels: Analytics, Components, [Status] Ready to Merge

#1466 Add segments to expected response in order stats
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#1469 Fix CSS Lint warning
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1468 Fix hourly labels in bar charts X-axis
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/utils/axis.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1426 Use Action Scheduler for lookup table updates & schedule retries.
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/api-init.php
  tests/api/reports-categories.php
  tests/api/reports-coupons-stats.php
  tests/api/reports-coupons.php
  tests/api/reports-customers-stats.php
  tests/api/reports-customers.php
  tests/api/reports-orders.php
  tests/api/reports-performance-indicators.php
  tests/api/reports-products-stats.php
  tests/api/reports-products.php
  tests/api/reports-taxes.php
  tests/api/reports-variations.php
  tests/batch-queue.php
  tests/bootstrap.php
  tests/framework/helpers/class-wc-helper-queue.php
  tests/reports/class-wc-tests-reports-coupons-stats.php
  tests/reports/class-wc-tests-reports-coupons.php
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-products.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
  tests/reports/class-wc-tests-reports-variations.php
Labels: Analytics, [Status] Ready to Merge, [Type] Enhancement

#1464 Exclude trashed orders from reports
  includes/data-stores/class-wc-admin-reports-data-store.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1470 Improve display of 0-value charts
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/scales.js
Labels: Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1452 Show empty table when search returns no results
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/index.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/revenue/table.js
  client/analytics/report/stock/table.js
  client/analytics/report/taxes/table.js
  client/wc-api/reports/utils.js
Labels: Analytics, [Status] Ready to Merge

#1459 Introduced new hooks for jetpack sync
  includes/data-stores/class-wc-admin-notes-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
Labels: [Status] Ready to Merge

#1383 Fixes for ordering and zero-filling.
  includes/data-stores/class-wc-admin-reports-coupons-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-downloads-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Needs Review

#1391 Add Product Detail Report & Finish Comparison Chart Mode Functionality
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-chart/test/index.js
  client/analytics/components/report-chart/utils.js
  client/analytics/report/products/config.js
  client/analytics/report/products/index.js
  client/analytics/report/products/table-variations.js
  client/wc-api/products/index.js
  client/wc-api/products/operations.js
  client/wc-api/products/selectors.js
  client/wc-api/reports/utils.js
  client/wc-api/wc-api-spec.js
  includes/api/class-wc-admin-rest-reports-products-stats-controller.php
  includes/api/class-wc-admin-rest-reports-variations-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-products-stats-segmenting.php
  includes/class-wc-admin-reports-segmenting.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/index.js
  packages/components/src/table/index.js
  tests/api/reports-products-stats.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1412 Update loopkup tables when an order is deleted
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: [Status] Ready to Merge

#1474 Format todo comments to match WC Core format
  client/analytics/components/leaderboard/test/index.js
  client/analytics/components/report-error/index.js
  client/analytics/report/products/table.js
  client/analytics/report/revenue/table.js
  client/analytics/report/taxes/table.js
  client/analytics/settings/config.js
  client/analytics/settings/index.js
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/inbox.js
  client/header/activity-panel/panels/orders.js
  client/lib/tracks.js
  client/stylesheets/abstracts/_variables.scss
  client/wc-api/constants.js
  client/wc-api/reports/stats/operations.js
  client/wc-api/with-select.js
  client/wc-api/wp-data-store/index.js
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-order.php
  includes/class-wc-admin-reports-customers-stats-query.php
  includes/class-wc-admin-reports-interval.php
  includes/class-wc-admin-reports-orders-stats-segmenting.php
  includes/class-wc-admin-reports-segmenting.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  lib/admin.php
  lib/client-assets.php
  lib/common.php
  packages/components/src/calendar/date-picker.js
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/pagination/index.js
  packages/components/src/search/autocompleters/categories.js
  packages/components/src/table/index.js
  postcss.config.js
  tests/api/reports-orders-stats.php
  tests/api/reports-revenue-stats.php
Labels: [Status] Ready to Merge, [Type] Task

#1481 Fix product comparison + color scale on charts with lots of options
  client/analytics/report/products/index.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/constants.js
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/color.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/tooltip.js
  packages/components/src/chart/index.js
  packages/components/src/table/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1488 Update product details report to use getItems
  client/analytics/report/products/index.js
  client/wc-api/products/index.js
  client/wc-api/products/operations.js
  client/wc-api/products/selectors.js
  client/wc-api/wc-api-spec.js
Labels: Analytics, [Status] Ready to Merge

#1472 navigation: Lazy-create history
  client/dashboard/dashboard-charts/block.js
  client/layout/controller.js
  client/layout/index.js
  packages/navigation/CHANGELOG.md
  packages/navigation/README.md
  packages/navigation/src/history.js
  packages/navigation/src/index.js
Labels: Packages, [Status] Ready to Merge

#1494 @woocommerce/navigation v2.0.0
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/navigation/package.json
Labels: Build, Components, Packages, [Status] Needs Review

#1495 Switched to creating orders from oldest to newest in zero filling tests.
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Needs Review

#1496 Try: Fix failing returning customer test
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: Build, Components, Packages, REST API, Release Blocker, [Status] Needs Review, [Type] Bug

#1478 Add 'variations' attribute in products 'extended_info'
  client/analytics/report/products/table.js
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  tests/reports/class-wc-tests-reports-products.php
Labels: REST API, [Status] Ready to Merge

#1475 Add manage_stock to stock controller response
  client/analytics/report/products/table.js
  client/analytics/report/stock/table.js
  includes/api/class-wc-admin-rest-reports-stock-controller.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  packages/components/CHANGELOG.md
  tests/api/reports-stock.php
  tests/reports/class-wc-tests-reports-products.php
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1498 Fix test_variable_product_extended_info failing test
  tests/reports/class-wc-tests-reports-products.php
Labels: [Status] Ready to Merge

#1491 Show empty chart and summary numbers when search returns no results
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/components/report-summary/test/index.js
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/scales.js
  packages/components/src/chart/index.js
  packages/components/src/summary/number.js
Labels: Analytics, Build, Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1501 Fixed missing argument in Taxes Data Store.
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
Labels: REST API, [Status] Ready to Merge

#1497 Fix initial order sync stalling
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1502 Fixed WordPress database error in unit tests
  tests/api-init.php
Labels: [Status] Ready to Merge

#1518 Remove on hover color from disabled button
  client/stylesheets/shared/_global.scss
Labels: [Status] Ready to Merge

#1500 Add Feature Flags
  .distignore
  .gitignore
  bin/build-plugin-zip.sh
  bin/generate-feature-config.php
  client/analytics/report/index.js
  client/layout/controller.js
  client/layout/index.js
  client/layout/style.scss
  config/core.json
  config/development.json
  config/plugin.json
  docs/_sidebar.md
  docs/feature-flags.md
  lib/admin.php
  lib/common.php
  package.json
  tests/bootstrap.php
  tests/js/setup-globals.js
  wc-admin.php
  webpack.config.js
Labels: Build, Documentation, [Status] Ready to Merge

#1521 Update 5.0.0 version check and add basic readme.txt
  bin/build-plugin-zip.sh
  readme.txt
  tests/bootstrap.php
  wc-admin.php
Labels: Build

#1510 Use a WC_Install-like approach to initialize WC Admin data
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-install.php
  includes/class-wc-admin-reports-sync.php
  tests/api-init.php
  tests/batch-queue.php
  tests/bootstrap.php
  wc-admin.php
Labels: On Merge to WC Core, Release Blocker, [Status] Needs Review, [Type] Task

#1499 Empty chart message
  client/analytics/components/report-chart/index.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/utils/index.js
  packages/components/src/chart/d3chart/utils/test/index.js
  packages/components/src/chart/index.js
Labels: Analytics, Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#1423 Add transient notices
  client/analytics/settings/index.js
  client/embedded.js
  client/index.js
  client/layout/index.js
  client/layout/transient-notices/index.js
  client/layout/transient-notices/style.scss
  client/layout/transient-notices/transient-notice.js
  client/store/index.js
  client/store/notices/actions.js
  client/store/notices/index.js
  client/store/notices/reducers.js
  client/store/notices/selectors.js
  client/store/notices/test/fixtures/index.js
  client/store/notices/test/index.js
  client/wc-api/settings/operations.js
  client/wc-api/settings/selectors.js
Labels: Design, [Status] Needs Design Review, [Status] Ready to Merge, [Tests] Includes Tests

#1546 Add defaults to Revenue table data
  client/analytics/report/revenue/table.js
Labels: Analytics, [Status] Ready to Merge

#1534 Hook up customers report table search box
  client/analytics/report/customers/config.js
  includes/api/class-wc-admin-rest-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  packages/components/src/search/autocompleters/customers.js
  tests/api/reports-customers-stats.php
  tests/api/reports-customers.php
Labels: Analytics, Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1547 Segmented Selection: re-apply borders for all browsers
  packages/components/src/ie.scss
  packages/components/src/segmented-selection/ie.scss
  packages/components/src/segmented-selection/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1550 Autocompleter: increase debounce
  packages/components/src/search/autocomplete.js
  packages/components/src/search/autocompleters/countries.js
Labels: Components, Packages, [Status] Ready to Merge

#1517 Check and update customer first orders to fix returning_customers
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1539 Only update search labels when IDs are mismatched
  packages/components/src/filters/advanced/search-filter.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1540 Prevent hash creation from breadcrumbs
  client/header/index.js
Labels: [Status] Ready to Merge, [Type] Bug

#1541 Update numeric comparisons for customer data
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1535 Add stock stats endpoint and hook up to the stock report.
  client/analytics/report/stock/config.js
  client/analytics/report/stock/table.js
  client/wc-api/reports/stats/operations.js
  client/wc-api/reports/utils.js
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/api/class-wc-admin-rest-reports-stock-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-stock-stats-query.php
  includes/data-stores/class-wc-admin-reports-stock-stats-data-store.php
  tests/api/reports-customers-stats.php
  tests/api/reports-stock-stats.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1532 Refactor D3Chart
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/d3base/index.js
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/index.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/index.js
  packages/components/src/chart/d3chart/utils/test/line-chart.js
  packages/components/src/chart/d3chart/utils/test/scales.js
  packages/components/src/chart/d3chart/utils/tooltip.js
Labels: Components, Packages, [Status] Ready to Merge

#1545 add build:feature-config to readme instructions
  package.json
Labels: Build, Documentation, Good First Issue, [Status] Ready to Merge

#1549 Up freshness interval default.
  client/wc-api/constants.js
Labels: [Status] Ready to Merge

#1551 Release v0.7.0
  docs/components/analytics/report-chart.md
  docs/components/analytics/report-summary.md
  docs/components/analytics/report-table.md
  docs/components/packages/chart.md
  docs/components/packages/search.md
  docs/components/packages/table.md
  package-lock.json
  package.json
  wc-admin.php
Labels: Build, [Status] Ready to Merge

#1548 Stock Report: fix stock link
  client/analytics/report/stock/table.js
Labels: [Status] Ready to Merge

#1526 Add products stats endpoint to categories
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/index.js
  client/analytics/report/products/index.js
  client/wc-api/constants.js
  client/wc-api/reports/stats/operations.js
  includes/class-wc-admin-reports-segmenting.php
Labels: REST API, [Status] Ready to Merge

#1530 Chart legend alignment in IE11
  packages/components/src/chart/d3chart/legend.scss
Labels: Components, Packages, [Status] Ready to Merge

#1533 Advanced filters alignment in IE11
  client/analytics/report/customers/config.js
  client/analytics/report/downloads/config.js
  client/analytics/report/orders/config.js
  packages/components/src/filters/advanced/date-filter.js
  packages/components/src/filters/advanced/index.js
  packages/components/src/filters/advanced/number-filter.js
  packages/components/src/filters/advanced/search-filter.js
  packages/components/src/filters/advanced/select-filter.js
  packages/components/src/filters/advanced/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1563 Remove margin between chart legends in column direction
  packages/components/src/chart/d3chart/legend.scss
Labels: Components, Packages, [Status] Ready to Merge

#1557 Update returning customer values to respect excluded statuses
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Needs Review, [Type] Bug

#1561 Fix downloads stats data store sorting
  includes/data-stores/class-wc-admin-reports-downloads-stats-data-store.php
Labels: Analytics, REST API, [Status] Ready to Merge

#1558 Move IE11 specific CSS to ie.scss file
  packages/components/src/ie.scss
  packages/components/src/segmented-selection/ie.scss
  packages/components/src/segmented-selection/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1559 Fix logic used to show legend total block
  packages/components/src/chart/d3chart/legend.js
Labels: Components, Packages, [Status] Ready to Merge

#1564 Sort tabular data when selecting a Summary Number
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/config.js
  client/analytics/report/coupons/config.js
  client/analytics/report/orders/config.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/config.js
  client/analytics/report/revenue/config.js
  client/analytics/report/taxes/config.js
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  packages/components/src/table/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1566 Chart legend: show pointer in all clickable area
  packages/components/src/chart/d3chart/legend.scss
Labels: Components, Packages, [Status] Ready to Merge

#1569 Add margin to advanced filters Add button
  packages/components/src/filters/advanced/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1515 Added timezone handling
  includes/class-wc-admin-install.php
  includes/class-wc-admin-reports-interval.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-customers-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-downloads-data-store.php
  includes/data-stores/class-wc-admin-reports-downloads-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-products-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  tests/api/reports-interval.php
Labels: REST API, [Status] Ready to Merge

#1567 update chart type query string key to chartType
  client/analytics/components/report-chart/index.js
  client/dashboard/dashboard-charts/index.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/d3base/index.js
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/index.js
  packages/date/src/index.js
  packages/date/test/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1570 Phpcs sniff fixes for unit tests
  tests/api/admin-notes.php
  tests/api/product-reviews.php
  tests/api/products.php
  tests/api/reports-customers-stats.php
  tests/api/reports-customers.php
  tests/api/reports-downloads-stats.php
  tests/api/reports-interval.php
  tests/api/reports-orders-stats.php
  tests/api/reports-performance-indicators.php
  tests/api/reports-stock-stats.php
  tests/bootstrap.php
  tests/reports/class-wc-tests-reports-orders-stats.php
  tests/reports/class-wc-tests-reports-revenue-stats.php
Labels: On Merge to WC Core, [Status] Ready to Merge

#1589 update missed version `or greater` in update message
  wc-admin.php
Labels: [Status] Ready to Merge

#1556 Add tax refund calculations
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/api/reports-taxes-stats.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#1583 Fix variation name format to match core
  client/analytics/report/products/table-variations.js
  client/analytics/report/stock/table.js
Labels: Analytics, [Status] Ready to Merge

#1582 Fix double focus on autocomplete search list after options are loaded
  packages/components/src/search/autocomplete.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#1602 Change fixed legend button height to min-height
  packages/components/src/chart/d3chart/legend.scss
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1618 Fix customer filters and download user filtering
  client/analytics/report/downloads/config.js
  client/analytics/report/downloads/table.js
  includes/api/class-wc-admin-rest-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/api/class-wc-admin-rest-reports-downloads-controller.php
  includes/api/class-wc-admin-rest-reports-downloads-stats-controller.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-downloads-data-store.php
  packages/components/src/search/autocompleters/customers.js
  packages/components/src/search/autocompleters/emails.js
  packages/components/src/search/autocompleters/usernames.js
  tests/api/reports-customers.php
  tests/api/reports-downloads-stats.php
  tests/api/reports-downloads.php
Labels: Analytics, Components, Packages, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1600 Reduce net order total by refunded amount less tax and shipping refunds
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1597 Fix long search tags
  packages/components/src/search/style.scss
Labels: Analytics, Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#1578 Update activity panels order endpoint
  client/header/activity-panel/panels/orders.js
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Type] Bug

#1581 Execute single order pending jobs immediately when wp_debug is enabled
  README.md
  includes/class-wc-admin-reports-sync.php
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#1619 Refactor customer ID creation
  includes/class-wc-admin-install.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/api/reports-customers.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1623 Fix style of dashboard summary number placeholder
  client/dashboard/store-performance/index.js
  client/dashboard/store-performance/style.scss
  packages/components/src/summary/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1605 Escape commas in search terms
  client/analytics/report/index.js
  client/wc-api/items/utils.js
  packages/components/src/table/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1601 Don't show variations table when there is an active search
  client/analytics/report/products/index.js
Labels: Analytics, [Status] Ready to Merge

#1591 implement WC_ADMIN_ABSPATH in wc-admin.php
  includes/class-wc-admin-api-init.php
  wc-admin.php
Labels: [Status] Ready to Merge

#1634 Close the mobile WP menu after navigating between reports
  client/layout/controller.js
Labels: [Status] Ready to Merge

#1606 Preserve chart colors when changing visible keys in charts with less keys than 'selectionLimit'
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/color.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/tooltip.js
  packages/components/src/chart/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1646 Fix table search position in small viewports
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1628 Components: Add SearchListControl
  client/devdocs/examples.json
  client/stylesheets/abstracts/_mixins.scss
  docs/components/_sidebar.md
  docs/components/packages/chart.md
  docs/components/packages/search-list-control.md
  packages/components/CHANGELOG.md
  packages/components/src/index.js
  packages/components/src/search-list-control/example.md
  packages/components/src/search-list-control/hierarchy.js
  packages/components/src/search-list-control/icons/checkbox-checked.js
  packages/components/src/search-list-control/icons/checkbox-unchecked.js
  packages/components/src/search-list-control/icons/index.js
  packages/components/src/search-list-control/icons/radio-selected.js
  packages/components/src/search-list-control/icons/radio-unselected.js
  packages/components/src/search-list-control/index.js
  packages/components/src/search-list-control/item.js
  packages/components/src/search-list-control/style.scss
  packages/components/src/search-list-control/test/__snapshots__/index.js.snap
  packages/components/src/search-list-control/test/hierarchy.js
  packages/components/src/search-list-control/test/index.js
  packages/components/src/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1647 Add comparison support to the coupons report
  client/analytics/report/coupons/config.js
  client/analytics/report/coupons/index.js
  includes/class-wc-admin-reports-segmenting.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
Labels: Analytics, REST API, [Status] Ready to Merge

#1661 Components: Update changelog to release 1.6.0
  packages/components/CHANGELOG.md
Labels: Components, Packages, [Status] Ready to Merge

#1560 Stop Hello Dolly lyrics from displaying in the notices tab
  client/header/activity-panel/wordpress-notices.js
  lib/admin.php
Labels: [Status] Ready to Merge

#1665 fix warning in some versions of PHP
  includes/class-wc-admin-order.php
Labels: [Status] Needs Review

#1658 Hide woo notices button when side menu is open
  client/header/activity-panel/style.scss
Labels: [Status] Ready to Merge, [Type] Bug

#1652 Fix null values in CSV columns export
  packages/components/src/table/__mocks__/table-mock-csv.js
  packages/components/src/table/__mocks__/table-mock-data.js
  packages/csv-export/CHANGELOG.md
  packages/csv-export/src/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1645 Return an error when installing unit tests if WP < 5
  bin/install-wp-tests.sh
Labels: Build, [Status] Ready to Merge

#1673 Fix CSS linter errors
  packages/components/src/search-list-control/style.scss
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1571 Taxes Report: fix comparison mode and segmentation labels
  client/analytics/report/taxes/config.js
  client/analytics/report/taxes/index.js
  includes/class-wc-admin-reports-segmenting.php
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
Labels: Analytics, REST API, [Status] Ready to Merge

#1674 Make 'Rows Per Table' <select> accessible
  client/dashboard/leaderboards/index.js
  client/dashboard/leaderboards/style.scss
Labels: Accessibility, Analytics, [Status] Ready to Merge

#1620 Add 'isCheckbox' prop to 'MenuItem'
  client/analytics/components/report-table/index.js
  client/dashboard/dashboard-charts/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/store-performance/index.js
  packages/components/src/ellipsis-menu/menu-item.js
  packages/components/src/ellipsis-menu/style.scss
  packages/components/src/table/index.js
Labels: Accessibility, Analytics, Components, Packages, [Status] Ready to Merge

#1679 Table: reset search on compare and reset comparison on search
  packages/components/src/table/index.js
  packages/navigation/src/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1663 Components: Bump @woocommerce/components to 1.6.0
  packages/components/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#1664 add action scheduler group
  includes/class-wc-admin-reports-sync.php
  tests/batch-queue.php
Labels: [Status] Ready to Merge

#1688 Don't update state on user preferences props change
  client/dashboard/dashboard-charts/index.js
  client/dashboard/leaderboards/index.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1671 Add tax code filter to tax REST API
  includes/api/class-wc-admin-rest-taxes-controller.php
  packages/components/src/search/autocompleters/taxes.js
Labels: Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1682 Display table placeholder instead of empty table when loading search terms
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/index.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/index.js
  client/analytics/report/customers/table.js
  client/analytics/report/index.js
  client/analytics/report/products/index.js
  client/analytics/report/products/table.js
  client/analytics/report/taxes/index.js
  client/analytics/report/taxes/table.js
  client/wc-api/items/utils.js
  client/wc-api/reports/utils.js
Labels: Analytics, [Status] Ready to Merge

#1689 Don't store searchWords in the `query` prop
  client/analytics/report/index.js
  packages/components/src/table/index.js
  packages/navigation/CHANGELOG.md
  packages/navigation/src/index.js
  packages/navigation/src/test/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1586 Screen readers: read date instead of data keys in 'time-comparison' bar charts
  client/analytics/components/report-chart/index.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/index.js
  packages/date/src/index.js
Labels: Accessibility, Components, Packages, [Status] Ready to Merge

#1627 Adds StoreAlerts component
  client/layout/index.js
  client/layout/store-alerts/index.js
  client/layout/store-alerts/style.scss
  config/core.json
  config/development.json
  config/plugin.json
Labels: [Status] Ready to Merge

#1672 Add tax include param to tax REST API
  client/analytics/report/taxes/config.js
  includes/api/class-wc-admin-rest-taxes-controller.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1670 Add product name filtering
  includes/api/class-wc-admin-rest-products-controller.php
  packages/components/src/search/autocompleters/product.js
Labels: Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1694 Display chart and summary numbers placeholder when loading search terms
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/index.js
  client/analytics/report/coupons/index.js
  client/analytics/report/products/index.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/taxes/index.js
  packages/components/src/table/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1698 Fix empty chart and summary numbers when searching in the Categories report
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/index.js
  client/wc-api/reports/utils.js
Labels: Analytics, [Status] Ready to Merge

#1710 Release/v0.8.0
  docs/components/analytics/report-chart.md
  docs/components/analytics/report-summary.md
  docs/components/packages/chart.md
  docs/components/packages/ellipsis-menu.md
  package-lock.json
  package.json
  wc-admin.php
Labels: Build, [Status] Needs Review

#1707 Remove Swaggerhub Helper
  client/lib/swagger.js
Labels: [Status] Ready to Merge

#1703 Make EmptyContent component fit narrow viewports
  packages/components/src/empty-content/index.js
  packages/components/src/empty-content/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1519 Remove items from search input with backspace key
  packages/components/CHANGELOG.md
  packages/components/src/filters/advanced/search-filter.js
  packages/components/src/search/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1706 Display order number on reports
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/table.js
  includes/api/class-wc-admin-rest-reports-controller.php
  includes/api/class-wc-admin-rest-reports-downloads-controller.php
  includes/api/class-wc-admin-rest-reports-orders-controller.php
  tests/api/reports-downloads.php
  tests/api/reports-orders.php
Labels: Analytics, REST API

#1715 Clear scheduled actions on plugin deactivate
  includes/class-wc-admin-install.php
  includes/class-wc-admin-reports-sync.php
  wc-admin.php
Labels: [Status] Ready to Merge
