Repository woocommerce/woocommerce-admin, pull requests merged in 2019-10, with the labels that each got.

#2977 Replace lodash isFinite() with native Number.isFinite()
  packages/components/src/pagination/index.js
  packages/number/CHANGELOG.md
  packages/number/package.json
  packages/number/src/index.js
Labels: Build, Components, Packages, [Status] Ready to Merge, [Type] Dev

#2979 Fix API namespace for the WooCommerce.com Connect Task
  client/dashboard/task-list/tasks/connect.js
Labels: Onboarding, [Status] Ready to Merge

#2981 Activity Panel: Catch notices earlier than priority 10
  phpcs.xml.dist
  src/Loader.php
Labels: [Status] Ready to Merge

#2994 Fix issue #2992 (order number in orders panel)
  client/header/activity-panel/panels/orders.js
Labels: [Status] Needs Review

#2960 Add Square & Klarna to Payments Task
  client/dashboard/style.scss
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/payments/klarna.js
  client/dashboard/task-list/tasks/payments/square.js
  src/API/OnboardingPlugins.php
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#2897 Add Stripe & PayPal Connection Flows
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/style.scss
  client/dashboard/style.scss
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/payments/klarna.js
  client/dashboard/task-list/tasks/payments/paypal.js
  client/dashboard/task-list/tasks/payments/square.js
  client/dashboard/task-list/tasks/payments/stripe.js
  client/wc-api/constants.js
  client/wc-api/options/selectors.js
  src/API/OnboardingPlugins.php
  src/Features/Onboarding.php
  src/Loader.php
Labels: Onboarding, [Status] Ready to Merge

#3000 Fix onboarding linter errors
  src/API/OnboardingPlugins.php
  src/Features/Onboarding.php
Labels: [Status] Ready to Merge

#2975 wcSettings refactor: fix camel case for currencies in PHP
  includes/core-functions.php
Labels: [Status] Needs Review

#2998 Replace lodash isNaN() with native Number.isNaN()
  packages/currency/CHANGELOG.md
  packages/currency/package.json
  packages/currency/src/index.js
Labels: Build, Packages, [Status] Ready to Merge, [Type] Dev

#2983 Disable profile wizard continue buttons until fields are complete
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/profile-wizard/steps/industry.js
  client/dashboard/profile-wizard/steps/product-types.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/style.scss
  packages/components/src/form/index.js
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#3002 Followup: Refactor all client files to use new settings api
  client/analytics/settings/index.js
  client/dashboard/index.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/product-types.js
  client/dashboard/profile-wizard/steps/theme/index.js
  client/dashboard/task-list/tasks/appearance.js
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/shipping/rates.js
  client/dashboard/task-list/tasks/tax.js
  client/header/activity-panel/panels/orders.js
  client/header/activity-panel/panels/stock/card.js
  client/header/activity-panel/unread-indicators.js
  client/header/index.js
  client/layout/index.js
  client/layout/store-alerts/index.js
  client/wc-api/onboarding/selectors.js
  client/wc-api/options/selectors.js
  client/wc-api/user/selectors.js
Labels: [Status] Ready to Merge, [Type] Enhancement

#2991 Add Task List Tracks Events
  client/dashboard/task-list/index.js
  client/dashboard/task-list/tasks/appearance.js
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/payments/klarna.js
  client/dashboard/task-list/tasks/payments/paypal.js
  client/dashboard/task-list/tasks/payments/square.js
  client/dashboard/task-list/tasks/payments/stripe.js
  client/dashboard/task-list/tasks/products.js
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/shipping/rates.js
  client/dashboard/task-list/tasks/steps/connect.js
  client/dashboard/task-list/tasks/steps/location.js
  client/dashboard/task-list/tasks/tax.js
Labels: Onboarding

#2997 Replace select controls with new SelectControl (Autocomplete) component
  client/dashboard/components/settings/general/store-address.js
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/profile-wizard/style.scss
  client/devdocs/examples.json
  docs/components/_sidebar.md
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/autocomplete/README.md
  packages/components/src/autocomplete/docs/example.js
  packages/components/src/autocomplete/test/index.js
  packages/components/src/index.js
  packages/components/src/select-control/README.md
  packages/components/src/select-control/control.js
  packages/components/src/select-control/docs/example.js
  packages/components/src/select-control/index.js
  packages/components/src/select-control/list.js
  packages/components/src/select-control/style.scss
  packages/components/src/select-control/tags.js
  packages/components/src/select-control/test/index.js
  packages/components/src/simple-select-control/README.md
  packages/components/src/simple-select-control/docs/example.js
  packages/components/src/simple-select-control/index.js
  packages/components/src/simple-select-control/style.scss
  packages/components/src/style.scss
Labels: Build, Components, Onboarding, Packages, [Status] Ready to Merge

#3005 Hide shipping step for stores without physical products
  client/dashboard/task-list/index.js
  src/Features/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge

#3010 Fix Facebook extension install from inbox
  src/Features/Onboarding.php
  src/Notes/WC_Admin_Notes_Facebook_Extension.php
Labels: Inbox, Onboarding, [Status] Ready to Merge, [Type] Bug

#2900 Hook up download button to export endpoint.
  client/analytics/components/report-table/download-icon.js
  client/analytics/components/report-table/ie.scss
  client/analytics/components/report-table/index.js
  client/analytics/components/report-table/style.scss
  client/ie.scss
  client/wc-api/export/index.js
  client/wc-api/export/mutations.js
  client/wc-api/export/operations.js
  client/wc-api/wc-api-spec.js
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/src/compare-filter/index.js
  packages/components/src/filters/index.js
  packages/components/src/ie.scss
  packages/components/src/index.js
  packages/components/src/table/index.js
  packages/components/src/table/style.scss
  packages/components/src/table/test/index.js
  src/Loader.php
  src/ReportExporter.php
  webpack.config.js
Labels: Build, Components, Packages, [Status] Ready to Merge, [Type] Tweak

#3004 Add options REST API permission checks
  src/API/Options.php
  tests/api/options.php
Labels: Onboarding, REST API, [Status] Needs Review

#3020 Onboarding: Replace TextControl component
  client/dashboard/components/settings/general/store-address.js
  client/dashboard/profile-wizard/style.scss
  client/dashboard/style.scss
  client/dashboard/task-list/tasks/appearance.js
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/payments/paypal.js
  client/dashboard/task-list/tasks/payments/stripe.js
  client/dashboard/task-list/tasks/shipping/rates.js
  client/devdocs/examples.json
  docs/components/_sidebar.md
  packages/components/CHANGELOG.md
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/components/src/text-control/README.md
  packages/components/src/text-control/docs/example.js
  packages/components/src/text-control/index.js
  packages/components/src/text-control/style.scss
Labels: Components, Onboarding, Packages, [Status] Needs Review

#3006 Prepare for 0.20.0
  package-lock.json
  package.json
  readme.txt
  src/FeaturePlugin.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge

#2968 Change usage tracking prompt to modal
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/steps/usage-modal.js
  client/dashboard/profile-wizard/style.scss
  src/API/OnboardingProfile.php
  src/Features/Onboarding.php
  tests/api/onboarding-profile.php
Labels: Onboarding

#3027 use category lookup id instead of term taxonomy id
  src/API/Reports/Products/Stats/Segmenter.php
Labels: Analytics, REST API, [Priority] High, [Status] Ready to Merge, [Type] Bug

#3022 Update order stats table status index length.
  composer.json
  includes/wc-admin-update-functions.php
  src/Install.php
Labels: Analytics, Build, [Priority] High, [Status] Ready to Merge, [Type] Bug

#3011 Render a "manage" link on review inbox items.
  client/header/activity-panel/panels/reviews.js
Labels: Activity Panel, [Status] Ready to Merge, [Type] Enhancement

#3021 Add Task List Completed Functionality
  client/dashboard/customizable.js
  client/dashboard/index.js
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks.js
  src/Features/Onboarding.php
  src/Features/OnboardingTasks.php
Labels: Onboarding, [Status] Ready to Merge

#3001 Decouple wcSettings from published packages.
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-filters/index.js
  client/analytics/report/orders/table.js
  client/header/activity-panel/panels/orders.js
  packages/components/src/advanced-filters/README.md
  packages/components/src/advanced-filters/docs/example.js
  packages/components/src/advanced-filters/index.js
  packages/components/src/advanced-filters/number-filter.js
  packages/components/src/chart/README.md
  packages/components/src/chart/index.js
  packages/components/src/empty-content/index.js
  packages/components/src/filters/README.md
  packages/components/src/filters/docs/example.js
  packages/components/src/filters/index.js
  packages/components/src/image-asset/README.md
  packages/components/src/image-asset/docs/example.js
  packages/components/src/image-asset/index.js
  packages/components/src/index.js
  packages/components/src/order-status/README.md
  packages/components/src/order-status/docs/example.js
  packages/components/src/order-status/index.js
  packages/components/src/product-image/index.js
  packages/components/src/product-image/placeholder.js
  packages/components/src/product-image/test/__snapshots__/index.js.snap
  packages/components/src/product-image/test/index.js
  packages/components/src/search/autocompleters/countries.js
  packages/currency/README.md
  packages/date/src/index.js
  packages/navigation/src/index.js
Labels: Components, Packages, Release Blocker, [Priority] High

#3035 Escape spaces in package file watch paths
  bin/packages/watch.js
Labels: Build, [Status] Ready to Merge, [Type] Bug

#3033 Release/0.20.1
  package.json
  readme.txt
  src/FeaturePlugin.php
  woocommerce-admin.php
Labels: Build

#3041 Remove the Onboarding Levels API
  src/API/Init.php
  src/API/OnboardingLevels.php
  tests/api/onboarding-levels.php
  tests/api/onboarding-profile.php
  tests/api/report-controllers.php
Labels: Onboarding, [Status] Ready to Merge

#3036 Update Search component to use SelectControl
  packages/components/src/advanced-filters/search-filter.js
  packages/components/src/search/autocomplete.js
  packages/components/src/search/autocompleters/categories.js
  packages/components/src/search/autocompleters/countries.js
  packages/components/src/search/autocompleters/coupons.js
  packages/components/src/search/autocompleters/customers.js
  packages/components/src/search/autocompleters/download-ips.js
  packages/components/src/search/autocompleters/emails.js
  packages/components/src/search/autocompleters/orders.js
  packages/components/src/search/autocompleters/product.js
  packages/components/src/search/autocompleters/taxes.js
  packages/components/src/search/autocompleters/usernames.js
  packages/components/src/search/autocompleters/variations.js
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
  packages/components/src/search/test/autocomplete.js
  packages/components/src/select-control/control.js
  packages/components/src/select-control/index.js
  packages/components/src/select-control/list.js
  packages/components/src/select-control/test/index.js
Labels: Build, Components, Packages, [Status] Needs Review

#3053 Fix broken plugin builds by adding missing feature flag check
  client/dashboard/customizable.js
Labels: Build, [Status] Ready to Merge

#3052 Onboarding: Add redirect URL option to jetpack connection URL
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/task-list/tasks/steps/connect.js
  client/wc-api/onboarding/operations.js
  client/wc-api/onboarding/selectors.js
  src/API/OnboardingPlugins.php
Labels: Onboarding, [Status] Ready to Merge

#3007 Onboarding: Skip tax steps if complete and mark task complete
  client/dashboard/task-list/tasks/tax.js
  client/wc-api/onboarding/selectors.js
Labels: Onboarding, [Status] Ready to Merge

#3057 Fix dashboard (fix check for product_types in shipping)
  client/dashboard/task-list/tasks.js
Labels: Onboarding, [Status] Ready to Merge

#3040 Update proceed without Jetpack/WCS to go to store details step
  client/dashboard/index.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/store-details.js
  src/API/OnboardingProfile.php
  src/Features/Onboarding.php
  tests/api/onboarding-profile.php
Labels: Onboarding, [Status] Ready to Merge

#3044 Add the ability to create custom plugin builds
  bin/build-plugin-zip.sh
  bin/generate-feature-config.php
  docs/feature-flags.md
  src/API/OnboardingPlugins.php
  src/Features/Onboarding.php
  webpack.config.js
Labels: Build, [Status] Ready to Merge

#3064 Fix typo in task list
  client/dashboard/task-list/tasks/tax.js
Labels: Onboarding, [Status] Ready to Merge

#3058 Onboarding: Add store is ready for launch note
  client/dashboard/task-list/index.js
  src/Features/Onboarding.php
  src/Features/OnboardingTasks.php
  src/Notes/WC_Admin_Notes_Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3059 Onboarding: Localize currency ranges inside translated string
  client/dashboard/profile-wizard/steps/business-details.js
Labels: Onboarding, [Status] Needs Review

#3060 Onboarding: Add task list extensibility and example plugin
  client/dashboard/task-list/tasks.js
  docs/examples/extensions/README.md
  docs/examples/extensions/add-task/js/index.js
  docs/examples/extensions/add-task/woocommerce-admin-add-task-example.php
  src/Features/Onboarding.php
Labels: Extensibility, Onboarding, [Status] Ready to Merge

#3065 Remove unnecessary horizontal scroll bar visible from select control
  packages/components/src/select-control/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#3062 Fix asset image URL and business extension images
  client/dashboard/profile-wizard/style.scss
  src/Loader.php
Labels: [Status] Ready to Merge

#3061 Add notices to return to task list on product and homepage tasks.
  client/wp-admin-scripts/README.md
  client/wp-admin-scripts/onboarding-homepage-notice/index.js
  src/Features/OnboardingTasks.php
  webpack.config.js
Labels: Build, Onboarding, [Status] Ready to Merge

#3069 Set SelectControl input background to transparent
  packages/components/src/select-control/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge, [Type] Bug

#3068 Onboarding: Don't skip start step if TOS not accepted
  client/dashboard/profile-wizard/steps/start/index.js
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3077 Use getenv in place of $_ENV
  bin/generate-feature-config.php
Labels: Build, [Status] Ready to Merge, [Type] Bug

#3084 Install business extensions on the business details page
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/task-list/tasks/steps/plugins.js
  client/wc-api/onboarding/constants.js
  src/API/OnboardingProfile.php
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Needs Review

#3093 Left align dropdown button text in SelectControl
  packages/components/src/select-control/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#3092 Onboarding: Add no product option to product count dropdown
  client/dashboard/profile-wizard/steps/business-details.js
  src/API/OnboardingProfile.php
Labels: Onboarding, [Status] Ready to Merge

#3087 Handle Jetpack being disconnected on the start page
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start/index.js
Labels: Onboarding

#2987 Match server-side CSV export format to client-side
  client/analytics/report/orders/table.js
  packages/csv-export/CHANGELOG.md
  packages/csv-export/src/__mocks__/mock-csv-data.js
  packages/csv-export/src/__mocks__/mock-headers.js
  packages/csv-export/src/__mocks__/mock-rows.js
  packages/csv-export/src/index.js
  src/API/Reports/Categories/Controller.php
  src/API/Reports/Controller.php
  src/API/Reports/Coupons/Controller.php
  src/API/Reports/Customers/Controller.php
  src/API/Reports/Downloads/Controller.php
  src/API/Reports/ExportableInterface.php
  src/API/Reports/ExportableTraits.php
  src/API/Reports/Orders/Controller.php
  src/API/Reports/Products/Controller.php
  src/API/Reports/Revenue/Stats/Controller.php
  src/API/Reports/Stock/Controller.php
  src/API/Reports/Taxes/Controller.php
  src/API/Reports/Variations/Controller.php
  src/ReportCSVExporter.php
  tests/reports/class-wc-tests-reports-coupons.php
Labels: Analytics, Packages, [Status] Ready to Merge, [Type] Fix

#3039 Add Inbox note action indication
  client/header/activity-panel/panels/inbox/action.js
  client/header/activity-panel/panels/inbox/card.js
  client/header/activity-panel/panels/inbox/index.js
  package-lock.json
  package.json
  src/Notes/DataStore.php
  src/Notes/WC_Admin_Note.php
  src/Notes/WC_Admin_Notes_Facebook_Extension.php
Labels: Activity Panel, Build, Inbox, [Status] Ready to Merge

#3097 Onboarding: Sort WC themes by ID
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3095 Address revenue discrepancies
  client/analytics/report/categories/config.js
  client/analytics/report/categories/table.js
  client/analytics/report/products/config.js
  client/analytics/report/products/table.js
  src/API/Reports/Products/DataStore.php
  src/ReportsSync.php
Labels: Analytics, [Status] Needs Review, [Type] Bug

#3086 Update styles to work with WP 5.3
  client/dashboard/profile-wizard/style.scss
  client/dashboard/style.scss
  client/dashboard/task-list/style.scss
  client/stylesheets/abstracts/_mixins.scss
  client/stylesheets/shared/_global.scss
Labels: Onboarding, [Status] Ready to Merge

#3107 Onboarding: Add color to button text to pages with class woocommerce-page
  client/stylesheets/shared/_global.scss
Labels: Onboarding, [Status] Ready to Merge, [Type] Bug

#3115 Onboarding: Add task view and product import track events
  client/dashboard/task-list/index.js
  client/dashboard/task-list/tasks/appearance.js
Labels: Onboarding, [Status] Ready to Merge

#3117 Fix missing product tutorial and activity panels
  client/dashboard/task-list/tasks/products.js
  includes/connect-existing-pages.php
Labels: Onboarding, [Status] Ready to Merge

#3099 Update payments task based on feebback
  client/dashboard/task-list/index.js
  client/dashboard/task-list/tasks.js
  client/dashboard/task-list/tasks/payments/index.js
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3116 Make minor text fixes to onboarding
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/task-list/tasks/appearance.js
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#3122 Onboarding: Scroll to top when navigating between pages
  client/dashboard/profile-wizard/index.js
  client/dashboard/task-list/index.js
Labels: Onboarding

#3110 Add currency defaults based on country
  client/dashboard/profile-wizard/steps/store-details.js
  packages/currency/CHANGELOG.md
  packages/currency/src/index.js
  src/Features/Onboarding.php
Labels: Onboarding, Packages, [Status] Ready to Merge

#3121 Onboarding: Redirect to wccom cart if purchases required
  client/dashboard/index.js
  client/layout/style.scss
Labels: Onboarding, [Status] Needs Review

#3138 two readme.txt fixes
  readme.txt
Labels: Documentation, [Status] Ready to Merge, [Type] Task

#3128 0.21.0 Release changes
  docs/components/_sidebar.md
  package-lock.json
  package.json
  readme.txt
  src/FeaturePlugin.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge

#3105 Add an autofill option to SelectControl
  client/dashboard/components/settings/general/store-address.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/task-list/tasks/steps/location.js
  packages/components/src/select-control/control.js
  packages/components/src/select-control/index.js
  packages/components/src/select-control/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#3141 Fix ellipsis menu style
  packages/components/src/ellipsis-menu/style.scss
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug
