Repository woocommerce/woocommerce-admin, pull requests merged in 2019-08, with the labels that each got.

#2728 Update core subclasses to be PSR-4.
  composer.json
  includes/class-wc-admin-reports-sync.php
  src/WC_Admin_Order.php
  src/WC_Admin_Order_Refund.php
  src/WC_Admin_Order_Trait.php
Labels: Build, [Status] Ready to Merge, [Type] Task

#2727 Onboarding: Add a "this store is being setup for a client" store detail field
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/style.scss
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  tests/api/onboarding-profile.php
Labels: Onboarding

#2730 Update page controller to be PSR-4.
  includes/page-controller/page-controller-functions.php
  src/WC_Admin_Page_Controller.php
Labels: Build, [Status] Ready to Merge, [Type] Task

#2731 Update admin notes classes to be PSR-4.
  includes/api/class-wc-admin-rest-admin-note-action-controller.php
  includes/api/class-wc-admin-rest-admin-notes-controller.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  includes/features/activity-panel/class-wc-admin-activity-panel.php
  src/Notes/WC_Admin_Note.php
  src/Notes/WC_Admin_Notes.php
  src/Notes/WC_Admin_Notes_Giving_Feedback_Notes.php
  src/Notes/WC_Admin_Notes_Historical_Data.php
  src/Notes/WC_Admin_Notes_Mobile_App.php
  src/Notes/WC_Admin_Notes_New_Sales_Record.php
  src/Notes/WC_Admin_Notes_Order_Milestones.php
  src/Notes/WC_Admin_Notes_Settings_Notes.php
  src/Notes/WC_Admin_Notes_Welcome_Message.php
  src/Notes/WC_Admin_Notes_Woo_Subscriptions_Notes.php
  tests/api/admin-notes.php
  tests/framework/helpers/class-wc-helper-admin-notes.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge, [Type] Task

#2718 Onboarding - Task List: Add store connection task
  client/dashboard/task-list/index.js
  client/dashboard/task-list/tasks/connect.js
  includes/api/class-wc-admin-rest-onboarding-plugins-controller.php
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  includes/features/onboarding/class-wc-admin-onboarding.php
  tests/api/onboarding-profile.php
Labels: Onboarding, [Status] Needs Review

#2734 Update report export classes to be PSR-4.
  includes/api/class-wc-admin-rest-reports-export-controller.php
  src/WC_Admin_Report_CSV_Exporter.php
  src/WC_Admin_Report_Exporter.php
  tests/reports/class-wc-tests-reports-coupons.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge, [Type] Task

#2681 Onboarding: Add WebPreview component for theme previewing
  client/dashboard/profile-wizard/steps/theme/index.js
  client/dashboard/profile-wizard/steps/theme/preview.js
  client/dashboard/profile-wizard/steps/theme/style.scss
  client/devdocs/examples.json
  package-lock.json
  packages/components/CHANGELOG.md
  packages/components/src/index.js
  packages/components/src/style.scss
  packages/components/src/web-preview/example.md
  packages/components/src/web-preview/index.js
  packages/components/src/web-preview/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#2726 Update Stepper component with new props and styles
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/style.scss
  packages/components/src/stepper/example.md
  packages/components/src/stepper/index.js
  packages/components/src/stepper/style.scss
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#2738 Onboarding - Fix navigation handling on the `skip` link
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/style.scss
Labels: Onboarding, [Status] Ready to Merge

#2736 Update feature classes to be PSR-4 autoloaded.
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  includes/class-wc-admin-loader.php
  src/Features/WC_Admin_Activity_Panels.php
  src/Features/WC_Admin_Analytics.php
  src/Features/WC_Admin_Analytics_Dashboard.php
  src/Features/WC_Admin_Onboarding.php
  src/Features/WC_Admin_Onboarding_Tasks.php
Labels: Build, [Status] Ready to Merge, [Type] Task

#2742 Add form component for handling form state
  client/dashboard/profile-wizard/steps/store-details.js
  client/devdocs/examples.json
  packages/components/src/form/example.md
  packages/components/src/form/index.js
  packages/components/src/index.js
Labels: Components, Onboarding, Packages, [Status] Needs Review

#2744 Short circuit admin title filter when applied by third parties too early.
  includes/class-wc-admin-loader.php
Labels: [Status] Ready to Merge, [Type] Fix

#2739 PSR-4ify the sync class.
  includes/api/class-wc-admin-rest-reports-import-controller.php
  src/Notes/WC_Admin_Notes.php
  src/WC_Admin_ActionScheduler_WPPostStore.php
  src/WC_Admin_Report_Exporter.php
  src/WC_Admin_Reports_Sync.php
  tests/api-init.php
  tests/api/reports-import.php
  tests/batch-queue.php
  tests/queue-priority.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge, [Type] Task

#2733 add version string to _doing_it_wrong
  includes/page-controller/class-wc-admin-page-controller.php
Labels: [Status] Ready to Merge, [Type] Bug

#2740 Update theme subclasses to be PSR-4.
  includes/api/class-wc-admin-rest-themes-controller.php
  src/WC_Admin_Theme_Upgrader.php
  src/WC_Admin_Theme_Upgrader_Skin.php
Labels: Build, [Status] Needs Review, [Type] Task

#2761 Update the WP.com connection parameter to match the WCCOM API
  includes/api/class-wc-admin-rest-onboarding-plugins-controller.php
Labels: Onboarding, [Status] Ready to Merge

#2749 Add event handlers in Form component and update onboarding form
  client/dashboard/profile-wizard/steps/business-details.js
  packages/components/src/form/example.md
  packages/components/src/form/index.js
Labels: Components, Onboarding, Packages, [Status] Needs Review

#2751 Add `help` prop to SimpleSelectControl to properly show errors.
  docs/components/packages/simple-select-control.md
  packages/components/src/simple-select-control/index.js
Labels: Components, Onboarding, Packages, [Status] Ready to Merge

#2753 restore wp-admin wpbody-content bottom padding
  client/stylesheets/shared/_reset.scss
  package-lock.json
Labels: [Type] Bug

#2763 Add revenue question to the business details page
  client/dashboard/profile-wizard/steps/business-details.js
  includes/api/class-wc-admin-rest-onboarding-profile-controller.php
  tests/api/onboarding-profile.php
Labels: Components, Onboarding, Packages

#2769 Fix slug notice when connecting to Jetpack
  includes/api/class-wc-admin-rest-onboarding-plugins-controller.php
Labels: Onboarding, [Status] Ready to Merge

#2770 Update onboarding profile wizard copy
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/steps/theme/index.js
Labels: Onboarding, [Status] Ready to Merge

#2764 convert zero last active date to null in customer query
  client/analytics/report/customers/table.js
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2762 only run uninstall functions if dependencies are available
  uninstall.php
Labels: [Status] Ready to Merge, [Type] Bug

#2777 increase the popover zIndex from 1 to 2
  client/stylesheets/shared/_reset.scss
Labels: [Status] Ready to Merge, [Type] Tweak

#2782 update WC tested to version to 3.7.0
  woocommerce-admin.php
Labels: [Status] Ready to Merge, [Type] Task

#2785 Wait until all chart data page requests are complete before rendering.
  client/wc-api/reports/utils.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2710 Fix category report comparison chart render.
  src/API/Reports/Products/Stats/Segmenter.php
  src/API/Reports/Segmenter.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2776 Fix warnings in report segmenting
  src/API/Reports/Segmenter.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2794 update the class filename exclusion to /src/ for PSR-4
  phpcs.xml.dist
Labels: [Status] Ready to Merge, [Type] Task

#2783 Search List Control: fix long count values cut-off in IE11
  packages/components/CHANGELOG.md
  packages/components/src/search-list-control/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2679 Import all used Gutenberg component styles.
  client/dashboard/style.scss
  client/stylesheets/abstracts/_mixins.scss
  client/stylesheets/abstracts/_variables.scss
  client/stylesheets/shared/_gutenberg-components.scss
Labels: [Status] Ready to Merge, [Type] Fix

#2797 Release 0.17.0
  bin/build-plugin-zip.sh
  docs/components/_sidebar.md
  docs/components/packages/form.md
  docs/components/packages/stepper.md
  docs/components/packages/web-preview.md
  package-lock.json
  package.json
  readme.txt
  src/FeaturePlugin.php
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge

#2796 Release Scripts: Update to reflect refactor
  bin/pre-release.sh
  bin/update-version.php
Labels: Build, [Status] Ready to Merge

#2798 Add inbox notice promoting the Facebook extension.
  src/API/OnboardingPlugins.php
  src/Events.php
  src/FeaturePlugin.php
  src/Notes/NoteTraits.php
  src/Notes/WC_Admin_Notes_Facebook_Extension.php
  src/Notes/WC_Admin_Notes_Giving_Feedback_Notes.php
  src/Notes/WC_Admin_Notes_Mobile_App.php
Labels: Activity Panel, Inbox, [Status] Ready to Merge, [Type] Enhancement

#2801 Add empty state to tables
  packages/components/CHANGELOG.md
  packages/components/src/filters/compare/button.js
  packages/components/src/search/index.js
  packages/components/src/table/index.js
  packages/components/src/table/style.scss
  packages/components/src/table/table.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Enhancement

#2805 Pass "show data picker" prop to underlying component in ReportFilters.
  client/analytics/components/report-filters/index.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2806 Fix bug with checking user preferences for report column visibility.
  client/analytics/components/report-table/index.js
  packages/components/src/table/index.js
Labels: Analytics, Components, Packages, Settings, [Status] Ready to Merge, [Type] Bug

#2802 Components: prepare changelogs for release
  bin/update-version.php
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/csv-export/CHANGELOG.md
  packages/csv-export/package.json
  packages/currency/CHANGELOG.md
  packages/currency/package.json
  packages/date/CHANGELOG.md
  packages/date/package.json
  packages/navigation/CHANGELOG.md
  packages/navigation/package.json
  packages/number/CHANGELOG.md
  packages/number/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#2779 Update List actionable items to be wrapped with Link
  client/dashboard/task-list/tasks/products.js
  client/stylesheets/abstracts/_variables.scss
  packages/components/src/list/index.js
  packages/components/src/list/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#2812 Orders report now shows coupons in Coupon(s) column
  client/analytics/report/orders/table.js
Labels: Analytics, [Status] Needs Review, [Type] Bug

#2814 Fix product reports for simple products converted to variable.
  src/API/Reports/Segmenter.php
  src/API/Reports/Variations/DataStore.php
Labels: Analytics, [Status] Ready to Merge, [Type] Enhancement

#2784 Allow action scheduler custom data store migration
  src/FeaturePlugin.php
  src/ReportsSync.php
Labels: [Status] Ready to Merge, [Type] Dev

#2760 Onboarding: Add shipping rate base task
  client/dashboard/components/settings/general/store-address.js
  client/dashboard/profile-wizard/index.js
  client/dashboard/profile-wizard/steps/business-details.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/profile-wizard/steps/theme/style.scss
  client/dashboard/profile-wizard/style.scss
  client/dashboard/style.scss
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/products.js
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/shipping/location.js
  client/dashboard/task-list/tasks/shipping/rates.js
  client/stylesheets/abstracts/_variables.scss
  client/wc-api/settings/operations.js
  packages/components/src/form/index.js
  packages/components/src/list/style.scss
  packages/components/src/stepper/style.scss
  postcss.config.js
  src/Features/OnboardingTasks.php
Labels: Build, Components, Onboarding, Packages, [Status] Ready to Merge

#2778 Add plugin and jetpack wc-api methods to shipping task
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/style.scss
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/shipping/connect.js
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/shipping/labels.js
  client/wc-api/onboarding/constants.js
  client/wc-api/onboarding/mutations.js
  client/wc-api/onboarding/operations.js
  client/wc-api/onboarding/selectors.js
Labels: Build, Components, Onboarding, Packages, [Status] Ready to Merge

#2808 Add Autocomplete component
  client/devdocs/examples.json
  client/stylesheets/abstracts/_variables.scss
  docs/components/_sidebar.md
  docs/components/packages/autocomplete.md
  packages/components/src/autocomplete/control.js
  packages/components/src/autocomplete/example.md
  packages/components/src/autocomplete/index.js
  packages/components/src/autocomplete/list.js
  packages/components/src/autocomplete/style.scss
  packages/components/src/autocomplete/tags.js
  packages/components/src/autocomplete/test/index.js
  packages/components/src/index.js
  packages/components/src/style.scss
Labels: Accessibility, Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#2817 Ignore refunded amounts when calculating gross total.
  src/API/Reports/Orders/Stats/DataStore.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#2824 remove constant eliminated by PSR-4
  src/FeaturePlugin.php
Labels: [Status] Ready to Merge, [Type] Dev

#2826 Readme: add composer install step
  README.md
Labels: [Status] Needs Review

#2827 use wc-admin urls in devdocs
  client/devdocs/index.js
Labels: Documentation, [Status] Ready to Merge

#2818 display local time on note instead of UTC
  client/header/activity-panel/panels/inbox.js
Labels: Inbox, [Status] Ready to Merge, [Type] Bug

#2825 Onboarding - Profile Wizard: Update plugin installation step to deal with previously installed plugins
  client/dashboard/profile-wizard/steps/plugins.js
  client/dashboard/profile-wizard/steps/start/images/card.js
  client/dashboard/profile-wizard/steps/start/images/print.js
  client/dashboard/profile-wizard/steps/start/index.js
  client/dashboard/profile-wizard/style.scss
  client/wc-api/onboarding/operations.js
  client/wc-api/onboarding/selectors.js
  src/API/OnboardingPlugins.php
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#2839 Product in dropdown clickable in FF/Safari
  packages/components/src/search/autocomplete.js
Labels: Components, Packages, [Type] Fix

#2830 Onboarding: Add tax task.
  client/dashboard/profile-wizard/steps/store-details.js
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/shipping/rates.js
  client/dashboard/task-list/tasks/steps/connect.js
  client/dashboard/task-list/tasks/steps/location.js
  client/dashboard/task-list/tasks/steps/plugins.js
  client/dashboard/task-list/tasks/tax.js
  client/dashboard/utils.js
  src/Features/OnboardingTasks.php
Labels: Onboarding, [Status] Needs Review

#2840 Improve Autocomplete accessibility
  packages/components/src/autocomplete/index.js
  packages/components/src/autocomplete/list.js
  packages/components/src/autocomplete/style.scss
Labels: Accessibility, Components, Onboarding, Packages, [Status] Ready to Merge

#2841 Onboarding: Update the product types to use IDs
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Ready to Merge

#2854 Update no data message in table
  packages/components/src/table/table.js
Labels: Components, Packages

#2837 Update to Color Studio v2.1.0
  client/dashboard/profile-wizard/steps/theme/style.scss
  client/dashboard/profile-wizard/style.scss
  client/dashboard/store-performance/style.scss
  client/dashboard/style.scss
  client/dashboard/task-list/style.scss
  client/devdocs/style.scss
  client/header/activity-panel/activity-card/style.scss
  client/header/activity-panel/activity-outbound-link/style.scss
  client/header/activity-panel/style.scss
  client/header/style.scss
  client/layout/style.scss
  client/stylesheets/abstracts/_colors.scss
  client/stylesheets/abstracts/_mixins.scss
  client/stylesheets/abstracts/_variables.scss
  client/stylesheets/shared/_global.scss
  docs/index.html
  package-lock.json
  package.json
  packages/components/src/advanced-filters/style.scss
  packages/components/src/autocomplete/style.scss
  packages/components/src/calendar/style.scss
  packages/components/src/card/style.scss
  packages/components/src/chart/d3chart/legend.scss
  packages/components/src/chart/d3chart/style.scss
  packages/components/src/chart/style.scss
  packages/components/src/date-range-filter-picker/style.scss
  packages/components/src/dropdown-button/style.scss
  packages/components/src/ellipsis-menu/style.scss
  packages/components/src/filter-picker/style.scss
  packages/components/src/filters/style.scss
  packages/components/src/list/style.scss
  packages/components/src/pagination/style.scss
  packages/components/src/search-list-control/style.scss
  packages/components/src/search/style.scss
  packages/components/src/segmented-selection/style.scss
  packages/components/src/simple-select-control/style.scss
  packages/components/src/spinner/style.scss
  packages/components/src/split-button/style.scss
  packages/components/src/stepper/style.scss
  packages/components/src/summary/style.scss
  packages/components/src/table/style.scss
  packages/components/src/text-control-with-affixes/style.scss
  packages/components/src/web-preview/style.scss
  postcss.config.js
Labels: Build, Components, Packages

#2853 Add base payments task & jetpack connection status method
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/products.js
  client/wc-api/onboarding/constants.js
  client/wc-api/onboarding/operations.js
  client/wc-api/onboarding/selectors.js
  docs/components/packages/list.md
  packages/components/CHANGELOG.md
  packages/components/src/list/example.md
  packages/components/src/list/index.js
  packages/components/src/list/style.scss
  src/Features/Onboarding.php
Labels: Build, Components, Onboarding, Packages, [Status] Needs Review

#2852 release 0.18.0
  docs/components/packages/list.md
  package-lock.json
  package.json
  readme.txt
  src/FeaturePlugin.php
  woocommerce-admin.php
Labels: Build, [Status] Needs Review

#2858 Onboarding Task List - Install selected payment methods
  client/dashboard/task-list/tasks/payments/index.js
  client/dashboard/task-list/tasks/shipping/index.js
  client/dashboard/task-list/tasks/steps/plugins.js
  src/Features/Onboarding.php
Labels: Onboarding
