Repository woocommerce/woocommerce-admin, pull requests merged in 2019-03, with the labels that each got.

#1717 Date picker: fix tabs CSS
  packages/components/src/filters/date/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1718 Update tracking to use wcTracks method
  client/lib/tracks.js
  lib/client-assets.php
Labels: [Type] Task

#1732 Skip dispatching fresh data requests when the window/tab is hidden.
  client/wc-api/wp-data-store/create-api-client.js
Labels: [Status] Ready to Merge

#1724 Readme Updates
  readme.txt
  wc-admin.php
Labels: [Status] Needs Review

#1728 Define extended_info in case query is filtered
  client/analytics/report/coupons/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/dashboard/leaderboards/top-selling-categories.js
  client/dashboard/leaderboards/top-selling-products.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1731 Update chart colors to match spec
  packages/components/src/chart/constants.js
  packages/components/src/chart/d3chart/legend.js
Labels: Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#1681 Updated is_returning_customer definition to use refactored function.
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Ready to Merge

#1723 Hook up StoreAlerts component to notes endpoint
  client/layout/store-alerts/index.js
  client/layout/store-alerts/style.scss
Labels: [Status] Ready to Merge

#1729 Update table columns visibility on finish loading
  packages/components/src/table/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1730 Use IDs instead of labels to identify chart legend items
  client/analytics/components/report-chart/index.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/tooltip.js
  packages/components/src/chart/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1702 Retain size of order status indicator in smaller screen
  packages/components/src/order-status/style.scss
Labels: Components, Packages

#1741 Don't Run Lookup Table Population on Activate
  includes/class-wc-admin-install.php
Labels: [Status] Needs Review

#1727 Add actionable order statuses settings
  client/analytics/settings/config.js
  client/header/activity-panel/panels/orders.js
  client/wc-api/settings/operations.js
  lib/admin.php
Labels: Analytics, [Status] Ready to Merge

#1738 Update CSV filenames and remove item IDs
  packages/components/src/table/index.js
  packages/csv-export/src/index.js
  packages/csv-export/src/test/index.js
Labels: Components, Packages, [Type] Bug

#1737 Add rebuild tool to settings page
  client/analytics/settings/config.js
  client/analytics/settings/index.js
  client/analytics/settings/setting.js
  client/analytics/settings/setting.scss
  includes/class-wc-admin-reports-sync.php
Labels: Analytics, [Status] Ready to Merge

#1722 Make products and rates endpoints return zero-value items
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/api/reports-products.php
  tests/api/reports-taxes.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1740 Add button focus style to report chart interval selection.
  packages/components/src/chart/style.scss
Labels: Accessibility, Components, Packages, [Status] Ready to Merge, [Type] Sweep, [Type] Task

#1742 Fix IE11 leaderboard display issue.
  client/dashboard/style.scss
Labels: [Status] Ready to Merge, [Type] Bug

#1754 Show compared keys in chart legends even if their values are 0
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-chart/test/index.js
  client/analytics/components/report-chart/utils.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1748 Filters: Simplify options
  client/analytics/report/categories/config.js
  client/analytics/report/categories/index.js
  client/analytics/report/coupons/config.js
  client/analytics/report/products/config.js
  client/wc-api/reports/utils.js
Labels: Analytics, [Status] Ready to Merge, [Type] Task

#1759 Ensure that other scheduled actions are claimed before WC Admin actions.
  includes/class-wc-admin-actionscheduler-wppoststore.php
  tests/queue-priority.php
  wc-admin.php
Labels: [Status] Ready to Merge

#1758 Add StoreAlerts placeholder
  client/layout/store-alerts/index.js
  client/layout/store-alerts/placeholder.js
  client/layout/store-alerts/style.scss
  includes/class-wc-admin-notes.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  lib/client-assets.php
Labels: [Status] Ready to Merge

#1762 Fix chart comparison mode and single Category
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/index.js
  client/analytics/report/coupons/index.js
  client/analytics/report/index.js
  client/analytics/report/products/index.js
  client/analytics/report/products/table.js
  client/wc-api/reports/utils.js
  includes/class-wc-admin-reports-segmenting.php
  packages/components/src/table/index.js
Labels: Analytics, Components, Packages, [Status] In Progress, [Status] Needs Design Review, [Status] Needs Review

#1766 Taxes report: sort tax rates numerically instead of alphabetically
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/api/reports-taxes.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1755 Make categories endpoint return zero-value items
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  tests/api/reports-categories.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1765 Make variations and coupons endpoints return zero-value items
  client/analytics/report/products/table-variations.js
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
  tests/api/reports-coupons.php
  tests/api/reports-variations.php
Labels: Analytics, Build, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1763 Add store notice around processing historical data.
  client/analytics/settings/config.js
  client/layout/store-alerts/index.js
  client/wc-api/notes/index.js
  client/wc-api/notes/mutations.js
  client/wc-api/notes/operations.js
  client/wc-api/wc-api-spec.js
  includes/api/class-wc-admin-rest-admin-notes-controller.php
  includes/class-wc-admin-install.php
  includes/class-wc-admin-note.php
  includes/class-wc-admin-notes-historical-data.php
  includes/class-wc-admin-notes-new-sales-record.php
  includes/class-wc-admin-notes-settings-notes.php
  includes/class-wc-admin-notes-woo-subscriptions-notes.php
  includes/class-wc-admin-notes.php
  includes/class-wc-admin-reports-sync.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  lib/client-assets.php
  tests/api/admin-notes.php
  tests/framework/helpers/class-wc-helper-admin-notes.php
  wc-admin.php
Labels: Analytics, [Status] Ready to Merge, [Tests] Includes Tests

#1778 Remove timezone from appendTimestamp() output.
  packages/date/CHANGELOG.md
  packages/date/src/index.js
  packages/date/test/index.js
Labels: Analytics, Packages, [Status] Ready to Merge

#1750 Fix deleted product error
  includes/data-stores/class-wc-admin-reports-products-data-store.php
Labels: REST API, [Status] Needs Design Review, [Status] Ready to Merge, [Type] Bug

#1780 Avoid useless Chart re-renders and clean-up component state
  client/analytics/components/report-chart/index.js
  package.json
  packages/components/src/chart/d3chart/utils/index.js
  packages/components/src/chart/index.js
Labels: Analytics, Build, Components, Packages, [Status] Ready to Merge

#1779 Fix/products stats segment product filter cats
  includes/class-wc-admin-reports-segmenting.php
Labels: [Status] Ready to Merge

#1793 Fix CSS Lint issues in store-alerts CSS
  client/layout/store-alerts/style.scss
Labels: [Status] Ready to Merge

#1753 Fix deleted coupon data sync
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1781 Load RTL CSS files
  lib/client-assets.php
  package.json
  packages/components/src/chart/style.scss
  packages/components/src/table/style.scss
  packages/components/src/view-more-list/style.scss
  postcss.config.js
  webpack.config.js
Labels: Build, Components, Packages, [Status] Ready to Merge

#1794 RTL charts
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/tooltip.js
Labels: Components, Packages, [Status] Ready to Merge

#1796 Update compare button help text
  client/analytics/report/categories/config.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/config.js
  client/analytics/report/products/config.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/taxes/config.js
  packages/components/src/table/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1799 Show error in activity panel if no actionable order statuses exist
  client/header/activity-panel/panels/orders.js
  client/header/activity-panel/style.scss
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1797 Check if dependencies are met before running deactivation hook
  woocommerce-admin.php
Labels: [Status] Ready to Merge, [Type] Bug

#1800 Update coupon search to allow searching by code
  includes/api/class-wc-admin-rest-coupons-controller.php
Labels: Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1812 Allow sorting by tax_code in Taxes report
  client/analytics/report/taxes/table.js
  includes/api/class-wc-admin-rest-reports-taxes-controller.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
  tests/api/reports-taxes.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1813 Add a custom “cancel all” method to our scheduled action data store.
  includes/class-wc-admin-actionscheduler-wppoststore.php
  includes/class-wc-admin-reports-sync.php
Labels: [Status] Ready to Merge

#1798 Add single customer filter and hook up customer link
  client/analytics/report/customers/config.js
  client/header/activity-panel/panels/orders.js
  client/lib/async-requests/index.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1807 Add onChange event to search focus to restore search results
  packages/components/CHANGELOG.md
  packages/components/src/search/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1791 Update product searching to search by name or sku
  includes/api/class-wc-admin-rest-products-controller.php
  packages/components/src/search/autocompleters/product.js
Labels: Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1792 Update/variations search method
  client/analytics/report/products/index.js
  client/analytics/report/products/table-variations.js
  includes/api/class-wc-admin-rest-product-variations-controller.php
  packages/components/src/search/autocompleters/variations.js
Labels: Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1803 Fix date range dropdown for RTL locales
  packages/components/src/calendar/style.scss
  packages/components/src/filters/date/style.scss
Labels: Components, Packages, [Status] Needs Review

#1816 Show chart hover circles in the correct order
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/test/line-chart.js
Labels: Components, Packages, [Status] Ready to Merge

#1810 Fix missing date picker calendar in RTL locales
  packages/components/src/calendar/date-range.js
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/utils/axis.js
Labels: Components, Packages, [Status] Ready to Merge

#1822 Fix date picker tab styling across gutenberg versions
  packages/components/src/filters/date/style.scss
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1833 Fix table links to internal reports
  client/analytics/report/categories/breadcrumbs.js
  client/analytics/report/categories/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/stock/table.js
Labels: [Status] Ready to Merge

#1824 Activity Panel: set orders unread indicator based on real data
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/orders.js
  includes/api/class-wc-admin-rest-reports-orders-controller.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: Activity Panel, [Status] Ready to Merge

#1844 Travis: escape hashes (#) from branch names when downloading the ZIP file
  bin/install-wp-tests.sh
Labels: Build, [Status] Ready to Merge

#1835 Products: Group API search items by id
  includes/api/class-wc-admin-rest-product-variations-controller.php
  includes/api/class-wc-admin-rest-products-controller.php
Labels: [Status] Ready to Merge

#1845 CSSLint: Remove whitespace at the end of line
  client/analytics/settings/index.scss
Labels: [Status] Ready to Merge

#1821 Check if resources are still loading before skipping dispatch
  client/wc-api/wp-data-store/create-api-client.js
Labels: [Status] Ready to Merge, [Type] Bug

#1838 Minify in safe mode for RTL styles to prevent stripping z-index
  webpack.config.js
Labels: Build, [Status] Ready to Merge, [Type] Bug

#1839 Update react router to v5
  package.json
Labels: Build, [Status] Ready to Merge, [Type] Bug

#1852 Activity Panel: Hide Reviews Panel when Reviews are Disabled
  client/header/activity-panel/index.js
  lib/client-assets.php
Labels: Activity Panel, [Status] Ready to Merge

#1823 Activity Panel: Persist read status for inbox notes
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/inbox.js
  client/wc-api/user/operations.js
  lib/admin.php
Labels: Activity Panel, Analytics, [Status] Ready to Merge

#1841 Hide stock panel and menu if stock management is disabled
  client/analytics/report/index.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/header/activity-panel/index.js
  lib/admin.php
  lib/client-assets.php
Labels: Activity Panel, [Status] Ready to Merge, [Type] Task

#1860 Activity Panel: set reviews unread indicator based on real data
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/reviews.js
  client/wc-api/user/operations.js
  lib/admin.php
Labels: Activity Panel, [Status] Needs Review

#1870 Fix PHP notices on orders data store
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: REST API, [Status] Ready to Merge

#1848 Add "remind me later" functionality to StoreAlert component.
  client/layout/store-alerts/index.js
  client/layout/store-alerts/style.scss
  includes/api/class-wc-admin-rest-admin-notes-controller.php
  includes/class-wc-admin-install.php
  includes/class-wc-admin-note.php
  includes/class-wc-admin-notes.php
  includes/data-stores/class-wc-admin-notes-data-store.php
  tests/api/admin-notes.php
  tests/framework/helpers/class-wc-helper-admin-notes.php
Labels: [Status] Ready to Merge

#1864 Clear advanced filters when last one is removed
  packages/components/src/filters/advanced/index.js
Labels: Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#1875 Swap order of charts and leaderboards on the dashboard
  client/dashboard/index.js
Labels: [Status] Ready to Merge

#1867 Create DEFAULT_ACTIONABLE_STATUSES constant
  client/analytics/settings/config.js
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/orders.js
  client/wc-api/constants.js
Labels: [Status] Ready to Merge

#1809 Add/clear jobs setting
  client/analytics/settings/config.js
  includes/api/class-wc-admin-rest-system-status-tools-controller.php
  includes/class-wc-admin-reports-sync.php
Labels: Analytics, [Status] Needs Review, [Type] Enhancement

#1858 Enhancement/top customers
  client/dashboard/leaderboards/index.js
  client/dashboard/leaderboards/top-customers.js
Labels: [Status] Needs Design Review, [Status] Ready to Merge

#1873 Refactor getFilterQuery by explicitly passing down configs
  client/analytics/components/leaderboard/index.js
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/index.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/index.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/index.js
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/index.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/index.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/stock/index.js
  client/analytics/report/stock/table.js
  client/analytics/report/taxes/index.js
  client/analytics/report/taxes/table.js
  client/wc-api/reports/utils.js
Labels: [Status] Ready to Merge, [Type] Bug

#1877 Automatically update versions on build
  bin/update-version.php
  includes/class-wc-admin-install.php
  package.json
  woocommerce-admin.php
Labels: Build, [Status] Needs Review, [Type] Enhancement

#1880 Activity Panel: add overlay to product placeholder images
  client/header/activity-panel/activity-card/style.scss
  client/header/activity-panel/panels/reviews.js
Labels: Activity Panel, [Status] Needs Design Review, [Status] Ready to Merge

#1914 Fix ESLint error in leaderboards
  client/dashboard/leaderboards/index.js
Labels: [Status] Ready to Merge

#1879 #1830 Fix/1830 move all note php files to subfolder
  includes/class-wc-admin-api-init.php
  includes/notes/class-wc-admin-note.php
  includes/notes/class-wc-admin-notes-historical-data.php
  includes/notes/class-wc-admin-notes-new-sales-record.php
  includes/notes/class-wc-admin-notes-settings-notes.php
  includes/notes/class-wc-admin-notes-woo-subscriptions-notes.php
  includes/notes/class-wc-admin-notes.php
  woocommerce-admin.php
Labels: [Status] Ready to Merge

#1911 Don't query products all products for empty categories
  includes/data-stores/class-wc-admin-reports-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1910 Hide chart name on smaller viewports and move interval select
  packages/components/src/chart/style.scss
Labels: Analytics, Components, Packages, [Status] Needs Review, [Type] Bug

#1913 Update packages with vulnerabilities
  client/analytics/components/leaderboard/test/index.js
  client/analytics/components/report-chart/test/index.js
  package-lock.json
  package.json
  packages/components/src/table/test/index.js
Labels: Build, Components, Packages, [Status] Ready to Merge

#1920 Config: Enable Activity Panels and Alerts for plugin.
  config/plugin.json
Labels: [Status] Needs Review

#1926 Check if customer creation date is not null before formatting
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1928 Remove unused categories in orders data store
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1929 Add onboarding task list to dashboard
  client/dashboard/index.js
  client/dashboard/task-list/index.js
  client/dashboard/task-list/style.scss
  config/core.json
  config/development.json
  config/plugin.json
Labels: Dashboard, Onboarding, [Status] Needs Review

#1930 Convert unreadReviews to a boolean so it doesn't render any character
  client/header/activity-panel/index.js
Labels: Activity Panel, [Status] Ready to Merge

#1921 Release/0.9.0
  docs/components/analytics/report-chart.md
  docs/components/analytics/report-summary.md
  docs/components/packages/chart.md
  docs/components/packages/empty-content.md
  docs/components/packages/table.md
  package-lock.json
  package.json
  woocommerce-admin.php
Labels: Build, [Status] Ready to Merge

#1936 Sync: Avoid infinite loop when REPLACE-ing SQL rows
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
  includes/data-stores/class-wc-admin-reports-taxes-data-store.php
Labels: [Status] Ready to Merge, [Type] Bug

#1871 Load on hold reviews in the Activity Panel
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/reviews.js
  client/wc-api/constants.js
  lib/client-assets.php
Labels: Activity Panel, [Status] Ready to Merge

#1836 Customers API: Fix exact match filters
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: REST API, [Status] Ready to Merge

#1866 Add low product stock indicator
  client/header/activity-panel/index.js
  client/header/activity-panel/unread-indicators.js
  client/wc-api/items/operations.js
  includes/api/class-wc-admin-rest-products-controller.php
Labels: Activity Panel, Components, Packages, [Status] Ready to Merge, [Type] Task

#1837 issue fix #1801 SKU filter issue fixed.
  client/analytics/report/products/table-variations.js
  includes/api/class-wc-admin-rest-reports-variations-controller.php
  includes/data-stores/class-wc-admin-reports-variations-data-store.php
Labels: [Status] Needs Review
