Repository woocommerce/woocommerce-admin, pull requests merged in 2019-01, with the labels that each got.

#1214 Update chart interval thresholds
  packages/date/src/index.js
Labels: Components, Packages, [Status] Needs Review

#1217 CSS lint: fix errors
  packages/components/src/calendar/style.scss
  packages/components/src/chart/style.scss
  packages/components/src/segmented-selection/ie.scss
  packages/components/src/table/ie.scss
Labels: Components, Packages, [Status] Ready to Merge

#1223 Fix/search css tags
  packages/components/src/filters/advanced/style.scss
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
  packages/components/src/tag/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1215 DateRange: change focusInput prop on input focus
  packages/components/src/calendar/date-range.js
Labels: Components, Packages, [Status] Ready to Merge

#1206 Release/0.4.0
  docs/components/analytics/report-chart.md
  docs/components/analytics/report-summary.md
  docs/components/analytics/report-table.md
  docs/components/packages/chart.md
  docs/components/packages/search.md
  package-lock.json
  package.json
  wc-admin.php
Labels: Build, [Status] Needs Review

#1212 Add chart loading spinner while data is being requested
  packages/components/src/chart/placeholder.js
  packages/components/src/chart/style.scss
Labels: Analytics, Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#1209 Update dashboard charts on query change
  client/dashboard/dashboard-charts/index.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1227 Add margin to inline search tags
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1213 Fix chart legend checkboxes not reacting to clicks
  packages/components/src/chart/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1216 DateRange: use DayOfWeek from moment locale
  lib/client-assets.php
  packages/components/src/calendar/date-range.js
  packages/components/src/chart/index.js
  packages/components/src/chart/style.scss
  packages/date/src/index.js
  packages/date/test/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1231 Split `d3chart/utils.js` into several files
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/test/fixtures/dummy-hour.js
  packages/components/src/chart/d3chart/utils.js
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/breakpoints.js
  packages/components/src/chart/d3chart/utils/color.js
  packages/components/src/chart/d3chart/utils/index.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/axis.js
  packages/components/src/chart/d3chart/utils/test/fixtures/dummy-ordered-dates.js
  packages/components/src/chart/d3chart/utils/test/fixtures/dummy-ordered-keys.js
  packages/components/src/chart/d3chart/utils/test/fixtures/dummy-orders.js
  packages/components/src/chart/d3chart/utils/test/index.js
  packages/components/src/chart/d3chart/utils/test/scales.js
  packages/components/src/chart/d3chart/utils/tooltip.js
Labels: Components, Packages, [Status] Ready to Merge

#1226 Fix bar chart in narrow viewports
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/d3base/index.js
  packages/components/src/chart/d3chart/d3base/style.scss
  packages/components/src/chart/d3chart/utils.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/tooltip.js
Labels: Components, Packages, [Status] Ready to Merge

#1238 Connect Downloads report to REST API
  client/analytics/report/downloads/config.js
  client/analytics/report/downloads/index.js
  client/analytics/report/downloads/table.js
  client/store/reports/utils.js
  client/wc-api/reports/items/operations.js
  client/wc-api/reports/stats/operations.js
  includes/data-stores/class-wc-admin-reports-downloads-stats-data-store.php
  packages/date/src/index.js
Labels: Analytics, Packages, [Status] Ready to Merge

#1211 Add the order status column to lookup table
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
Labels: REST API, [Status] Ready to Merge

#1225 Add dashboard chart user preferences
  client/dashboard/dashboard-charts/config.js
  client/dashboard/dashboard-charts/index.js
  client/wc-api/user/operations.js
  lib/admin.php
Labels: Dashboard, [Status] Ready to Merge

#1235 Remove unused show_product_categories_in_rest function
  includes/class-wc-admin-api-init.php
Labels: REST API, [Status] Ready to Merge, [Type] Bug

#1244 Defer chart drawing until chart component has rendered
  package-lock.json
  packages/components/src/chart/d3chart/chart.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge, [Type] Bug

#1236 Add dashboard chart links to reports
  client/dashboard/dashboard-charts/block.js
  client/dashboard/dashboard-charts/block.scss
Labels: Accessibility, Dashboard, [Status] Needs Design Review, [Status] Needs Review

#1234 Add leaderboard section
  client/analytics/components/leaderboard/__mocks__/top-selling-products-mock-data.js
  client/analytics/components/leaderboard/index.js
  client/analytics/components/leaderboard/style.scss
  client/analytics/components/leaderboard/test/index.js
  client/dashboard/index.js
  client/dashboard/leaderboards/index.js
  client/dashboard/leaderboards/style.scss
  client/dashboard/leaderboards/top-selling-products.js
  client/wc-api/user/operations.js
  lib/admin.php
Labels: Dashboard, [Status] Ready to Merge

#1247 Add new props to chart component
  client/analytics/components/report-chart/index.js
  client/dashboard/dashboard-charts/block.js
  packages/components/CHANGELOG.md
  packages/components/src/chart/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1248 Download Report API: Add path to response, fix ordering, and fix schema typo
  includes/api/class-wc-admin-rest-reports-downloads-controller.php
  includes/api/class-wc-admin-rest-reports-downloads-stats-controller.php
  includes/data-stores/class-wc-admin-reports-downloads-stats-data-store.php
  tests/api/reports-downloads-stats.php
  tests/api/reports-downloads.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1099 Rework advanced filters screen reader text generation
  packages/components/src/filters/advanced/number-filter.js
  packages/components/src/filters/advanced/search-filter.js
  packages/components/src/filters/advanced/select-filter.js
  packages/components/src/filters/advanced/test/utils.js
  packages/components/src/filters/advanced/utils.js
Labels: Accessibility, Components, Packages, [Status] Ready to Merge

#1253 Add link to file in Downloads table
  client/analytics/report/downloads/config.js
  client/analytics/report/downloads/table.js
Labels: Analytics, [Status] Ready to Merge

#1230 Add dashboard chart interval preferences
  client/dashboard/dashboard-charts/index.js
  client/wc-api/user/operations.js
  lib/admin.php
  packages/components/src/section-header/style.scss
Labels: Components, Dashboard, Packages, [Status] Ready to Merge

#1144 Add `/reports/customers` endpoint
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-customers-query.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  tests/api/reports-customers.php
  tests/framework/helpers/class-wc-helper-reports.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1255 Add store performance indicator endpoint
  includes/api/class-wc-admin-rest-reports-controller.php
  includes/api/class-wc-admin-rest-reports-performance-indicators-controller.php
  includes/class-wc-admin-api-init.php
  tests/api/reports-performance-indicators.php
Labels: REST API, [Block] Store Performance, [Status] Needs Review, [Tests] Includes Tests

#1265 Fix chart blocks not being responsive
  client/dashboard/dashboard-charts/index.js
  client/dashboard/style.scss
Labels: Analytics, [Status] Ready to Merge

#1271 Hook up customers report table to real data.
  client/analytics/report/customers/config.js
  client/analytics/report/customers/index.js
  client/analytics/report/customers/table.js
  client/wc-api/reports/items/operations.js
Labels: Analytics, [Status] Ready to Merge

#1266 Allow sorting by title and other string fields in report tables
  client/analytics/components/report-table/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/products/table.js
  client/analytics/report/stock/table.js
  includes/api/class-wc-admin-rest-reports-coupons-controller.php
  includes/api/class-wc-admin-rest-reports-downloads-controller.php
  includes/api/class-wc-admin-rest-reports-products-controller.php
  includes/api/class-wc-admin-rest-reports-stock-controller.php
  includes/data-stores/class-wc-admin-reports-categories-data-store.php
  includes/data-stores/class-wc-admin-reports-coupons-data-store.php
  includes/data-stores/class-wc-admin-reports-downloads-data-store.php
  includes/data-stores/class-wc-admin-reports-products-data-store.php
Labels: Analytics, REST API, [Status] Ready to Merge

#1260 Handle *_between params in Reports controllers
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/class-wc-admin-reports-interval.php
  tests/api/reports-interval.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1267 Numeric filter: generate a true array value for “between” rule
  packages/components/src/filters/advanced/number-filter.js
Labels: Components, Packages, [Status] Ready to Merge

#1283 Change category gross stats to net
  client/analytics/report/categories/config.js
  client/analytics/report/categories/table.js
Labels: Analytics, REST API, [Status] Ready to Merge

#1273 Make d3chart component stateless
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/d3base/index.js
  packages/components/src/chart/d3chart/legend.js
  packages/components/src/chart/d3chart/utils.js
  packages/components/src/chart/d3chart/utils/bar-chart.js
  packages/components/src/chart/d3chart/utils/color.js
  packages/components/src/chart/d3chart/utils/line-chart.js
  packages/components/src/chart/d3chart/utils/tooltip.js
Labels: Components, Packages, [Status] Ready to Merge

#1279 Date: Remove hour from default interval in getAllowedIntervalsForQuery
  packages/date/CHANGELOG.md
  packages/date/src/index.js
  packages/date/test/index.js
Labels: Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1287 Update activity button focus styles
  client/header/activity-panel/style.scss
Labels: Activity Panel, [Status] Needs Review

#1289 Avoid duplicated Y-axis values
  packages/components/CHANGELOG.md
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/test/axis.js
Labels: Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1288 Remove decimals from Y-axis
  packages/components/CHANGELOG.md
  packages/components/src/chart/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1274 Makes table dates accessible
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/revenue/table.js
  client/devdocs/examples.json
  docs/components/_sidebar.md
  docs/components/packages/chart.md
  docs/components/packages/date.md
  packages/components/src/date/example.md
  packages/components/src/date/index.js
  packages/components/src/date/test/index.js
  packages/components/src/index.js
Labels: Accessibility, Components, Packages, [Status] Ready to Merge

#1233 Fix/dev docs file path
  client/devdocs/docs.js
  client/devdocs/index.js
  docs/documentation.md
Labels: [Status] Ready to Merge

#1146 Advanced Filters: Add DatePicker
  client/analytics/report/customers/config.js
  packages/components/src/filters/advanced/date-filter.js
  packages/components/src/filters/advanced/index.js
  packages/components/src/filters/advanced/number-filter.js
  packages/components/src/filters/advanced/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1296 Add showMenu prop to TableCard to hide ellipsis menu
  client/analytics/components/leaderboard/index.js
  packages/components/src/table/index.js
Labels: Components, Dashboard, Packages, [Status] Ready to Merge

#1299 Replace 'extract-text-webpack-plugin' with 'mini-css-extract-plugin'
  package-lock.json
  package.json
  webpack.config.js
Labels: Build, [Status] Ready to Merge

#1311 Remove `barfocus` elements from charts
  packages/components/src/chart/d3chart/utils/bar-chart.js
Labels: Components, Packages, [Status] Ready to Merge

#1301 Fix watch package files in Linux
  bin/packages/watch.js
  package.json
Labels: Build, [Status] Ready to Merge

#1319 Release v0.5.0
  docs/components/packages/date.md
  docs/components/packages/table.md
  package-lock.json
  package.json
  wc-admin.php
Labels: Build, [Status] Needs Review

#1324 Update packages docs
  packages/components/CHANGELOG.md
  packages/date/CHANGELOG.md
Labels: Components, Packages, [Status] Ready to Merge

#1291 Regenerate report tables using Action Scheduler
  includes/api/class-wc-admin-rest-system-status-tools-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-order-stats-background-process.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/api/reports-customers.php
  tests/api/reports-orders.php
  tests/batch-queue.php
  tests/bootstrap.php
  tests/framework/helpers/class-wc-test-action-queue.php
Labels: [Status] Ready to Merge, [Tests] Includes Tests

#1180 Update returning customer data to use customer ID
  includes/data-stores/class-wc-admin-reports-orders-data-store.php
  includes/data-stores/class-wc-admin-reports-orders-stats-data-store.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: Analytics, Components, Packages, REST API, [Status] Ready to Merge

#1312 Add missing thousands separator in charts Y-axis
  packages/components/src/chart/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1326 Release npm packages
  packages/components/package.json
  packages/csv-export/package.json
  packages/date/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#1305 Advanced Filters: append time stamp to dates for API query
  client/analytics/report/customers/config.js
  client/store/reports/test/utils.js
  client/store/reports/utils.js
  packages/components/src/filters/advanced/date-filter.js
  packages/components/src/filters/advanced/index.js
Labels: Components, Packages, [Status] Ready to Merge

#1327 Filters: make 1/4 width for wiiiiiiide screens
  packages/components/src/filters/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1338 Remove wc-api customers
  client/wc-api/customers/index.js
  client/wc-api/customers/operations.js
  client/wc-api/customers/selectors.js
  client/wc-api/wc-api-spec.js
Labels: Analytics, [Status] Ready to Merge

#1341 Set default order to 'desc' in time tables
  client/analytics/report/orders/table.js
  client/analytics/report/revenue/table.js
  client/store/reports/utils.js
Labels: Analytics, [Status] Ready to Merge

#1342 Honor WooCommerce Settings When Formatting Currency/Price
  client/analytics/report/orders/table.js
  client/header/activity-panel/panels/orders.js
  client/lib/number/index.js
  client/lib/number/test/index.js
  includes/class-wc-admin-api-init.php
  lib/common.php
  package-lock.json
  package.json
  packages/components/CHANGELOG.md
  packages/components/src/chart/index.js
  packages/currency/CHANGELOG.md
  packages/currency/README.md
  packages/currency/src/index.js
  packages/currency/test/index.js
  tests/js/setup-globals.js
Labels: Build, Components, Packages, [Status] Ready to Merge, [Type] Enhancement

#1333 Add helpText to coupon compare button
  client/analytics/report/coupons/config.js
Labels: [Status] Ready to Merge, [Type] Bug

#1334 Add autocompleter input type and fix load options
  packages/components/src/search/autocomplete.js
  packages/components/src/search/autocompleters/orders.js
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#1337 Add country code as keyword for countries search
  client/analytics/report/customers/table.js
  packages/components/src/search/autocompleters/countries.js
Labels: Accessibility, Components, Packages, [Status] Ready to Merge

#1340 Use stock_status sort order by default in Stock table
  client/analytics/report/stock/table.js
Labels: Analytics, [Status] Needs Review

#1336 Add single category filter to categories report
  client/analytics/report/categories/breadcrumbs.js
  client/analytics/report/categories/config.js
  client/dashboard/leaderboards/top-selling-categories.js
Labels: Analytics, [Status] Ready to Merge

#1351 Move search icon inside input wrapper
  packages/components/src/search/index.js
  packages/components/src/search/style.scss
Labels: Components, Design, Packages, [Status] Ready to Merge, [Type] Bug

#1354 Fix country filter by adding v4 of data/countries API
  includes/api/class-wc-admin-rest-data-countries-controller.php
  includes/class-wc-admin-api-init.php
Labels: REST API, [Status] Ready to Merge

#1343 Add performance indicators to dashboard
  client/analytics/components/report-summary/index.js
  client/analytics/components/report-summary/utils.js
  client/dashboard/index.js
  client/dashboard/store-performance/index.js
  client/lib/number/index.js
  client/wc-api/reports/items/operations.js
  client/wc-api/user/operations.js
  includes/api/class-wc-admin-rest-reports-controller.php
  includes/api/class-wc-admin-rest-reports-coupons-stats-controller.php
  includes/api/class-wc-admin-rest-reports-downloads-stats-controller.php
  includes/api/class-wc-admin-rest-reports-orders-stats-controller.php
  includes/api/class-wc-admin-rest-reports-performance-indicators-controller.php
  includes/api/class-wc-admin-rest-reports-products-stats-controller.php
  includes/api/class-wc-admin-rest-reports-revenue-stats-controller.php
  includes/api/class-wc-admin-rest-reports-taxes-stats-controller.php
  lib/admin.php
  lib/client-assets.php
  packages/components/CHANGELOG.md
  packages/components/src/summary/number.js
  tests/api/reports-performance-indicators.php
Labels: Components, Extensibility, Packages, REST API, [Block] Store Performance, [Status] Ready to Merge

#1353 Remove leading zero from chart dates
  packages/date/src/index.js
Labels: Components, Packages, [Status] Needs Design Review, [Status] Ready to Merge

#1335 REST API: Allow sorting by stock_status in stocks endpoint
  client/analytics/report/stock/table.js
  includes/api/class-wc-admin-rest-reports-stock-controller.php
Labels: REST API, [Status] Ready to Merge

#1350 Add single category filter to products report
  client/analytics/report/categories/table.js
  client/analytics/report/products/config.js
  client/wc-api/categories/operations.js
  includes/api/class-wc-admin-rest-product-categories-controller.php
  includes/class-wc-admin-api-init.php
  packages/components/src/filters/filter/index.js
Labels: Analytics, Components, Packages, [Status] Ready to Merge

#1367 CSS Lint fixes
  client/dashboard/dashboard-charts/block.scss
  packages/components/src/search/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1360 Center points in single-date charts
  packages/components/src/chart/d3chart/chart.js
  packages/components/src/chart/d3chart/utils/axis.js
  packages/components/src/chart/d3chart/utils/line-chart.js
Labels: Components, Packages, [Status] Ready to Merge

#1365 Fill full plot area in bar charts
  packages/components/src/chart/d3chart/utils/scales.js
  packages/components/src/chart/d3chart/utils/test/scales.js
Labels: Components, Packages, [Status] Ready to Merge, [Tests] Includes Tests

#1366 Fix performance-indicators/allowed schema.
  includes/api/class-wc-admin-rest-reports-performance-indicators-controller.php
  tests/api/reports-performance-indicators.php
Labels: [Status] Ready to Merge, [Tests] Includes Tests

#1328 Advanced Filters: Ranges: Allow update only on complete selection
  packages/navigation/src/filters.js
  packages/navigation/src/test/filters.js
Labels: Packages, [Status] Ready to Merge

#1361 Report Tables: Update links and add persistedQuery
  client/analytics/report/categories/breadcrumbs.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/config.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table.js
Labels: [Status] Ready to Merge

#1332 SummaryNumbers: close on click for mobile
  client/analytics/components/report-summary/index.js
  client/dashboard/store-performance/index.js
  packages/components/src/summary/index.js
  packages/components/src/summary/menu.js
  packages/components/src/summary/number.js
  packages/components/src/summary/placeholder.js
  packages/components/src/summary/utils.js
Labels: Components, Packages, [Status] Ready to Merge

#1356 Update order of summary numbers on taxes report
  client/analytics/report/taxes/config.js
Labels: Analytics, [Status] Ready to Merge

#1369 Increase default `wc-api` timeout.
  client/wc-api/constants.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1329 Reports: Reduce Margins on Small Viewports
  client/layout/style.scss
  packages/components/src/filters/advanced/style.scss
  packages/components/src/filters/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#1371 First attempt to fix tests failing around end of hour
  includes/class-wc-admin-reports-interval.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  tests/api/reports-interval.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: REST API, [Status] Ready to Merge

#1380 Add regex expression option to autocompleters
  packages/components/src/search/autocomplete.js
  packages/components/src/search/autocompleters/countries.js
Labels: Components, Packages, [Status] Ready to Merge, [Type] Bug

#1378 Use tableQuery sorting when url query is not present
  client/analytics/components/report-table/index.js
Labels: Analytics, [Status] Ready to Merge, [Type] Bug

#1379 Move 'getLabels' functions into lib/async-requests
  client/analytics/report/categories/config.js
  client/analytics/report/coupons/config.js
  client/analytics/report/customers/config.js
  client/analytics/report/downloads/config.js
  client/analytics/report/orders/config.js
  client/analytics/report/products/config.js
  client/lib/async-requests/index.js
Labels: [Status] Ready to Merge

#1382 Customer report: Update lifetime spend label and re-order columns + default sorting
  client/analytics/report/customers/index.js
  client/analytics/report/customers/table.js
Labels: Analytics, [Status] Ready to Merge, [Type] Enhancement

#1392 Components: Fix SummaryNumber example
  packages/components/CHANGELOG.md
  packages/components/src/summary/example.md
Labels: Components, Packages, [Status] Ready to Merge

#1377 Allow customer date_last_active to be null
  client/analytics/report/customers/table.js
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
Labels: Analytics, Components, Packages, REST API, [Status] Ready to Merge, [Type] Bug

#1397 Add Top Coupons Block
  client/analytics/report/coupons/table.js
  client/dashboard/leaderboards/index.js
  client/dashboard/leaderboards/top-coupons.js
Labels: Dashboard, [Status] Ready to Merge

#1394 Added zero-filling for intervals for taxes/stats endpoint
  includes/data-stores/class-wc-admin-reports-taxes-stats-data-store.php
Labels: REST API, [Status] Ready to Merge

#1370 Conditionally include Gutenberg plugin in test suite
  bin/install-wp-tests.sh
  tests/bootstrap.php
Labels: Build, [Status] Ready to Merge, [Type] Enhancement, [Type] Task

#1385 Add table summary to Customers Report
  client/analytics/report/customers/table.js
  client/wc-api/reports/stats/operations.js
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/class-wc-admin-api-init.php
  includes/class-wc-admin-reports-customers-stats-query.php
  includes/data-stores/class-wc-admin-reports-customers-stats-data-store.php
  tests/api/reports-customers-stats.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests

#1344 Remove 'wc-admin' client/store implementation
  client/embedded.js
  client/index.js
  client/store/index.js
  client/store/middleware.js
  client/store/notes/actions.js
  client/store/notes/index.js
  client/store/notes/reducer.js
  client/store/notes/resolvers.js
  client/store/notes/selectors.js
  client/store/notes/test/reducer.js
  client/store/notes/test/resolvers.js
  client/store/notes/test/selectors.js
  client/store/orders/actions.js
  client/store/orders/index.js
  client/store/orders/reducer.js
  client/store/orders/resolvers.js
  client/store/orders/selectors.js
  client/store/orders/test/reducer.js
  client/store/orders/test/resolvers.js
  client/store/orders/test/selectors.js
  client/store/reports/index.js
  client/store/reports/items/actions.js
  client/store/reports/items/index.js
  client/store/reports/items/reducer.js
  client/store/reports/items/resolvers.js
  client/store/reports/items/selectors.js
  client/store/reports/items/test/reducer.js
  client/store/reports/items/test/resolvers.js
  client/store/reports/items/test/selectors.js
  client/store/reports/stats/actions.js
  client/store/reports/stats/index.js
  client/store/reports/stats/reducer.js
  client/store/reports/stats/resolvers.js
  client/store/reports/stats/selectors.js
  client/store/reports/stats/test/reducer.js
  client/store/reports/stats/test/resolvers.js
  client/store/reports/stats/test/selectors.js
  client/store/reports/test/utils.js
Labels: [Status] Ready to Merge

#1399 Build: Create new number package
  packages/currency/package.json
  packages/currency/src/index.js
  packages/number/.npmrc
  packages/number/CHANGELOG.md
  packages/number/README.md
  packages/number/package.json
  packages/number/src/index.js
  packages/number/src/test/index.js
Labels: Build, Packages, [Status] Needs Review

#1400 Update usage of lib/number to @woocommerce/number
  client/analytics/components/leaderboard/test/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/report/categories/table.js
  client/analytics/report/coupons/table.js
  client/analytics/report/customers/table.js
  client/analytics/report/downloads/table.js
  client/analytics/report/orders/table.js
  client/analytics/report/products/table-variations.js
  client/analytics/report/products/table.js
  client/analytics/report/revenue/table.js
  client/analytics/report/stock/table.js
  client/analytics/report/taxes/table.js
  client/dashboard/leaderboards/top-coupons.js
  client/dashboard/leaderboards/top-selling-categories.js
  client/dashboard/leaderboards/top-selling-products.js
  client/dashboard/store-performance/index.js
  client/lib/number/index.js
  client/lib/number/test/index.js
  lib/client-assets.php
  package-lock.json
  package.json
  tests/js/setup-globals.js
  webpack.config.js
Labels: Analytics, Build, Dashboard

#1411 Components package: Add emoji-flags dependency
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#1406 Customers Report: fix order count filter
  client/analytics/report/customers/config.js
Labels: [Status] Ready to Merge, [Type] Bug

#1404 Customers Report: REST API: Fix between argument handling
  includes/api/class-wc-admin-rest-reports-customers-controller.php
  includes/api/class-wc-admin-rest-reports-customers-stats-controller.php
  includes/class-wc-admin-reports-interval.php
  includes/data-stores/class-wc-admin-reports-customers-data-store.php
  tests/api/reports-interval.php
Labels: REST API, [Status] Ready to Merge

#1409 Build: Updates from latest npm publish
  packages/components/package.json
  packages/csv-export/package.json
  packages/currency/CHANGELOG.md
  packages/currency/package.json
  packages/date/package.json
  packages/navigation/package.json
  packages/number/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge

#1403 Finish cleaning up/removing `client/store`.
  client/analytics/components/leaderboard/index.js
  client/analytics/components/leaderboard/test/index.js
  client/analytics/components/report-chart/index.js
  client/analytics/components/report-summary/index.js
  client/analytics/components/report-table/index.js
  client/analytics/report/customers/config.js
  client/analytics/report/revenue/table.js
  client/analytics/report/taxes/config.js
  client/header/activity-panel/panels/inbox.js
  client/header/activity-panel/panels/orders.js
  client/header/activity-panel/panels/reviews.js
  client/lib/async-requests/index.js
  client/store/constants.js
  client/store/utils.js
  client/wc-api/constants.js
  client/wc-api/reports/stats/operations.js
  client/wc-api/reports/utils.js
Labels: [Status] Needs Review

#1407 Add Taxes REST controller override
  includes/api/class-wc-admin-rest-taxes-controller.php
  includes/class-wc-admin-api-init.php
Labels: REST API, [Status] Ready to Merge

#1417 Release/v0.6.0
  docs/components/packages/flag.md
  docs/components/packages/summary.md
  package-lock.json
  package.json
  wc-admin.php
Labels: Build, [Status] Ready to Merge

#1364 Add settings page with excluded order statuses
  client/analytics/settings/README.md
  client/analytics/settings/config.js
  client/analytics/settings/index.js
  client/analytics/settings/index.scss
  client/analytics/settings/setting.js
  client/analytics/settings/setting.scss
  client/layout/controller.js
  client/wc-api/settings/index.js
  client/wc-api/settings/mutations.js
  client/wc-api/settings/operations.js
  client/wc-api/settings/selectors.js
  client/wc-api/wc-api-spec.js
  includes/api/class-wc-admin-rest-setting-options-controller.php
  includes/class-wc-admin-api-init.php
  includes/data-stores/class-wc-admin-reports-data-store.php
  lib/admin.php
  lib/client-assets.php
Labels: Analytics, REST API, [Status] Needs Design Review, [Status] Needs Review

#1442 Packages: Release @woocommerce/components 1.4.2
  packages/components/CHANGELOG.md
  packages/components/package.json
Labels: Build, Components, Packages, [Status] Ready to Merge
