Repository woocommerce/woocommerce-admin, pull requests merged in 2020-12, with the labels that each got.

#5727 Store setup task list - purchase flow copy changes
  client/dashboard/components/cart-modal.js
  client/task-list/tasks.js
Labels: Onboarding, [Status] Ready to Merge

#5759 Prevent unnecessary re-renders when using useSelect
  client/homescreen/activity-panel/index.js
  packages/data/src/user-preferences/test/use-user-preferences.js
  packages/data/src/user-preferences/use-user-preferences.js
Labels: Packages, [Status] Ready to Merge, [Type] Enhancement, cooldown period

#5717 Allow WCA registered pages to register plugin items and categories
  src/Features/Analytics.php
  src/Features/Homescreen.php
  src/Features/Navigation/CoreMenu.php
  src/Features/Navigation/Menu.php
Labels: Navigation, [Status] Needs feedback

#5775 Add Razorpay to payment task for stores in India
  client/task-list/tasks/payments/images/razorpay.js
  client/task-list/tasks/payments/index.js
  client/task-list/tasks/payments/methods.js
  client/task-list/tasks/payments/razorpay.js
  packages/data/src/plugins/constants.js
  src/Features/Onboarding.php
Labels: Packages, Setup Checklist, [Status] Ready to Merge, [Type] Enhancement

#5754 Fix small issues with customer effort score package
  packages/customer-effort-score/package.json
  packages/customer-effort-score/src/index.js
  src/Loader.php
Labels: Build, Packages, [Status] Ready to Merge

#5704 Disable the continue button while requests are being made
  client/profile-wizard/steps/benefits/index.js
  client/profile-wizard/steps/business-details.js
  client/profile-wizard/steps/industry.js
  client/profile-wizard/steps/product-types/index.js
  client/profile-wizard/steps/store-details/index.js
  client/profile-wizard/steps/theme/index.js
Labels: [Status] Ready to Merge, [Type] Bug

#5768 Generate MD5 hashes without bundling all of Node crypto.
  package-lock.json
  package.json
  packages/components/src/gravatar/index.js
  packages/data/src/export/utils.js
  webpack.config.js
Labels: Build, Components, Packages, [Status] Ready to Merge, [Type] Performance, dependencies

#5779 Do not show snackbar for action after it has been dismissed
  client/customer-effort-score-tracks/customer-effort-score-tracks.js
Labels: [Status] Needs Review

#5769 Add changlog instructions
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Build, [Status] Ready to Merge

#5706 Migrate reviews panel to home screen
  client/header/activity-panel/README.md
  client/header/activity-panel/activity-card/style.scss
  client/header/activity-panel/index.js
  client/header/activity-panel/panels/reviews.js
  client/header/activity-panel/unread-indicators.js
  client/homescreen/activity-panel/index.js
  client/homescreen/activity-panel/panels.js
  client/homescreen/activity-panel/reviews/index.js
  client/homescreen/activity-panel/reviews/style.scss
  client/homescreen/activity-panel/reviews/test/index.js
  client/homescreen/activity-panel/reviews/utils.js
  client/homescreen/activity-panel/style.scss
  packages/components/src/accordion/panel.js
  packages/components/src/accordion/test/index.js
  packages/components/src/rating/index.js
  packages/components/src/rating/test/__snapshots__/index.js.snap
  packages/components/src/rating/test/index.js
  packages/data/src/reviews/action-types.js
  packages/data/src/reviews/actions.js
  packages/data/src/reviews/reducer.js
  packages/data/src/reviews/selectors.js
  packages/data/src/reviews/test/reducer.js
Labels: Components, Packages, [Status] Ready to Merge

#5709 Style updates to tax task
  client/homescreen/activity-panel/style.scss
  client/task-list/style.scss
  client/task-list/tasks/appearance.js
  client/task-list/tasks/tax.js
  packages/components/src/plugins/index.js
  packages/components/src/stepper/style.scss
Labels: Components, Homescreen 2.0, Packages, [Status] Needs feedback

#5731 Only show menu items from same parent menu
  client/navigation/components/container/index.js
  src/Features/Navigation/Menu.php
Labels: Navigation, [Status] Ready to Merge

#5707 Add navigation item click tracks
  client/navigation/components/Item/index.js
  client/navigation/components/container/index.js
Labels: Navigation, [Status] Ready to Merge

#5716 embedded activity panels - Add 24px padding top to the container
  client/inbox-panel/style.scss
Labels: [Status] Ready to Merge, [Type] Bug

#5773 Navigation: Introduce wc-admin registration client side navArgs
  client/analytics/report/README.md
  client/analytics/report/get-reports.js
  client/layout/controller.js
  client/layout/navigation.js
  src/Features/Navigation/CoreMenu.php
Labels: Navigation, [Status] Needs feedback, [Status] Ready to Merge

#5783 Skip checking WooCommerce theme support if stylesheet does not exist
  src/Features/Onboarding.php
Labels: Onboarding, [Status] Needs Review, [Type] Bug

#5801 Home Screen: Do not show store setup activity panel.
  client/header/activity-panel/index.js
  client/header/activity-panel/test/index.js
Labels: Needs Cherry Picking, [Tests] Includes Tests

#5776 Update customer data on order update
  src/API/Reports/Customers/DataStore.php
  src/Schedulers/OrdersScheduler.php
  tests/api/reports-customers.php
Labels: [Status] Ready to Merge, cooldown period

#5793 Fix nav group titles showing in child menus
  client/navigation/components/container/index.js
  src/Features/Navigation/Menu.php
Labels: Navigation, [Status] Ready to Merge

#5799 Use callback for customers URL in navigation
  src/Features/Navigation/CoreMenu.php
Labels: Navigation, [Status] Ready to Merge

#5796 CES: Remove CSS transition from CES modal when comments appear
  packages/customer-effort-score/src/customer-feedback-modal/index.js
  packages/customer-effort-score/src/style.scss
Labels: Customer Effort Score, Packages, [Status] Ready to Merge

#5802 Use error_log() to log the deprecated class calls instead of _deprecated_function()
  src/DeprecatedClassFacade.php
Labels: Needs Cherry Picking, [Status] Needs Review, [Type] Bug

#5790 Invalidate product count if the last product was updated in the list
  client/homescreen/activity-panel/orders/utils.js
  client/homescreen/activity-panel/stock/index.js
  readme.txt
Labels: [Status] Needs feedback, [Status] Ready to Merge, [Type] Bug

#5794 Home Screen - modified tasks extensibility
  client/homescreen/layout.js
  client/task-list/index.js
  client/task-list/list.js
  client/task-list/tasks.js
  client/task-list/test/index.js
  docs/examples/extensions/add-task/js/index.js
  docs/examples/extensions/add-task/woocommerce-admin-add-task-example.php
  readme.txt
  src/Features/Onboarding.php
  src/Features/OnboardingTasks.php
  src/Install.php
Labels: Extensibility, Homescreen 2.0, Needs Cherry Picking, [Status] Needs Review

#5800 Use an empty queue if CES feature is not enabled
  client/index.js
Labels: Customer Effort Score, [Status] Ready to Merge, [Type] Bug

#5808 Add Variations Report to the readme.
  readme.txt
Labels: [Status] Needs Review, [Type] Task

#5817 Send store age in weeks to tracks
  client/customer-effort-score-tracks/customer-effort-score-tracks.js
  packages/data/src/constants.js
  packages/data/src/index.js
Labels: Packages, [Status] Needs Review

#5814 Enable CES in core and plugin configs
  config/core.json
  config/plugin.json
Labels: [Status] Needs Review

#5820 Add Customer Type column to the Orders report table
  client/analytics/report/orders/table.js
  readme.txt
Labels: [Status] Ready to Merge

#5821 Add page parameter to getNewPath to override default page wc-admin
  packages/navigation/src/index.js
  packages/navigation/src/test/index.js
  readme.txt
Labels: Navigation, Packages, [Type] Enhancement

#5822 Fix Orders Report Product/Variation Exclusion Filters
  readme.txt
  src/API/Reports/Orders/DataStore.php
  tests/api/reports-orders.php
Labels: Analytics, REST API, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#5823 Fix Inconsistent Customer Type Parameter in REST endpoints
  readme.txt
  src/API/Reports/DataStore.php
  src/API/Reports/Orders/Stats/Controller.php
  src/API/Reports/Orders/Stats/DataStore.php
  tests/reports/class-wc-tests-reports-orders-stats.php
Labels: [Status] Ready to Merge

#5819 Convert before and after dates to UTC in Analytics queries
  src/API/Reports/DataStore.php
Labels: Analytics, [Status] Needs Review, [Type] Bug

#5772 Update README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: Documentation, [Status] Ready to Merge

#5761 Test install script resets test environment
  bin/install-wp-tests.sh
Labels: Build, [Status] Ready to Merge

#5828 Onboarding - Empty spaces should not be allowed as a valid input
  client/dashboard/components/settings/general/store-address.js
Labels: Onboarding, [Status] Needs feedback, [Type] Bug

#5726 Remove WooCommerce Tax copies if it is already installed
  client/task-list/tasks/tax.js
Labels: Onboarding, [Status] Ready to Merge

#5771 Add onboarding settings only for the home and setup wizard pages
  src/Features/Onboarding.php
Labels: [Status] Ready to Merge, [Type] Bug

#5835 Apply CSS directly to woocommerce-homepage-notes-wrapper class to pre…
  client/inbox-panel/style.scss
Labels: [Status] Needs Review, [Type] Bug

#5834 Revert "Convert before and after dates to UTC in Analytics queries"
  src/API/Reports/DataStore.php
Labels: Needs Cherry Picking, [Status] Ready to Merge

#5842 Fix/5831 nav add plugin settings
  src/Features/Navigation/Menu.php
Labels: Navigation, Needs Cherry Picking

#5208 Add filter by variations in reports note
  client/inbox-panel/style.scss
  images/admin_notes/filter-by-product-variations-note.svg
  src/Events.php
  src/Notes/FilterByProductVariationsInReports.php
Labels: Needs Cherry Picking

#5818 Add nav item route regex matching
  client/navigation/test/utils.js
  client/navigation/utils.js
  docs/features/navigation.md
  src/Features/Navigation/CoreMenu.php
  src/Features/Navigation/Menu.php
Labels: Navigation, Needs Cherry Picking, [Status] Needs Review

#5855 Move collapsible to panels config, fixing orders panel
  client/homescreen/activity-panel/index.js
  client/homescreen/activity-panel/panels.js
  readme.txt
Labels: Needs Cherry Picking, [Status] Ready to Merge, [Type] Bug

#5850 Hide shipping cost task if user has disabled shipping
  client/task-list/tasks/shipping/index.js
  client/task-list/test/shipping.js
  tests/js/setup-globals.js
Labels: Onboarding, [Status] Needs Review, [Type] Bug

#5858 Fix issue where store age is 0 while isResolving for the option is returning false
  client/customer-effort-score-tracks/customer-effort-score-tracks.js
Labels: Needs Cherry Picking, [Type] Bug

#5809 Fix count bubble alignment in SearchListItem with latest @wordpress/components
  packages/components/CHANGELOG.md
  packages/components/src/search-list-control/README.md
  packages/components/src/search-list-control/item.js
  packages/components/src/search-list-control/stories/index.js
  packages/components/src/search-list-control/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#5825 Fix updating WC customer without wordpress user (if multiple orders are present)
  readme.txt
  src/API/Reports/Customers/DataStore.php
  tests/api/reports-customers.php
Labels: [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#5833 Home Screen - Small refactor to tasks extensibility
  client/lib/lists/index.js
  client/lib/lists/test/index.js
  client/task-list/index.js
  client/task-list/list.js
  client/task-list/tasks.js
  client/task-list/test/index.js
  docs/examples/extensions/add-task/js/index.js
  docs/examples/extensions/add-task/woocommerce-admin-add-task-example.php
  src/Features/OnboardingTasks.php
Labels: Extensibility, Homescreen 2.0, Needs Cherry Picking

#5845 Only show card placeholder for item that is updating, not the whole list
  client/homescreen/activity-panel/reviews/index.js
  packages/data/src/reviews/reducer.js
  packages/data/src/reviews/test/reducer.js
Labels: Packages, [Status] Ready to Merge, [Type] Bug

#5844 Documentation: Add wc_admin_register_page docs
  docs/page-controller.md
  readme.txt
Labels: Navigation, [Status] Needs feedback, [Status] Ready to Merge

#5787 Use client side filter on the CSV download
  client/analytics/components/report-table/index.js
  client/analytics/report/downloads/table.js
Labels: [Status] Ready to Merge

#5725 fix: remove Historical Analytics Data notice #5286
  src/FeaturePlugin.php
  src/Install.php
  src/Notes/DeprecatedNotes.php
  src/Notes/HistoricalData.php
Labels: [Status] Ready to Merge

#5840 Add Product Attributes Endpoint
  src/API/Init.php
  src/API/ProductAttributeTerms.php
  src/API/ProductAttributes.php
  tests/api/product-attributes.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Enhancement

#5874 Fix typo in Variation Stats Datastore context variable.
  readme.txt
  src/API/Reports/Variations/Stats/DataStore.php
Labels: Needs Cherry Picking, [Status] Needs Review, [Type] Fix

#5811 Register core product taxonomies
  docs/features/navigation.md
  src/Features/Navigation/CoreMenu.php
  src/Features/Navigation/Menu.php
  src/Features/Navigation/Screen.php
Labels: Navigation, Needs Cherry Picking, [Status] Ready to Merge

#5876 Nav Docs: Fix syntax error
  docs/page-controller.md
Labels: [Status] Ready to Merge

#5878 Add filter for root back URL
  client/navigation/components/container/index.js
  src/Features/Navigation/Menu.php
Labels: Navigation, [Status] Ready to Merge

#5770 Dependency Extraction Webpack Plugin: Handle irregular dependency names
  bin/starter-pack/_package.json
  packages/dependency-extraction-webpack-plugin/CHANGELOG.md
  packages/dependency-extraction-webpack-plugin/README.md
  packages/dependency-extraction-webpack-plugin/package.json
  packages/dependency-extraction-webpack-plugin/src/index.js
Labels: Build, Packages, [Status] Needs Review

#5869 Adjust countries for Klarna checkout and payment
  client/task-list/tasks/payments/methods.js
  client/task-list/test/payments.js
Labels: Onboarding, [Status] Ready to Merge

#5877 Update verified product owner view for a review
  client/homescreen/activity-panel/reviews/checkmark-circle-icon.js
  client/homescreen/activity-panel/reviews/index.js
  client/homescreen/activity-panel/reviews/style.scss
  client/homescreen/activity-panel/reviews/test/index.js
  readme.txt
Labels: Homescreen 2.0

#5857 Add navigation opt out modal
  client/wp-admin-scripts/navigation-opt-out/container.js
  client/wp-admin-scripts/navigation-opt-out/index.js
  client/wp-admin-scripts/navigation-opt-out/style.scss
  src/Features/Navigation/Init.php
  webpack.config.js
Labels: Build, Navigation, [Status] Ready to Merge

#5297 Docker App for PHP Test Suite
  docker/wc-admin-php-test-suite/Dockerfile
  docker/wc-admin-php-test-suite/docker-compose.yml
  docker/wc-admin-php-test-suite/entrypoint.sh
  docker/wc-admin-php-test-suite/readme.md
  package.json
  tests/bootstrap.php
Labels: Build, [Status] Ready to Merge

#5848 Support custom product attributes in advanced filter
  client/lib/async-requests/index.js
  packages/components/CHANGELOG.md
  packages/components/src/advanced-filters/attribute-filter.js
  packages/components/src/search/autocompleters/attributes.js
  packages/components/src/search/autocompleters/index.js
  packages/components/src/search/index.js
  packages/components/src/select-control/control.js
  packages/components/src/select-control/index.js
  readme.txt
  src/API/Reports/DataStore.php
  tests/api/reports-orders.php
Labels: Analytics, Components, Packages, REST API, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#5898 Fix HoC-wrapped components from being named "Anonymous".
  packages/data/src/navigation/with-navigation-hydration.js
  packages/data/src/onboarding/with-onboarding-hydration.js
  packages/data/src/options/with-options-hydration.js
  packages/data/src/plugins/with-plugins-hydration.js
  packages/data/src/settings/with-settings-hydration.js
  packages/data/src/user-preferences/with-current-user-hydration.js
Labels: Packages, [Status] Ready to Merge, [Type] Dev

#5880 Allow setting Jetpack connection when JETPACK_MASTER_USER isn't available
  src/Features/OnboardingSetUpShipping.php
  src/Features/ShippingLabelBanner.php
Labels: [Status] Ready to Merge

#5891 update section header component styles to match typography in @wordpress/components
  packages/components/src/section-header/style.scss
Labels: Components, Design, Packages, [Status] Ready to Merge

#5905 Add missing namespace for translation
  client/profile-wizard/steps/industry.js
  client/profile-wizard/steps/product-types/index.js
Labels: [Status] Ready to Merge, [Type] Bug

#5826 Highlight help panel with tooltip
  client/header/activity-panel/highlight-tooltip/index.js
  client/header/activity-panel/highlight-tooltip/style.scss
  client/header/activity-panel/index.js
  client/header/activity-panel/test/index.js
  client/header/index.js
  client/homescreen/layout.js
  client/task-list/index.js
  client/task-list/tasks.js
  packages/data/src/user-preferences/use-user-preferences.js
  readme.txt
  src/Features/Homescreen.php
Labels: Onboarding, Packages, [Status] Ready to Merge

#5753 Unbundle wp.components
  client/profile-wizard/steps/store-details/index.js
  client/stylesheets/_index.scss
  client/stylesheets/shared/_gutenberg-components.scss
  packages/components/src/date-range-filter-picker/index.js
  packages/components/src/date-range-filter-picker/style.scss
  packages/components/src/summary/style.scss
  readme.txt
  src/Features/Navigation/Init.php
  src/Loader.php
  webpack.config.js
Labels: Build, Components, Navigation, Packages, Tech debt, [Status] Needs Review

#5895 Update task list to use wp card component
  client/dashboard/style.scss
  client/task-list/style.scss
  client/task-list/tasks/appearance.js
  client/task-list/tasks/payments/index.js
  client/task-list/tasks/products.js
  client/task-list/tasks/shipping/index.js
  client/task-list/tasks/tax.js
  docs/examples/extensions/add-task/js/index.js
Labels: Onboarding, [Status] Ready to Merge

#5899 Use wp cards in store alerts
  client/layout/store-alerts/index.js
  client/layout/store-alerts/placeholder.js
  client/layout/store-alerts/style.scss
  client/layout/store-alerts/test/index.js
Labels: [Status] Ready to Merge

#5897 Update dashboard charts to use WP Card
  client/analytics/components/leaderboard/index.js
  client/analytics/components/leaderboard/test/__snapshots__/index.js.snap
  client/dashboard/dashboard-charts/block.js
  client/dashboard/dashboard-charts/block.scss
Labels: Dashboard, [Status] Needs Design Review, [Status] Ready to Merge

#5896 Update onboarding setup wizard to use WP Card component
  client/profile-wizard/steps/benefits/index.js
  client/profile-wizard/steps/business-details.js
  client/profile-wizard/steps/industry.js
  client/profile-wizard/steps/product-types/index.js
  client/profile-wizard/steps/product-types/test/__snapshots__/index.js.snap
  client/profile-wizard/steps/store-details/index.js
  client/profile-wizard/steps/theme/index.js
  client/profile-wizard/steps/theme/style.scss
  client/profile-wizard/steps/theme/uploader.js
  client/profile-wizard/style.scss
Labels: Onboarding, [Status] Needs Design Review, [Status] Ready to Merge

#5903 Update filters to use wp card component
  packages/components/src/advanced-filters/index.js
  packages/components/src/advanced-filters/style.scss
  packages/components/src/compare-filter/index.js
  packages/components/src/filters/style.scss
  packages/components/src/search/style.scss
  packages/components/src/select-control/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#5911 Add deprecation notice to wc card component
  packages/components/CHANGELOG.md
  packages/components/src/card/index.js
Labels: Components, Packages, [Status] Ready to Merge

#5901 Add SearchListControl isCompact prop
  packages/components/CHANGELOG.md
  packages/components/src/search-list-control/index.js
  packages/components/src/search-list-control/stories/index.js
  packages/components/src/search-list-control/style.scss
  packages/components/src/search-list-control/test/__snapshots__/index.js.snap
Labels: Components, Packages, [Status] Ready to Merge

#5906 Update WooCommerce Dropdown Button Styles
  packages/components/src/dropdown-button/style.scss
Labels: Components, Design, Packages, [Status] Ready to Merge

#5940 Fix 1.8.x Navigation requirements
  config/core.json
  config/plugin.json
  src/Loader.php
Labels: [Status] Ready to Merge

#5941 Fix completed tasks tracking infinite loop
  client/task-list/list.js
Labels: Needs Cherry Picking, [Priority] Critical, [Status] Ready to Merge

#5948 synch 1.8 readme
  readme.txt
Labels: [Status] Needs Review

#5932 Update chart table borders to match card borders
  packages/components/src/chart/style.scss
Labels: Components, Packages, [Status] Ready to Merge

#5964 Decode entities in titles
  client/navigation/components/header/index.js
Labels: Navigation, [Status] Ready to Merge

#5966 Allow default link behavior when cmd or ctrl are used
  packages/components/src/link/index.js
Labels: Components, Packages, [Status] Ready to Merge

#5973 Don't show Stock or Reviews panels before there are Products and/or Orders.
  client/homescreen/activity-panel/index.js
  client/homescreen/activity-panel/panels.js
  client/homescreen/activity-panel/test/panels.js
  readme.txt
  src/Features/Homescreen.php
Labels: Homescreen 2.0, Needs Cherry Picking, [Status] Ready to Merge, [Tests] Includes Tests, [Type] Bug

#5978 Update ce4wp_referred_by option when Creative Mail gets activated dur…
  client/profile-wizard/steps/business-details.js
Labels: Onboarding, [Status] Ready to Merge

#5972 Fix missing border around the emojis on the CES survey
  packages/customer-effort-score/src/style.scss
Labels: Packages, category: accessibility, feature: customer effort score, needs feedback

#5981 Add label-sync package and config.
  .github/label-sync-config.json
  package-lock.json
  package.json
Labels: Build, status: ready to merge
