Repository woocommerce/woocommerce-admin, pull requests merged in 2021-10, with the labels that each got.

#7730 Add extended task list support to the new REST api task lists
  client/tasks/task-list-item.tsx
  client/tasks/tasks.tsx
  packages/data/package.json
  packages/data/src/onboarding/actions.js
  packages/data/src/onboarding/resolvers.js
  src/API/OnboardingTasks.php
  src/Features/Onboarding.php
  src/Features/OnboardingTasks/Task.php
  src/Features/OnboardingTasks/TaskLists.php
  src/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: status: needs review, Build, Packages

#7722 Add optimistic task completion and cache invalidation
  client/tasks/fills/Marketing/index.tsx
  client/tasks/fills/PaymentGatewaySuggestions/index.js
  client/tasks/fills/appearance.js
  client/tasks/fills/connect.js
  client/tasks/fills/shipping/index.js
  client/tasks/fills/tax.js
  client/tasks/task.tsx
  packages/data/src/onboarding/action-types.js
  packages/data/src/onboarding/actions.js
  packages/data/src/onboarding/reducer.js
Labels: status: ready to merge, Packages, needs changelog entry

#7733 Add show/hide behavior for task list API
  client/homescreen/activity-panel/index.js
  client/homescreen/activity-panel/panels.js
  client/homescreen/activity-panel/test/panels.js
  client/tasks/tasks.tsx
  packages/data/src/onboarding/reducer.js
  src/API/OnboardingTasks.php
  src/Features/OnboardingTasks/Task.php
  src/Features/OnboardingTasks/TaskList.php
Labels: status: ready to merge, Packages, needs changelog entry

#7740 Allow already installed marketing extensions to be activated
  changelogs/fix-7690
  client/task-list/tasks/Marketing/PluginList.tsx
  client/task-list/tasks/Marketing/index.tsx
  client/tasks/fills/Marketing/PluginList.tsx
  client/tasks/fills/Marketing/index.tsx
Labels: status: ready to merge, needs cherry picking

#7745 Sync 2.7.1 changelog
  changelog.txt
Labels: status: ready to merge, needs changelog entry

#7734 Store Profiler and Product task - include Subscriptions
  changelogs/add-7445_include_subscriptions
  client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/test/index.js
  client/profile-wizard/steps/product-types/index.js
  client/profile-wizard/steps/product-types/test/index.js
  client/task-list/task-list.js
  client/task-list/tasks/products/product-template-modal.js
  client/task-list/tasks/products/products.js
  client/task-list/test/products.js
  client/tasks/fills/products/product-template-modal.js
  client/tasks/fills/products/products.js
  config/core.json
  config/development.json
  config/plugin.json
  src/Features/Onboarding.php
  src/Features/RemoteFreeExtensions/EvaluateExtension.php
Labels: status: ready to merge, needs cherry picking

#7746 Add an endpoint and method for actioning tasks
  client/tasks/fills/Marketing/index.tsx
  packages/data/src/onboarding/action-types.js
  packages/data/src/onboarding/actions.js
  packages/data/src/onboarding/reducer.js
  src/API/OnboardingTasks.php
  src/Features/OnboardingTasks/Task.php
  src/Features/OnboardingTasks/Tasks/Marketing.php
  tests/features/onboarding-tasks/task.php
Labels: status: ready to merge, Packages, needs changelog entry

#7743 Add status param support for dismissing all notes
  changelogs/fix-7741_dismiss_all_notes
  client/inbox-panel/index.js
  packages/data/src/notes/actions.js
  src/API/Notes.php
  src/Notes/Notes.php
  tests/api/admin-notes.php
Labels: status: ready to merge, Packages, needs cherry picking

#7658 Use target: es2019 for backward compatibility
  packages/tsconfig.json
Labels: status: ready to merge, Packages, needs changelog entry

#7752 WP-ENV: Use latest version of WooCommerce
  .wp-env.json
Labels: status: ready to merge, Build, needs changelog entry

#7645 add Customers page E2E test
  packages/admin-e2e-tests/CHANGELOG.md
  packages/admin-e2e-tests/src/pages/Customers.ts
  packages/admin-e2e-tests/src/specs/analytics/analytics.ts
Labels: status: ready to merge, type: task, Packages

#7755 Update WC requires/tested versions
  woocommerce-admin.php
Labels: status: ready to merge, needs cherry picking

#7756 OBW - Fix WooCommerce Payments installation footnote visibility
  client/profile-wizard/steps/product-types/index.js
Labels: status: ready to merge, needs cherry picking

#7652 restore closed overview sections before testing
  packages/admin-e2e-tests/CHANGELOG.md
  packages/admin-e2e-tests/src/pages/AnalyticsOverview.ts
  packages/admin-e2e-tests/src/specs/analytics/analytics-overview.ts
Labels: status: ready to merge, type: task, Packages

#7759 Add testing instructions to 7445
  TESTING-INSTRUCTIONS.md
Labels: status: ready to merge, needs cherry picking

#7868 dismiss note immediately upon clicking dismiss button
  client/inbox-panel/index.js
  packages/experimental/src/inbox-note/inbox-note.tsx
  packages/experimental/src/inbox-note/test/inbox-note.tsx
Labels: status: ready to merge, Packages, needs changelog entry
